<nav class="main-nav">
  <header>
    <h1>
      <span class="logo">{{logo}}</span>
      <span class="logoSubTitle">{{company?.fakeName}}</span>
    </h1>
  </header>
  <ul class="no-margin-no-padding">
    <li *ngFor="let menuItem of menuItems.setup">
      <a *ngIf="permissionService.hasSomePermission(menuItem.expectedPermissions)" [ngClass]="{active: activeRoute(menuItem.route)}" [routerLink]="['/' + menuItem.route]" [mdTooltip]="canEnableTooltip(menuItem.label)" mdTooltipPosition="right">
        <i *ngIf="!menuItem.mdIcon" class="{{ menuItem.icon }}"></i>
        <md-icon *ngIf="menuItem.mdIcon" >{{menuItem.mdIcon}}</md-icon>
        <span class="label">{{menuItem.label}}</span>
      </a>
    </li>
    <li *ngFor="let menuItem of menuItems.main">
      <a *ngIf="permissionService.hasSomePermission(menuItem.expectedPermissions)" [ngClass]="{active: activeRoute(menuItem.route)}" [routerLink]="['/' + menuItem.route]" [mdTooltip]="canEnableTooltip(menuItem.label)" mdTooltipPosition="right">
        <i *ngIf="!menuItem.mdIcon" class="{{ menuItem.icon }}"></i>
        <span class="label">{{menuItem.label}}</span>
      </a>
    </li>
    <li *ngFor="let menuItem of menuItems.settings">
        <a *ngIf="permissionService.hasSomePermission(menuItem.expectedPermissions)" [ngClass]="{active: activeRoute(menuItem.route)}" [routerLink]="['/' + menuItem.route]" [mdTooltip]="canEnableTooltip(menuItem.label)" mdTooltipPosition="right">
          <i *ngIf="!menuItem.mdIcon" class="{{ menuItem.icon }}"></i>
          <md-icon *ngIf="menuItem.mdIcon" >{{menuItem.mdIcon}}</md-icon>
          <span class="label">{{menuItem.label}}</span>
        </a>
    </li>
  </ul>
</nav>
