<md-spinner *ngIf="loadingActive" color="warn"> </md-spinner>

<div class="filters" *ngIf="allOccurrences.length > 0">
  <div fxLayout fxLayoutAlign="space-between center" class="top-actionbar">
    <search
      (applyFilter)="filterByText()"
      (onTextChange)="onSearchValueChange($event)"
      [(value)]="searchValue"
      [(showSearch)]="showSearch"
    ></search>

    <md-chip-list class="iconImg">
      <md-chip
        class="chip {{
          this.selectedFilters.accident ? 'active' : ''
        }} accident"
        (click)="toggleActiveFilter('accident')"
        mdTooltip="Clique para Filtrar"
        mdTooltipPosition="above"
      >
        <img
          src="assets/activities/occurrences/accident-icon.png"
          class="accident"
        />
        <span fxHide.lt-md>Acidentes - {{ qtdeAccident }}</span>
      </md-chip>
      <md-chip
        class="chip {{
          this.selectedFilters.incident ? 'active' : ''
        }} incident"
        (click)="toggleActiveFilter('incident')"
        mdTooltip="Clique para Filtrar"
        mdTooltipPosition="above"
      >
        <img
          src="assets/activities/occurrences/incident-icon.png"
          class="incident-img"
        />
        <span fxHide.lt-md>Incidentes - {{ qtdeIncident }}</span>
      </md-chip>
      <md-chip
        class="chip {{
          this.selectedFilters.goodHabits ? 'active' : ''
        }} good-habits"
        (click)="toggleActiveFilter('goodHabits')"
        mdTooltip="Clique para Filtrar"
        mdTooltipPosition="above"
      >
        <img
          src="assets/activities/occurrences/goodHabits-icon.png"
          class="good-habits-img"
        />
        <span fxHide.lt-md>Boas práticas - {{ qtdeGoodHabits }}</span>
      </md-chip>
      <md-chip
        class="chip {{
          this.selectedFilters.nonCompliance ? 'active' : ''
        }} non-compliance"
        (click)="toggleActiveFilter('nonCompliance')"
        mdTooltip="Clique para Filtrar"
        mdTooltipPosition="above"
      >
        <img
          src="assets/activities/occurrences/nonCompliance-icon.png"
          class="non-compliance-img"
        />
        <span fxHide.lt-md>Irregularidades - {{ qtdeNonCompliance }}</span>
      </md-chip>
    </md-chip-list>

    <form [formGroup]="occurrencesDateFilterForm" novalidate>
      <span>&nbsp;&nbsp;&nbsp;</span>
      <md-input-container fxFlex="35">
        <input
          mdInput
          md-datepicker
          dateMask="99/99/9999"
          formControlName="beginAt"
          [(ngModel)]="filterTemp.beginAt"
          [mdDatepicker]="pickerBegin"
          placeholder="data início"
          validateOnBlur
        />
        <button mdSuffix [mdDatepickerToggle]="pickerBegin"></button>
        <md-error *ngIf="hasErrorForm('beginAt', 'invalid')"
          >data inválida.</md-error
        >
        <md-error *ngIf="hasErrorForm('beginAt', 'isbefore')"
          >data superior a data fim.</md-error
        >
        <md-error *ngIf="hasErrorForm('beginAt', 'isnecessary')"
          >data fim não preenchida ou inválida.</md-error
        >
        <md-datepicker #pickerBegin></md-datepicker>
      </md-input-container>

      <span>&nbsp;&nbsp;&nbsp;</span>
      <md-input-container fxFlex="35">
        <input
          mdInput
          dateMask="99/99/9999"
          formControlName="endAt"
          [(ngModel)]="filterTemp.endAt"
          [mdDatepicker]="pickerEnd"
          placeholder="data fim"
          validateOnBlur
        />
        <button mdSuffix [mdDatepickerToggle]="pickerEnd"></button>
        <md-error *ngIf="hasErrorForm('endAt', 'invalid')"
          >data inválida.</md-error
        >
        <md-error *ngIf="hasErrorForm('endAt', 'isbefore')"
          >data inferior a data início.</md-error
        >
        <md-error *ngIf="hasErrorForm('endAt', 'isnecessary')"
          >data início não preenchida ou inválida.</md-error
        >
        <md-datepicker #pickerEnd></md-datepicker>
      </md-input-container>
    </form>

    <button
      md-raised-button
      class="button-red mat-button"
      (click)="applyFilter()"
    >
      Filtrar
    </button>
  </div>
</div>

<div class="list-container">
  <div class="list iconImg" *ngFor="let list of occurrenceLists; let i = index">
    <div class="label">
      <span class="group-title"> {{ list.group }} </span>
      <div class="line"></div>
    </div>
    <ul class="no-margin-no-padding">
      <li *ngFor="let occurrence of list.occurrences">
        <div class="left-infos">
          <a
            href="javascript:void(0)"
            (click)="
              navigateToModal({
                view: occurrence.id
              })
            "
          >
            <img
              src="assets/activities/occurrences/{{ occurrence.type }}-icon.png"
              class="{{ getClassOccurrence(occurrence.type) }}"
            />
            <span class="date"
              ><b>{{ occurrence.relatedBy }} relatou: </b>
              {{ occurrence.title | Limit: 80 }}
            </span>
          </a>
        </div>

        <div class="right-infos">
          <span
            >{{ occurrence.floor }} | {{ occurrence.local }} |
            {{ occurrence.scheduleTo | date: 'dd/MM/yyyy' }}
          </span>
          <button
            md-icon-button
            mdTooltip="Editar"
            (click)="
              navigateToModal({
                edit: occurrence.id
              })
            "
            *ngIf="
              permissionService.hasSomePermission([
                'CONSTRUCTION_ACTIVITIES_OCURRENCE_EDIT'
              ])
            "
          >
            <md-icon>edit</md-icon>
          </button>
          <button
            md-icon-button
            mdTooltip="Excluir"
            (click)="inativateOccurrence(occurrence.id)"
            *ngIf="
              permissionService.hasSomePermission([
                'CONSTRUCTION_ACTIVITIES_OCURRENCE_REMOVE'
              ])
            "
          >
            <md-icon>delete</md-icon>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>

<div
  *ngIf="allOccurrences.length === 0 && showNewOccurrence"
  style="text-align: center;"
>
  <div class="body-content">
    <div fxFlex fxLayout="column" fxLayoutAlign="space-around center">
      <div fxFlex class="hello">
        <p>
          Você não tem ocorrências cadastradas, cadastre uma
          <b>nova ocorrência.</b>
        </p>
      </div>
      <div fxFlex>
        <a
          class="start"
          md-raised-button
          type="button"
          name="button"
          (click)="
            navigateToModal({
              add: true
            })
          "
          *ngIf="
            permissionService.hasSomePermission([
              'CONSTRUCTION_ACTIVITIES_OCURRENCE_INSERT'
            ])
          "
        >
          <span>Cadastrar</span>
        </a>
      </div>
    </div>
  </div>
</div>

<fab-speed-dial
  *ngIf="
    permissionService.hasSomePermission([
      'CONSTRUCTION_ACTIVITIES_OCURRENCE_INSERT'
    ])
  "
  #myFab
  [direction]="'up'"
  [animationMode]="'fling'"
  [fixed]="fixed"
  (mouseenter)="myFab.open = true"
  (mouseleave)="myFab.open = false"
>
  <fab-trigger [spin]="spin">
    <button md-fab>
      <md-icon>add</md-icon>
    </button>
  </fab-trigger>

  <fab-actions>
    <button
      md-mini-fab
      mdTooltip="Adicionar Ocorrência"
      mdTooltipPosition="before"
      (click)="
        navigateToModal({
          add: true
        })
      "
    >
      <i class="safety-icn-alert-svg"></i>
    </button>
  </fab-actions>
</fab-speed-dial>
