<safety-dialog >
    <safety-dialog-header fxLayoutAlign=" center" class="detailDialogHeader iconImg">
        <div *ngIf="detailOccurrence.occClass == 'accident'">
            <img src="assets/activities/occurrences/accident-icon.png" class="accident">
            <span>Acidentes</span>
        </div>
        <div *ngIf="detailOccurrence.occClass == 'incident-img'">
            <img src="assets/activities/occurrences/incident-icon.png" class="incident-img">
            <span>Incidentes</span>
        </div>
        <div *ngIf="detailOccurrence.occClass == 'good-habits-img'">
            <img src="assets/activities/occurrences/goodHabits-icon.png" class="good-habits-img">
            <span>Boas práticas</span>
        </div>
        <div *ngIf="detailOccurrence.occClass == 'non-compliance-img'">
            <img src="assets/activities/occurrences/nonCompliance-icon.png" class="non-compliance-img">
            <span>Irregularidades</span>
        </div>
    </safety-dialog-header>

    <safety-dialog-content>
        <div class="grid-container">
            <div class="grid-column">

                <div class="grid-row">
                    <span>
                        <b>Ocorrência registrada </b><br>
                        <b>{{detailOccurrence.relatedBy}} relatou: </b> {{detailOccurrence.title}}
                    </span>
                </div>

                <div class="grid-row">
                    <span>
                        <b>Onde </b><br>
                        {{detailOccurrence.floor}} | {{detailOccurrence.local}}
                    </span>
                    <span>
                        <b>Quando </b><br>
                        {{detailOccurrence.scheduleTo | date: 'dd/MM/yyyy'}}
                    </span>
                </div>

                <div class="grid-row">
                    <span>
                        <b>Trabalhadores relacionados </b><br>
                        <span *ngFor="let worker of detailOccurrenceDetail.listOccurrenceDetailWorker">
                            <b>{{worker.workerName}}</b><span *ngIf="worker.workerCbo"> - {{worker.workerCbo}}</span><br>
                        </span>
                    </span>
                </div>

                <div class="grid-row">
                    <span>
                        <b>Registrado por </b><br>
                        <span class="mat-card-avatar">
                            <span>{{detailOccurrenceDetail.relatedBy}} | {{detailOccurrenceDetail.jobTitle}}</span>
                        </span>
                    </span>
                </div>

                <div class="grid-row" *ngIf="(detailOccurrenceDetail.listOccurrenceDetailTask).length > 0">
                    <span>
                        <b>Tarefas ({{ detailOccurrenceDetail.listOccurrenceDetailTask.length }} / {{ occurrenceTaskLimit }})</b><br>
                        <span *ngFor="let task of detailOccurrenceDetail.listOccurrenceDetailTask">
                            <button md-button (click)="goToTasks(task.id)">{{task.title}}</button><br>
                        </span>
                    </span>
                </div>

                <div class="grid-row">
                    <span><md-icon>attach_file</md-icon>
                        <b>Anexos </b><br>
                        <div class="files-list">
                            <span *ngFor="let file of detailOccurrenceDetail.listFiles; let fileIndex = index" class="file">
                                <drop-file class="attachedFile"
                                    [editable]="false"
                                    [showPreview]="true"
                                    [image]="file.filePath">
                                </drop-file>
                            </span>
                        </div>
                    </span>
                </div>
            </div>
        </div>

    </safety-dialog-content>

    <safety-dialog-actions>
        <button md-button class="button-default" md-dialog-close>Fechar</button>
        <button md-button class="button-default red-button" md-dialog-close [disabled]="occurenceTaskLimitReached()" (click)="taskCreate()">Criar tarefa relacionada</button>
    </safety-dialog-actions>

</safety-dialog>
