/**
* CCW - Construction Counter Widget
*/

div.ccw {
    top: 15px;
    background-color: #fafafa;
    height: 50px;
    color: #999 !important;
    font-size: 1.1em;
    margin-right: 10px;
}

div.ccw div {
    position: relative;
    top: 10px;
}

div.ccw div span.total-counter {
    display: inline-block !important;
    font-size: 2em;
    margin-left: 12px;
    margin-right: 10px;
    position: relative;
    top: -2px;
    color: #333;
    font-family: sans-serif;
    font-weight: 700;
}

div.ccw div span.total-label {
    display: inline-block !important;
    font-size: 0.8em !important;
    max-width: 90px !important;
    position: relative;
    top: -2px;
}

.counter-numbers {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.6em;
    margin-left: 12px;
    margin-right: 7px;
    position: relative;
    top: 3px;
}

.total-running {
    color: #ffbb1a !important;
}

.total-stopped {
    color: #fc5e5e  !important;
}

.total-finished {
    color: #00a77e  !important;
}

.counter-item {
  display:flex;
  align-items: center;
}
