@import '../../../../../../../../scss/components/color.scss';

.section-title {
    background-color: #F8FAFB;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.question {
    background-color: #F8FAFB;
    margin-top: 3px;
    padding: 0 0 15px 15px;
}

.question-title {
    line-height: 25px;
}

.yes {
    background-color: $green-blue;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    min-width: 15%;
    padding: 0 10px 0 10px;
}

.no {
    background-color: $grapefruit;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    min-width: 15%;
    padding: 0 10px 0 10px;
}

.partially {
    background-color: $sunflower;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    min-width: 15%;
    padding: 0 10px 0 10px;
}

.notApply {
    background-color: $cool-grey;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    min-width: 15%;
    padding: 0 10px 0 10px;
}

.unanswered {
    background-color: $greyish-brown;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    min-width: 15%;
    padding: 0 10px 0 10px;
}

.value {
    margin-left: 25px;
}

.observation-title {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: $link;
    padding: 10px 0 5px 0;
}