<md-card>
    <div class="top">
        <md-icon fxLayout fxLayoutAlign="center center" class="edit" (click)="toPrintEquipments.emit(construction)" mdTooltip="Relatório de manutenção de máquinas e equipamentos" >assignment</md-icon>

        <a class="status-link" routerLink="/constructions/{{construction.id}}">
            <i class="status-icon safety-icn-{{ statusIcon }}-svg" [ngClass]="status"></i>
        </a>

        <md-icon fxLayout fxLayoutAlign="center center" class="edit" (click)="toEdit.emit(construction)">edit</md-icon>

        <a routerLink="/constructions/{{construction.id}}">
            <div class="image-wrapper" fxLayout fxLayoutAlign="center center">
                <img [src]="getLogoUrl()" alt="">
            </div>
        </a>
    </div>


    <div>
        <a routerLink="/constructions/{{construction.id}}">
            <p class="title" [mdTooltip]="construction?.name">{{ construction.name | Limit: 13 }}</p>
        </a>

        <button md-icon-button class="no-pointer-events">
            <span *ngIf="constructionCount?.notifications.sum() > 0" class="numNotifications">{{constructionCount?.notifications.sum()}}</span>
            <md-icon>notifications</md-icon>
        </button>

        <p class="separator"></p>

        <p class="address" [mdTooltip]="construction?.addressStreet">{{ construction.addressStreet || 'Nenhum' | Limit: 30 }}</p>

        <p class="sponsor" [mdTooltip]="construction.responsibleEngineer?.name">Responsável: {{ construction.responsibleEngineer ? (construction.responsibleEngineer.name | Limit: 30) : 'Nenhum'}}
        </p>
    </div>

</md-card>