<form #f="ngForm" (ngSubmit)="save(f)" novalidate>
    <div class="form-content grid-container">

        <div class="grid-column">
            <div class="grid-row">
                <md-input-container>
                    <input mdInput placeholder="Nome"
                    [(ngModel)]="companyContact.name" name="name" trimText>
                </md-input-container>
                <md-input-container>
                        <input mdInput placeholder="Cargo"
                        [(ngModel)]="companyContact.role" name="role" trimText>
                </md-input-container>
            </div>

            <div class="grid-row">
                <md-input-container>
                    <input mdInput placeholder="Telefone"
                    [textMask]="{mask: phoneFaxMask}"
                    [(ngModel)]="companyContact.phone" name="phone">
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="Celular"
                    [textMask]="{mask: phoneFaxMask}"
                    [(ngModel)]="companyContact.celphone" name="celular">
                </md-input-container>

                <md-input-container>
                    <input id="email" mdInput placeholder="E-mail"
                    type="email"
                    [(ngModel)]="companyContact.email" name="email" email trimText>
                </md-input-container>
            </div>
        </div>

    </div>
    <div class="form-bottom">
        <button md-raised-button class="button-default">SALVAR E CONTINUAR</button>
    </div>
</form>
