@import '../../../../../../scss/components/color.scss';

.workerInput {
    min-width: 70%;
    margin-left: 0;
}

.dateInput {
    margin-left: 20%;
}

.separator {
    background-color: $light-gray;
    height: 1px;
    flex: 1;
    flex-grow: 1;
  }

  .header {
      width: 100%;
      padding-top: 40px;

      span {
        font-size: 12px;
        font-weight: bold;
        color: $greyish-brown;
      }
  }

  .main-row {
      max-width: 777px !important;
  }

  .empty {
    font-size: 14px;
    color: $greyish-brown;
    text-align: center;
    .empty-div {
        display:table;
        width:100%;
        table-layout:fixed;
    }
  }

  tbody, .empty {
    display:block;
    height:277px;
    width: 100%;
    overflow:auto;
    border: solid 1px #dfe6e9;

    tr {
        height: 55px;
        border-bottom: solid 1px #dfe6e9;
        font-size: 14px;
        color: $greyish-brown;
    }

    tr:hover {
        background-color:$silver;
    }
}

tr.active {
    background-color:$silver !important;
    color: $greyish-brown !important;
}

.left-side-selection, .right-side-selection {
    width: 45%;
    padding-top: 35px;

    span {
        font-size: 11px;
        font-weight: 900;
        line-height: 1.27;
        letter-spacing: 0.6px;
        text-align: left;
        color: $warm-grey-four;

        span {
            color: $grapefruit;
        }
    }
}

tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

.body-content {
    padding: 0;
}

.search {
    width: 100%;
    margin-left: 0px;
}

.button-group {
  margin: auto;

  md-icon {
      color: white;
  }

  button {
    padding: 0;
    min-width: 36px;
    width: 36px;
    background-color: $cool-grey;
    margin: 10px 20px 10px 20px;
  }
}
