<div fxLayout="column" fxLayoutAlign="space-around start">
    <div class="header">
        <span>selecione o ca do epi a ser entregue</span>
        <div class="separator"></div>
    </div>

    <div class="main-row" fxLayout="row" fxFlexAlign="center" fxLayoutAlign="center center">
        <section class="left-side-selection">
            <span>Relação de Epi</span>

            <md-input-container class="search">
                <md-icon mdPrefix>search</md-icon>
                <input mdInput maxlength="30" #epis id="epis" (input)="searchEquipments($event.target.value)" placeholder="Buscar CA">
            </md-input-container>

            <table *ngIf="filteredCaEpis.length > 0 || filteredIndividualEquipmentList.length > 0">
                <tbody class="body-content">
                    <tr *ngFor="let caEpi of filteredCaEpis" (click)="setSelectedCaEpiToAdd(caEpi)" [class.active]="selectedCaEpiToAdd.includes(caEpi)">
                        <td>CA{{caEpi.ca.ca}} - {{caEpi.epiId.description}}</td>
                    </tr>
                    <tr *ngFor="let individualEquipment of filteredIndividualEquipmentList" (click)="setSelectedIndividualEquipmentToAdd(individualEquipment)" [class.active]="selectedIndividualEquipmentToAdd.includes(individualEquipment)">
                        <td>{{individualEquipment.description}}</td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="filteredCaEpis.length === 0 && filteredIndividualEquipmentList.length === 0" class="empty" fxLayout="row" fxLayoutAlign="center center">
                <div class="empty-div"></div>
            </div>
        </section>

        <div fxLayout="column" class="button-group" fxLayoutAlign="end none">
            <button md-button [disabled]="isAddDisabled()" (click)="addSelected()">
                <md-icon fxHide.lt-md fxShow.gt-sm>keyboard_arrow_right</md-icon>
            </button>
            <button md-button [disabled]="isRemoveDisabled()" (click)="removeSelected()">
                <md-icon fxHide.lt-md fxShow.gt-sm>keyboard_arrow_left</md-icon>
            </button>
        </div>

        <section class="right-side-selection">
            <span>Epi a serem <span> entregues</span></span>

            <md-input-container class="search">
                <md-icon mdPrefix>search</md-icon>
                <input mdInput maxlength="30" #addedEpis id="addedEpis" (input)="searchAddedEquipments($event.target.value)" placeholder="Buscar CA">
            </md-input-container>

            <table *ngIf="filteredAddedCaEpis.length > 0 || filteredAddedIndividualEquipmentList.length > 0">
                <tbody class="body-content">
                    <tr *ngFor="let caEpi of filteredAddedCaEpis" (click)="setSelectedCaEpiToRemove(caEpi)" [class.active]="selectedCaEpiToRemove.includes(caEpi)">
                        <td>CA{{caEpi.ca.ca}} - {{caEpi.epiId.description}}</td>
                    </tr>
                    <tr *ngFor="let individualEquipment of filteredAddedIndividualEquipmentList" (click)="setSelectedIndividualEquipmentToRemove(individualEquipment)" [class.active]="selectedIndividualEquipmentToRemove.includes(individualEquipment)">
                        <td>{{individualEquipment.description}}</td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="filteredAddedCaEpis.length === 0 && filteredAddedIndividualEquipmentList.length === 0" class="empty" fxLayout="row" fxLayoutAlign="center center">
                <p>Clique no <b>item e na seta</b> ao lado para<br> adicionar epis a serem entregues</p>
            </div>
        </section>

    </div>
</div>