@mixin fab-speed-dial-container($box-orient, $flex-direction) {
    -webkit-box-orient: $box-orient;
    -webkit-box-direction: normal;
    -webkit-flex-direction: $flex-direction;
    flex-direction: $flex-direction;
  }

  @mixin fab-speed-dial-box-order($ordinal-group, $order) {
    -webkit-box-ordinal-group: $ordinal-group;
    -webkit-order: $order;
    order: $order;
  }

  @mixin fab-speed-dial-actions($box-orient, $box-direction, $flex-direction, $ordinal-group, $order, $action-item-margin-direction) {
    -webkit-box-orient: $box-orient;
    -webkit-box-direction: $box-direction;
    -webkit-flex-direction: $flex-direction;
    flex-direction: $flex-direction;

    @include fab-speed-dial-box-order($ordinal-group, $order);

    & .fab-action-item {
      margin-#{$action-item-margin-direction}: 10px;
    }
  }

  fab-speed-dial {
    display: inline-block;

    &.opened {
      .fab-speed-dial-container {
        fab-trigger {
          &.spin {
            -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
          }
        }
      }
    }

    .fab-speed-dial-container {
      position: fixed;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      right: 15px;
      bottom: 15px;
      z-index: 200;

      fab-trigger {
        pointer-events: auto;
        z-index: 24;

        &.spin {
          -webkit-transition: all .6s cubic-bezier(.4,0,.2,1);
          transition: all .6s cubic-bezier(.4,0,.2,1);
        }
      }

      fab-actions {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        height: auto;
      }
    }

    &.fling {
      .fab-speed-dial-container {
        fab-actions {
          & .fab-action-item {
            display: block;
            opacity: 1;
            -webkit-transition: all .3s cubic-bezier(.55, 0, .55, .2);
            transition: all .3s cubic-bezier(.55, 0, .55, .2);
          }
        }
      }
    }

    &.scale {
      .fab-speed-dial-container {
        fab-actions {
          & .fab-action-item {
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transition: all .3s cubic-bezier(.55, 0, .55, .2);
            transition: all .3s cubic-bezier(.55, 0, .55, .2);
            -webkit-transition-duration: .14286s;
            transition-duration: .14286s;
          }
        }
      }
    }

    &.down {
      .fab-speed-dial-container {
        @include fab-speed-dial-container(vertical, column);

        & fab-trigger {
          @include fab-speed-dial-box-order(2, 1);
        }

        & fab-actions {
          @include fab-speed-dial-actions(vertical, normal, column, 3, 2, top);
        }
      }
    }

    &.up {
      .fab-speed-dial-container {
        @include fab-speed-dial-container(vertical, column);

        & fab-trigger {
          @include fab-speed-dial-box-order(3, 2);
        }

        & fab-actions {
          @include fab-speed-dial-actions(vertical, reverse, column-reverse, 2, 1, bottom);
        }
      }
    }

    &.left {
      .fab-speed-dial-container {
        @include fab-speed-dial-container(horizontal, row);

        & fab-trigger {
          @include fab-speed-dial-box-order(3, 2);
        }

        & fab-actions {
          @include fab-speed-dial-actions(horizontal, normal, row-reverse, 2, 1, right);
        }
      }
    }

    &.right {
      .fab-speed-dial-container {
        @include fab-speed-dial-container(horizontal, row);

        & fab-trigger {
          @include fab-speed-dial-box-order(2, 1);
        }

        & fab-actions {
          @include fab-speed-dial-actions(horizontal, normal, row, 3, 2, left);
        }
      }
    }

  }
