@import "../../../../scss/components/color.scss";

.options-form {
    margin-bottom: 50px;
}

.options-div {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.form-bottom {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.button-default {
    background-color: #A1ABB0;
    color: white;
    margin-bottom: 10px;
}

.option-label {
  color: #757575;
}
