@import '../../../../../../../../scss/components/color.scss';

.line-info {

    padding: 20px;

    span {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.21;
        text-align: left;
        color: $greyish-brown;
        margin: 0 10px 0 0;
    }

    .name {
        font-weight: bold;
        white-space: normal;
    }
}

.status-info {
    span {
        font-weight: bold;
    }
}

.horizontal-divider {
    margin: 0 1% 0 1%;
}

.status-completed {
    color: #00BD87;
}

.status-scheduled {
    color: #A1ABB0;
}

.status-progress {
    color: #FFC315;
}

.status-delayed {
    color: #FF4C4C;
}

.status-pending {
    color: #3C3C3C;
}
