<safety-list-item [bulkEditable]="false">
  <div fxLayout fxFlex fxLayoutAlign="start center" class="line-info">
    <span class="name" [mdTooltip]="actionPlan?.description"> Plano de Ação: {{ actionPlan?.description | Limit:75 }} </span>
    <span fxHide.sm fxHide.xs *ngIf="actionPlan?.creation" class="horizontal-divider"> | </span>
    <span fxHide.sm fxHide.xs *ngIf="actionPlan?.creation"> Criado em: {{ actionPlan?.creation | date: 'dd/MM/yyyy HH:mm'}} </span>
    <span fxHide.sm fxHide.xs class="horizontal-divider"> | </span>

    <div fxHide.sm fxHide.xs class="status-info">
      <span mdTooltip="Pendentes">
        <md-icon class="status-pending">access_time</md-icon> {{ actionPlan.qtdeStatus05 }}
      </span>
      <span mdTooltip="Agendadas">
        <md-icon class="status-scheduled">access_time</md-icon> {{ actionPlan.qtdeStatus02 }}
      </span>
      <span mdTooltip="Em Progresso">
        <md-icon class="status-progress">access_time</md-icon> {{ actionPlan.qtdeStatus03 }}
      </span>
      <span mdTooltip="Atrasadas">
        <md-icon class="status-delayed">access_time</md-icon> {{ actionPlan.qtdeStatus04 }}
      </span>
      <span mdTooltip="Concluídas">
        <md-icon class="status-completed">access_time</md-icon> {{ actionPlan.qtdeStatus01 }}
      </span>
    </div>
  </div>

  <div fxLayout fxFlex="initial" fxLayoutAlign="end center" class="tools">

    <div *ngIf="onPrinting">
      <md-spinner color="warn"></md-spinner>
    </div>

    <button md-icon-button mdTooltip="Visualizar Ações do Plano" (click)="doOpenActionPlan()">
      <md-icon>update</md-icon>
    </button>

    <button (click)="printActionPlane(actionPlan.idPlan)" [disabled]="onPrinting" md-icon-button mdTooltip="Relatório">
      <md-icon>assignment</md-icon>
    </button>

    <button md-icon-button mdTooltip="Excluir" (click)="questioningInactiveActionPlan()">
      <md-icon>delete</md-icon>
    </button>
  </div>
</safety-list-item>
