.grid-column {
    padding: 0 10px;
    max-width: 560px;
    margin-bottom: 0px !important;
}
.dialog-content{
    width: 600px;
}
.grid-row, md-input-container {
    margin-bottom: 0px !important;
}

drop-file {
    width: 160px;
    height: 160px;
    margin: 0 2em 2em 0;
}

.password-recovery-link {
    font-size: 0.85em;
    text-transform: none;
    text-align: right;
    cursor: pointer;
}
