<div class="main-container" fxLayout.gt-xs="row" fxLayout.lt-sm="column">

    <entrance-page fxLayout.gt-xs="column" fxLayout.lt-sm="row" class="title-container"></entrance-page>

    <div fxLayout.gt-xs="column" fxLayout.lt-sm="row" fxLayoutAlign="center center" class="card-container">
        <md-card>
            <div class="card-title">
                <h2>
                    <b>Seif</b>
                </h2>
                <h5>CADASTRAR NOVA SENHA</h5>
            </div>

            <box-message type="error" title="Erro!" message={{this.error}}></box-message>

            <form [formGroup]="form" (ngSubmit)="updatePassword()" novalidate>
                <div class="form-fields">
                    <md-input-container>
                        <input mdInput type="password" placeholder="NOVA SENHA" name="password" formControlName="password" maxlength="8" minlength="6">
                        <md-error>Digite a senha</md-error>
                    </md-input-container>

                    <md-input-container>
                        <input type="password" mdInput placeholder="CONFIRMAR NOVA SENHA" name="passwordConfirmation" formControlName="passwordConfirmation" maxlength="8" minlength="6">
                        <md-error>Confirmação da senha não combina</md-error>
                    </md-input-container>

                </div>

                <div class="form-bottom" fxLayoutAlign="space-between center" fxLayout="row" fxLayout.lt-md="column">
                    <a fxLayout.lt-md="row" fxFlexOrder.lt-md="1" routerLink="/login">CANCELAR</a>
                    <button fxLayout.lt-md="row" fxFlexOrder.lt-md="-1" md-button class="button-red" [disabled]="!form.valid || loading">ATUALIZAR SENHA</button>
                </div>
            </form>
        </md-card>
    </div>

</div>
