<div class="main-container" fxLayout.gt-xs="row" fxLayout.lt-sm="column">

    <entrance-page fxLayout.gt-xs="column" fxLayout.lt-sm="row" class="title-container"></entrance-page>

    <div fxLayout.gt-xs="column" fxLayout.lt-sm="row" fxLayoutAlign="center center" class="card-container">
        <md-card>
            <div class="card-title">
                <h2>
                    <b>Seif</b>
                </h2>
                <h5>RECUPERAR SENHA</h5>
            </div>

            <div *ngIf="send">
                <box-message type="success" message="{{ message }}"></box-message>
                <button md-button class="button-default" (click)="backToLogin()">VOLTAR PARA LOGIN</button>
            </div>

            <form *ngIf="!send" (ngSubmit)="recoverPassword()" #f="ngForm" novalidate>
                <div class="form-fields">
                    <md-input-container>
                        <input mdInput placeholder="E-MAIL" name="email" [(ngModel)]="model.email" #email="ngModel" required email>
                        <md-error>Digite o e-mail em formato correto</md-error>
                    </md-input-container>
                </div>

                <div class="form-bottom" fxLayoutAlign="space-between center" fxLayout="row" fxLayout.lt-md="column">
                    <a fxLayout.lt-md="row" fxFlexOrder.lt-md="1" routerLink="/login">VOLTAR PARA LOGIN</a>
                    <button fxLayout.lt-md="row" fxFlexOrder.lt-md="-1" md-button class="button-red" [disabled]="!f.valid || loading">RECUPERAR SENHA</button>
                </div>
            </form>
        </md-card>
    </div>

</div>