<ul class="summary no-margin-no-padding">
    <li mdTooltip="Alertas"  *ngIf="hasModule(3)">
        <div class="summary-item">
            <div class="icon" [ngStyle]="{ 'background-image': 'url(' + '/assets/markers/danger-colored.png' + ')' }" title="alerta"></div>
            <span *ngIf="alerts != null">{{ alerts }}</span>
        </div>
    </li>
    <li mdTooltip="Cones"  *ngIf="hasModule(3)">
        <div class="summary-item">
            <div class="icon" [ngStyle]="{ 'background-image': 'url(' + '/assets/markers/cone-colored.png' + ')' }" title="cone"></div>
            <span *ngIf="alerts != null">{{ cones }}</span>
        </div>
    </li>
    <li mdTooltip="Trabalhadores"  *ngIf="hasModule(3)">
        <div class="summary-item">
            <div class="icon" [ngStyle]="{ 'background-image': 'url(' + '/assets/markers/worker-colored.png' + ')' }" title="trabalhador"></div>
            <span *ngIf="alerts != null">{{ workers }}</span>
        </div>
    </li>
    <li mdTooltip="Regulatório" *ngIf="hasModule(1) && !hasModule(3)">
        <div class="summary-item no-value">
            <div class="icon" [ngStyle]="{ 'background-image': 'url(' + '/assets/modules/icones-modulo-regulatorio.png' + ')' }" title=""></div>

        </div>
    </li>
    <li mdTooltip="Informação" *ngIf="hasModule(2) && !hasModule(3)">
        <div class="summary-item no-value">
            <div class="icon" [ngStyle]="{ 'background-image': 'url(' + '/assets/modules/icones-modulo-informacao.png' + ')' }" title=""></div>
        </div>
    </li>
    <li mdTooltip="Comportamento" *ngIf="hasModule(3)">
        <div class="summary-item no-value">
            <div class="icon" [ngStyle]="{ 'background-image': 'url(' + '/assets/modules/icones-modulo-comportamento.png' + ')' }" title=""></div>
        </div>
    </li>
    <li mdTooltip="Apoio Consultivo" *ngIf="hasModule(4)">
        <div class="summary-item no-value">
            <div class="icon" [ngStyle]="{ 'background-image': 'url(' + '/assets/modules/icones-modulo-apoio-consultivo.ico' + ')' }" title=""></div>
        </div>
    </li>
</ul>
