@import '../../../../../scss/components/color.scss';

.summary {
    list-style-type: none;
    padding: 0 10px;
    margin: 0;

    display: flex;
    flex-direction: row;
}

.summary-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
    padding: 8px 0;
    text-align: center;
    margin: 0 6px;
    span {
        font-size: 0.8em;
    }

    .icon {
        width: 20px;
        height: 20px;
        margin: auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.no-value {
  padding: 16px 0;
}

.numNotifications {
    position: absolute;
    margin: 10px 0 0 10px;
    padding: 0 4px 0 4px;
    height: 12px;
    background-color: $grapefruit;
    color: white;
    font-size: 10px;
    font-weight: 900;
    -webkit-border-radius: 10vh;
    -moz-border-radius: 10vh;
    border-radius: 10vh;
    line-height: 10px !important;
}

.no-pointer-events {
    pointer-events: none;
}

@media screen and (min-width: 600px) and (max-width: 959px) {
    .summary {
        padding: 0;
    }
}
