@import '../../../../../../../../scss/components/color.scss';

.separator {
    background-color: $light-gray;
    height: 1px;
    flex: 1;
    flex-grow: 1;
}

.sector{
  padding-top: 10px;
}

.sector-title{
  font-size: 16px;
}

.nowrap{
  white-space: nowrap;
}