<div fxLayout fxLayoutAlign="start center">

    <span class="filters-title" [fxHide.xs]="true" [fxHide.sm]="true">Filtros: </span>

    <div fxFlex fxLayout fxLayoutAlign="center center" class="filter-card" [ngClass]="{ active: (findIndex(icon) === -1) }" 
        *ngFor="let icon of icons" (click)="click(icon)" [mdTooltip]="icon.title">

        <img src="assets/maps/icons/{{ icon.name }}.png" srcset="assets/maps/icons/{{ icon.name }}@2x.png 2x, assets/maps/icons/{{ icon.name }}@3x.png 3x">
    </div>
</div>