<div class="dashboard-card">
    <div class="dashboard-card-header" style="margin: 0px; background-color: #fafafa;">
        <span fxFlex="70" class="chart-title" style="">ocorrências</span>
        <span fxFlex="30">
          <button md-icon-button type="button" (click)="showInfo()" md-tooltip="SAIBA MAIS" style="float: right !important">
            <md-icon style="margin-bottom: 2px;">info_outline</md-icon>
          </button>
        </span>
    </div>
    <div class="dashboard-card-content">
        <md-card style="padding: 10px !important;">
            <md-card-content>
                <div *ngIf="!emptyChart" echarts [options]="chartOption" class="demo-chart" style="background-color: white;"></div>
                <div *ngIf="emptyChart">
                    <p class="emptychart-title">Não há dados para o período selecionado</p>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>