<div class="body-content activities-body-content" id="taskScroll">
      
    <nav md-tab-nav-bar>
        
        <a md-tab-link
            *ngIf="permissionService.hasSomePermission(['CONSTRUCTION_ACTIVITIES_OCURRENCE_LIST'])"
            class="mat-tab-label"
            [routerLink]="'occurrences'" 
            routerLinkActive #rlaOccurrences="routerLinkActive"
            [active]="rlaOccurrences.isActive">
            Ocorrências 
        </a>

        <a md-tab-link
        *ngIf="permissionService.hasSomePermission(['CONSTRUCTION_ACTIVITIES_TASK_LIST'])"
            class="mat-tab-label"
            [routerLink]="'tasks'" 
            routerLinkActive #rlaTask="routerLinkActive"
            [active]="rlaTask.isActive">
            Tarefas 
        </a>
        <a md-tab-link
            *ngIf="permissionService.hasSomePermission(['CONSTRUCTION_ACTIVITIES_CHECKLIST_LIST'])"
            [routerLink]="'checklist'" 
            class="mat-tab-label"
                routerLinkActive #rlaChecklist="routerLinkActive"
                [active]="rlaChecklist.isActive">
            Checklist 
        </a>
        <a md-tab-link
            *ngIf="permissionService.hasSomePermission(['CONSTRUCTION_ACTIVITIES_ACTION_PLAN_LIST'])"
            [routerLink]="'actionPlan'"   
            class="mat-tab-label"
            routerLinkActive #rlaActionPlan="routerLinkActive"
            [active]="rlaActionPlan.isActive">
            Plano de Ação 
        </a>
        <a md-tab-link
            *ngIf="permissionService.hasSomePermission(['COMPANY_TRAINING_SCHEDULE_LIST'])"
            [routerLink]="'trainings'"   
            class="mat-tab-label"
            routerLinkActive #rlaActionPlan="routerLinkActive"
            [active]="rlaActionPlan.isActive">
            Capacitações
        </a>
    </nav>    

    <div> <a md-raised-button class="button-default mat-button" routerLink="/constructions/">Voltar</a> </div>

    <router-outlet ></router-outlet>
   
</div>