<div class="titles" fxLayout="column">
    <div>
        <h1>
            <img class="logo-seif" src="/assets/logo-seif.png" />
        </h1>

        <div class="logo-seif-sub-description">
            CONSTRUÇÃO CIVIL
        </div>
    </div>

    <div class="description">
        <p>
            Você é construtor e ainda não tem
            <br/> uma conta no
            <b>Seif</b>?
            <br/>
            <span class="sub-description">
                Acesse
                <a target="_blank" rel="noopener noreferrer" href="https://saude.sesisc.org.br/solucoes/seif">nosso site</a>
                e conheça mais.
            </span>
        </p>
    </div>

    <footer fxLayout.lt-sm="column" fxLayout="column">
        <div>
            <a href="https://sesisc.org.br/" target="blank"><img class="logo-sesi" src="/assets/logo-sesi.png" /></a>
        </div>
    </footer>
</div>
