@import '../../../../../scss/components/color.scss';

.titles {
    width: 100%;
    h1 {
        display:     inline;
        font-weight: 300;
        font-size:   60px;
        color:       $silver;
    }
    h1:first-child {
        border-bottom:  5px solid $grapefruit;
        padding-bottom: 25px;
        padding-left:   18%;
    }
    .description {
        margin-left: 18%;
        p {
            font-size:   18pt;
            font-weight: 300;
            line-height: 1.5em;
            color:       $silver;
        }
    }
    .sub-description {
        font-size: 14pt;
        a {
            text-decoration: none;
            font-weight: 400;
            border-bottom:  1.25px solid;
            padding-bottom:  1px;
        }
    }
    .logo-seif-sub-description {
        margin-left: 17%;
        font-size: 12pt;
        color: white;
    }
}

footer {
    float: left;
    margin-left:   18%;
    margin-bottom: 5%;
    
    .logo-sesi {
        height: 50px;
    }
    span {
        color:       #ABB4B8;
        font-size:   10pt;
        margin-left: 8px;
    }
}

.logo-seif {
    width: 14%;
    min-width: 100px;
}
