<form #f="ngForm" [formGroup]="companyForm" (ngSubmit)="save()" novalidate enctype="multipart/form-data">
    <div class="form-content grid-container">
        <div class="grid-column">
            <div class="grid-row">

                <drop-file class="half" (fileChanged)="onSelectFile($event)" (fileRemoved)="onRemoveFile()" [image]="company.logoUrl | authPath"></drop-file>
                <div class="grid-column-75">
                    <div class="grid-row">
                        <md-input-container>

                          <input mdInput
                            placeholder="CNPJ"
                            [textMask]="{ mask: cnpjMask }"
                            formControlName="cnpj"
                            [(ngModel)]="company.cnpj"
                            name="cnpj"
                            required
                            (blur)="onBlurCnpj(companyForm.controls.cnpj.hasError('cnpj'))"
                          >

                            <md-error *ngIf="companyForm.controls.cnpj.hasError('required')">Campo Obrigatório.</md-error>
                            <md-error *ngIf="!companyForm.controls.cnpj.hasError('required') && companyForm.controls.cnpj.hasError('cnpj')">CNPJ Inválido.</md-error>
                        </md-input-container>
                        <md-input-container>
                            <input
                              mdInput
                              placeholder="RAZÃO SOCIAL"
                              [(ngModel)]="company.corporateName"
                              name="corporateName" maxlength="255"
                              formControlName="corporateName"
                              trimText
                            >
                        </md-input-container>
                        <md-input-container>
                            <input
                              mdInput
                              placeholder="NOME FANTASIA"
                              [(ngModel)]="company.fakeName"
                              name="fakeName"
                              formControlName="fakeName"
                              maxlength="255"
                              trimText
                            >
                        </md-input-container>
                    </div>
                    <div class="grid-row">
                        <cnae-picker
                          [disabled]="company.integration"
                          [cnaeCode]="company.cnae.code"
                          class="half"
                          (onSearch)="onCnaeSearch($event)"
                        ></cnae-picker>

                        <md-input-container>
                            <input mdInput
                              placeholder="DESCRIÇÃO CNAE"
                              [(ngModel)]="company.cnae.description"
                              name="cnaeDescription"
                              formControlName="cnaeDescription"
                              [disabled]="true"
                            >
                          </md-input-container>
                          <cep-picker
                          [isDisabled]="company.integration"
                          [(cep)]="company.cep"
                          class="half"
                          #companyCep
                          (onSearch)="onCepSearch($event)"
                        ></cep-picker>
                    </div>
                    <div class="grid-row">
                        <md-input-container>
                            <input mdInput
                              placeholder="Cidade / Estado"
                              [(ngModel)]="company.addressStreet"
                              name="addressStreet"
                              formControlName="addressStreet"
                              [disabled]="true"
                            >
                        </md-input-container>
                        <md-input-container>
                            <input mdInput
                            placeholder="NUMERO"
                            [(ngModel)]="company.addressNumber"
                            name="addressNumber"
                            formControlName="addressNumber"
                            maxlength="30"
                            trimText>
                        </md-input-container>
                        <md-input-container>
                            <input mdInput
                            placeholder="COMPLEMENTO"
                            [(ngModel)]="company.addressComplement"
                            name="addressComplement"
                            formControlName="addressComplement"
                            maxlength="100"
                            trimText>
                        </md-input-container>
                    </div>
                    <div class="grid-row" *ngIf="isCompanyUrlDomainOnEdit()">
                        <md-input-container class.gt-sm="url-input-field">
                            <input mdInput
                              placeholder="URL"
                              [(ngModel)]="company.urlDomain"
                              name="urlDomain"
                              maxlength="100"
                              formControlName="urlDomain"
                              (blur)="setCompanyUrlDomainOnEdit(false)"
                              [focus]="focusOnUrlInputField" trimText
                            >
                        </md-input-container>
                    </div>
                    <div class="grid-row" *ngIf="!isCompanyUrlDomainOnEdit()">
                            <div class="grid-column-75">
                                <a [href]="normalizeUrlDomainProtocol(company.urlDomain)" target="_blank">{{ company.urlDomain }}</a>
                                <div class="edit-url-domain-icon">
                                    <md-icon fxLayout fxLayoutAlign="center center" (click)="setCompanyUrlDomainOnEdit(true)" mdTooltip="Editar" mdTooltipPosition="below">edit</md-icon>
                                </div>
                            </div>
                    </div>

                    <div class="grid-row" *ngIf="!showBusinessTree">
                            <div class="grid-column-25">
                                <md-select
                                  required
                                  formControlName="businessUnitId"
                                  placeholder="{{businessTitle}}"
                                  [(ngModel)]="businessUnitId"
                                  (click)="!company.integration && onClickBusinessUnit()"
                                >
                                  <md-option *ngIf="company.businessUnit" [mdTooltip]="company.businessUnit.name" matTooltipPosition="right" [value]="company.businessUnit.id">
                                      {{ company.businessUnit.name }} </md-option>
                                </md-select>
                            </div>

                            <div class="grid-column-25">
                              <md-checkbox
                                formControlName="integration"
                                [(ngModel)]="company.integration"
                                (ngModelChange)="onChangeIntegration()"
                                disableRipple="true" color="primary"
                                [disabled]="disableCheckbox()"
                              >
                              <span>Integração</span>
                              </md-checkbox>
                            </div>
                      </div>

                      <div class="grid-row" *ngIf="permissionService.hasSomePermission(['COMPANY_BUSINESS_UNIT_EDIT'])">
                        <div class="grid-column-50 treeview">
                            <tree-wraper
                            [hidden]="!showBusinessTree"
                            #tree
                            [nodes]="nodes" [options]="options"
                            (activate)="onEvent($event)"
                            ></tree-wraper>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-bottom">
        <button md-raised-button class="button-default" [disabled]="isInvalid()">salvar e continuar</button>
    </div>

</form>
