.title {
    display: block;
    height: 14px;
    font-size: 18px;
    font-weight: 300;
    line-height: 0.78;
    color: #999999;
    display: block;
    margin-bottom: 13px;
}

.font-filter-item {
    color: #999999;
    font-size: 14px;
    font-weight: bold;
}