<div
  #bodyContent
  class="body-content"
>

  <md-spinner
    *ngIf="spin"
    color="warn"
  ></md-spinner>
  <div *ngIf="!spin">
    <div class="list-content">

      <div class="list-wrapper">
        <div
          fxLayout
          fxLayoutAlign="space-between center"
          class="divtop"
        >
          <search
            (applyFilter)="filterByText()"
            (onTextChange)="onSearchValueChange($event)"
            [(value)]="searchValue"
          ></search>
        </div>

        <!-- CADASTRADOS -->
        <div
          class="
            list"
          *ngIf="workerWearables.length > 0 && this.selectedFilters.workerWearableRegistered"
        >
          <virtual-scroll
            [parentScroll]="getParentScroll()"
            [bufferAmount]="4"
            [childHeight]="100"
            [items]="filteredWorkerWearables"
            (update)="scrollWearables = $event"
          >
            <div
              class="epi-item"
              *ngFor="let workerWearable of scrollWearables"
            >
              <wearable-line-detail
                [workerWearable]="workerWearable"
                (removed)="loadWorkerWearables()"
              ></wearable-line-detail>
            </div>
          </virtual-scroll>
        </div>
      </div>

      <div *ngIf="workerWearables.length === 0">
        <div class="body-content">
          <div
            fxFlex
            fxLayout="column"
            fxLayoutAlign="space-around center"
          >
            <div
              fxFlex
              class="hello"
            >
              <p>Olá, não há sensores cadastrados.
              </p>
            </div>
            <div fxFlex>
              <a
                class="start"
                md-raised-button
                type="button"
                name="button"
                (click)="openWorkerWearableDialog()"
              >
                <span>Cadastrar</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <fab-speed-dial
      *ngIf="showFabButton"
      #myFab
      [direction]="direction"
      [animationMode]="animationMode"
      [fixed]="fixed"
      (mouseenter)="myFab.open = true"
      (mouseleave)="myFab.open = false"
    >
      <fab-trigger [spin]="spin">
        <button md-fab>
          <md-icon>add</md-icon>
        </button>
      </fab-trigger>

      <fab-actions>
        <button
          md-mini-fab
          mdTooltip="Cadastrar novo sensor"
          mdTooltipPosition="before"
          (click)="openWorkerWearableDialog()"
        >
          <i class="safety-icn-epi-svg"></i>
        </button>
      </fab-actions>
    </fab-speed-dial>
  </div>
</div>
