li {
    display: block;

    border-bottom: 1px solid #e8e8e8;

    font-size: 0.8em;
    line-height: 2em;
    height: 2em;

    font-weight: bold;
    text-align: left;
    color: #ff4c4c;

    padding-left: 1em;
}