.instruction-img-content {
    width: 200px !important;
}

.instruction-img {
    width: 100%;
}

.instruction-title {
    display: block;
    font-size: 1.6em;
}

.instruction-number {
    font-size: 1.3em;
}

.instruction-obs {
    margin-top: 5px;
    margin-bottom: 5px;
}

.instruction-obs {
    display: block;
}

.instruction-title, .instruction-number, .instruction-obs, .instruction-obs span, .instruction-obs strong {
    text-transform: none; 
    color: #999999;
}

.download-sheet {
    margin-top: 10px;
}

.download-sheet a {
    width: auto;
    opacity: 1;
    background-color: #FF4C4C;
    color: white;
    font-size: 11px;
}

.form-bottom {
    direction: ltr;
    text-align: center;
}

.btn-cancel {
    margin-right: 15px;
}