<form [formGroup]="companyReportForm" fxFlex="100">
  <safety-dialog>
    <safety-dialog-header>
      Gerar Relatório
    </safety-dialog-header>

    <safety-dialog-content fxLayout="column">
      <md-card-subtitle fxFlex="100" fxLayoutAlign="start center">
        Selecionar Relatório
      </md-card-subtitle>

      <md-select id="company-report-type" formControlName="companyReportType" fxFlex="100">
        <md-option *ngFor="let reportType of companyReportType.values()" [value]="reportType">{{
          getReportLabelByType(reportType) }}</md-option>
      </md-select>

      <md-card-subtitle fxFlex="100" fxLayoutAlign="start center">
        Selecionar o Período
      </md-card-subtitle>

      <div fxlayout="row" fxLayout.lt-md="column" fxLayoutGap="2em">
        <md-input-container fxFlex="100">
          <input required mdInput [(ngModel)]="reportRequest.initialPeriod" dateMask="99/99/9999"
            formControlName="initialPeriod" [mdDatepicker]="initialPeriodDatePicker" placeholder="data início">
          <button mdSuffix [mdDatepickerToggle]="initialPeriodDatePicker"></button>
          <md-datepicker #initialPeriodDatePicker></md-datepicker>
          <md-error *ngIf="hasErrorForm('initialPeriod', 'initialAfterFinalPeriod')">data maior que a data final.
          </md-error>
          <md-error *ngIf="hasErrorFormAndTouched('initialPeriod', 'invalid')">data inválida.</md-error>
          <md-error
            *ngIf="hasErrorFormAndTouched('initialPeriod', 'required') && !hasErrorFormAndTouched('initialPeriod', 'invalid')">
            campo obrigatório.</md-error>
        </md-input-container>

        <md-input-container fxFlex="100">
          <input required mdInput [(ngModel)]="reportRequest.finalPeriod" dateMask="99/99/9999"
            formControlName="finalPeriod" [mdDatepicker]="finalPeriodDatePicker" placeholder="data fim">
          <button mdSuffix [mdDatepickerToggle]="finalPeriodDatePicker"></button>
          <md-datepicker #finalPeriodDatePicker></md-datepicker>
          <md-error *ngIf="hasErrorFormAndTouched('finalPeriod', 'initialAfterFinalPeriod')">data menor que a data
            inicial.</md-error>
          <md-error *ngIf="hasErrorFormAndTouched('finalPeriod', 'invalid')">data inválida.</md-error>
          <md-error
            *ngIf="hasErrorFormAndTouched('finalPeriod', 'required') && !hasErrorFormAndTouched('finalPeriod', 'invalid')">
            campo obrigatório.</md-error>
        </md-input-container>
      </div>
    </safety-dialog-content>

    <safety-dialog-actions>
      <button md-button class="button-red" [disabled]="companyReportForm.invalid || this.loading" (click)="doPrintReport()"
      [class.spinner]="this.loading">Gerar Relatório</button>
    </safety-dialog-actions>
  </safety-dialog>
</form>