<form [formGroup]="epiForm" novalidate>
  <div fxLayout="column">
    <div fxFlex="100" class="md-select-container">
      <md-select placeholder="Tipo de EPI" (change)="epiTypeChangeHandler($event)" [ngModel]="epiTypeSelected?.id" [mdTooltip]="epiTypeSelected?.description"
        name="type" formControlName="type" required>
        <md-option *ngFor="let epiType of listEpiType" [value]="epiType.id" [mdTooltip]="epiType.description" matTooltipPosition="right">{{ epiType.description }}</md-option>
      </md-select>
      <md-error *ngIf="epiForm.controls.type.touched && epiForm.controls.type.hasError('required')">Campo Obrigatório.</md-error>
    </div>

    <div fxFlex="100" class="md-select-container">
      <md-select placeholder="Descrição" (change)="epiChangeHandler($event)" [ngModel]="caEpi.epiId?.id" [mdTooltip]="caEpi.epiId?.description"
        name="description" formControlName="description" required>
        <md-option *ngFor="let epi of listEpi" [value]="epi.id" [mdTooltip]="epi.description" matTooltipPosition="right">{{ epi.description }}</md-option>
      </md-select>
      <md-error *ngIf="epiForm.controls.description.touched && epiForm.controls.description.hasError('required')">Campo Obrigatório.</md-error>
    </div>

    <div fxLayout="row" fxFlex="100" fxLayoutGap="2%">
      <md-input-container fxFlex="49">
        <input mdInput placeholder="CA" name="caNumber" formControlName="caNumber" [ngModel]="caNumber" (ngModelChange)="loadExternalImportEpiByCaNumber($event)"
          [textMask]="{ mask: numberMask, guide: false }" required>
        <md-error *ngIf="epiForm.controls.caNumber.hasError('required')">Campo Obrigatório.</md-error>
        <!-- <md-error *ngIf="epiForm.controls.caNumber.hasError('caNotFound')">CA não encontrado.</md-error> -->
        <!-- <md-error *ngIf="epiForm.controls.caNumber.hasError('caExpired')">O EPI informado está vencido. Por favor, informe outro CA.</md-error> -->
        <md-error *ngIf="epiForm.controls.caNumber.hasError('caAlreadyRegistered')">CA já cadastrado para outro epi.</md-error>
      </md-input-container>
      
      <md-input-container fxFlex="49">
        <input [min]="minDate" mdInput placeholder="Validade" required dateMask="99/99/9999" formControlName="dueDate" [mdDatepicker]="dueDatePicker" [ngModel]="getCaDueDate()"
        (ngModelChange)="getDate($event)"
        >
        <button mdSuffix [mdDatepickerToggle]="dueDatePicker"></button>
        <md-datepicker #dueDatePicker></md-datepicker>
      </md-input-container>
    </div>

    <div fxLayout="row" fxFlex="100" fxLayoutGap="2%">
      <md-input-container fxFlex="49">
        <input mdInput placeholder="Tamanho" name="size" formControlName="size" maxlength="5" [(ngModel)]="caEpi.size" required trimText>
        <md-error *ngIf="epiForm.controls.size.hasError('required')">Campo Obrigatório.</md-error>
      </md-input-container>

      <md-input-container fxFlex="49">
        <input mdInput placeholder="Quantidade" name="quantity" formControlName="quantity" [(ngModel)]="caEpi.quantity" maxlength="5"
          [textMask]="{ mask: numberMask, guide: false }" required>
        <md-error *ngIf="epiForm.controls.quantity.hasError('required')">Campo Obrigatório.</md-error>
      </md-input-container>
    </div>

    <div fxLayout="row" fxFlex="100">
      <md-input-container fxFlex="100">
        <textarea mdInput placeholder="Aprovado Para" name="approvedTo" formControlName="approvedTo" [value]="getCaApprovedTo()" (ngModelChange)="getApprovedTo($event)"></textarea>
      </md-input-container>
    </div>

    <div fxFlex="100">
      <drop-file [ngClass]="{ 'thumb': isThumbnailMode() }" [image]="getEpiImg()" (fileChanged)="fileChangeHandler($event)" (fileRemoved)="fileRemovedHandler()">
        <img src="/assets/plus.svg" alt=""/>
        <div>
          <span>
            <b>Adicionar imagem</b>
            <p>Para adicionar arraste ou <a>clique aqui</a></p>
          </span>
        </div>
      </drop-file>
    </div>
  </div>
</form>