<form #f="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="save()">
    <md-spinner class="in-component" *ngIf="savingFloor" color="warn"></md-spinner>
    <safety-categorized-list *ngIf="!savingFloor" (added)="addSector($event)" [newCategoryLabel]="'CLIQUE AQUI PARA ADICIONAR UM NOVO SETOR'"
        safetyAutofocus>

        <div *ngFor="let sector of model.sectors; let sectorIndex = index">
            <safety-categorized-list-item *ngIf="sector.active" [name]="sector.name" [maxLength]="20" [index]="sectorIndex" [deletable]="sector.floors.length === 0 || !floorsActivated(sectorIndex)"
                (edited)="editSector($event)" (removed)="removeSector($event)">

                <ul class="floors-crud-list no-margin-no-padding">

                    <div *ngFor="let floor of sector.floors; let floorIndex = index">
                        <li *ngIf="floor.active" class="floor" ngModelGroup="floor{{floorIndex}}">

                            <drop-file [canChangeImage]="canChangeImage(sectorIndex, floorIndex)" (fileRemoved)="removeFloor(sectorIndex, floorIndex)"
                                [image]="floor.image || (floor.imageUrl + floor.imageFileName | backendPath)" [canRemove]="getCanRemove(floor)"
                                (fileChanged)="blueprintEdited(floor, $event)"></drop-file>
                            <md-input-container>
                                <input mdInput placeholder="Nome do Pavimento" maxlength="30" [(ngModel)]="floor.name" name="name{{sectorIndex + floorIndex}}"
                                    required trimText>
                                <md-error>campo obrigatório</md-error>
                            </md-input-container>
                            <md-input-container>
                                <input mdInput placeholder="SIGLA (EX: GARAG)" maxlength="5" [(ngModel)]="floor.acronym" name="acronym{{sectorIndex + floorIndex}}"
                                    required trimText>
                                <md-error>campo obrigatório</md-error>
                            </md-input-container>

                        </li>
                    </div>

                    <li class="floor">
                        <drop-file [showPreview]="false" [multiple]="true" (fileChanged)="blueprintAdded(sectorIndex, $event);"></drop-file>
                        <span>adicione uma imagem para o pavimento</span>
                    </li>

                </ul>

            </safety-categorized-list-item>
        </div>

    </safety-categorized-list>

    <div class="form-bottom">
        <button md-raised-button class="button-default" [disabled]="isCreating() || !f.valid || (model.sectors.length === 0 && empty) || savingFloor ">Salvar e continuar</button>
    </div>
</form>