$very-bad: #FF7F80;
$bad: #FF9777;
$bad-medium: #FFB569;
$good-medium: #FFCD5F;
$good: #A3C67F;
$very-good: #4EBFA2;
$warm-grey: #9a9a9a;

md-card.custom-header {
    padding: 0 !important;

    > *:not(md-toolbar) {
        padding: 24px;
    }
}

.mat-card-content {
    display: flex;
    align-items: center;

    .bars {

        flex-grow: 1;
        position: relative;
        width: 65%;
        margin-right: 15px;
        
        #background {
            width: 100%;
        }

        #arrow {
            position: absolute;
            left: 0;
            top: 0;
            right: 29.5%;
            bottom: -18px;
            width: 30%;
            height: 60%;
            display: block;
            margin: auto;
            transform-origin: 100% 100%;
        }
    }

    span {
        flex-grow: 0;

        font-size: 0.9em;
        font-weight: 900;
        line-height: 1.4;
        color: $warm-grey;
    }
}

.mat-toolbar {
    font-size: 10px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.5px;
    text-align: left;
    color: white;
}

.very-bad {
    md-toolbar {
        background-color: $very-bad;
    }

    #arrow {
        transform: rotate(-70deg) translate(50%, 0%);
    }
}

.bad {
    md-toolbar {
        background-color: $bad;
    }

    #arrow {
        transform: rotate(-40deg) translate(50%, 0%);
    }
}

.bad-medium {
    md-toolbar {
        background-color: $bad-medium;
    }

    #arrow {
        transform: rotate(-10deg) translate(50%, 0%);
    }
}

.good-medium {
    md-toolbar {
        background-color: $good-medium;
    }

    #arrow {
        transform: rotate(15deg) translate(50%, 0%);
    }
}

.good {
    md-toolbar {
        background-color: $good;
    }

    #arrow {
        transform: rotate(40deg) translate(50%, 0%);
    }
}

.very-good {
    md-toolbar {
        background-color: $very-good;
    }

    #arrow {
        transform: rotate(70deg) translate(50%, 0%);
    }
}
