<safety-card [isHidden]="false" #detailsCard *ngIf="permissionService.hasSomePermission(['CONSTRUCTION_CREATE_CONSTRUCTION_INFORMATION','CONSTRUCTION_CREATE_CONSTRUCTION'])">
    
    <safety-card-header>dados da obra</safety-card-header>
    <safety-card-content>
        <construction-details-form (saved)="onConstructionDetailsSaved($event)"></construction-details-form>
    </safety-card-content>
</safety-card>

<safety-card [isHidden]="true" #constructionModulesCard *ngIf="permissionService.hasSomePermission(['COMPANY_CONSTRUCTIONS_SETUP_MODULES'])">
    
    <safety-card-header>Módulos da obra</safety-card-header>
    <safety-card-content>
        <construction-modules-form (saved)="onConstructionModulesSaved($event)"></construction-modules-form>
    </safety-card-content>
</safety-card>

<safety-card [isHidden]="true" #managersCard *ngIf="permissionService.hasSomePermission(['CONSTRUCTION_CREATE_CONSTRUCTION_MANAGERS','CONSTRUCTION_CREATE_CONSTRUCTION'])">
    <safety-card-header>dados dos responsáveis</safety-card-header>
    <safety-card-content>
        <construction-managers-form (saved)="onConstructionManagersSaved($event)"></construction-managers-form>
    </safety-card-content>
</safety-card>

<safety-card [isHidden]="true" #documentationCard *ngIf="permissionService.hasSomePermission(['CONSTRUCTION_CREATE_CONSTRUCTION_DOCS'])">
    <safety-card-header>controle de documentos</safety-card-header>
    <safety-card-content>
        <construction-documentation [(constructionDocumentationList)]="construction.constructionDocumentationList" (doSave)="doSaveConstructionDocumentation($event)"></construction-documentation>
    </safety-card-content>
</safety-card>

<safety-card [isHidden]="true" #blueprintsCard *ngIf="permissionService.hasSomePermission(['CONSTRUCTION_CREATE_CONSTRUCTION_BLUEPRINTS'])">
    <safety-card-header>plantas</safety-card-header>
    <safety-card-content>
        <safety-construction-blueprints-form (saved)="onConstructionBlueprintsSaved($event)"></safety-construction-blueprints-form>
    </safety-card-content>
</safety-card>

<safety-card [isHidden]="true" #maintenancesCard *ngIf="permissionService.hasSomePermission(['CONSTRUCTION_CREATE_CONSTRUCTION_MAINTENANCES'])">
    <safety-card-header>máquinas e equipamentos</safety-card-header>
    <safety-card-content>
        <construction-maintenances-form (saved)="onConstructionMaintenancesSaved($event)"></construction-maintenances-form>
    </safety-card-content>
</safety-card>

<safety-card [isHidden]="true" #workersCard *ngIf="permissionService.hasSomePermission(['CONSTRUCTION_EDIT_WORKERS'])">
    <safety-card-header>trabalhadores</safety-card-header>
    <safety-card-content>
        <construction-workers-form (saved)="onConstructionWorkersSaved($event)"></construction-workers-form>
    </safety-card-content>
</safety-card>