<safety-list-item [bulkEditable]="false" class="epi-line">
  <div fxLayout fxFlex fxLayoutAlign="start center" class="users-info">

    <span class="user-description">Identificação:
      <b>{{ sensor.identification | coneIdPipe}}</b>
    </span>
    <span class="horizontal-divider"> | </span>
    <span>
      <b>{{ checkType(sensor.type) }}</b>
    </span>
   <!--   <span class="horizontal-divider"> | </span>
  <span> {{managements.profiles.length > 1 ? 'PERFIS:' : 'PERFIL:'}}
      <b>{{ getProfiles(managements.profiles) | Limit: 30 }}</b>
    </span>-->
  </div>

  <div fxLayoutAlign="end center" class="tools">
    <md-icon ngClass.lt-md="slim" fxLayout fxLayoutAlign="center center" (click)="toEditSensor()" mdTooltip="Editar" mdTooltipPosition="above">edit</md-icon>
  </div>
</safety-list-item>