<form id="worker-edit-all-form" fxFlex="100">
  <safety-dialog id="worker-edit-all-dialog">
    <safety-dialog-header>
      Editar status dos trabalhadores
    </safety-dialog-header>

    <safety-dialog-content fxLayout="column">
      <header>
        <span>Trabalhador</span>
        <span>Ativo</span>
      </header>

      <md-list id="workers-list">
        <md-spinner *ngIf="this.loading"></md-spinner>
        <md-list-item *ngFor="let worker of workerList" (click)="toggleWorker(worker)">
          <p>{{worker.name}}</p>
          <md-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="worker.status" [checked]="worker.status"
            class="md-secondary"></md-checkbox>
        </md-list-item>
      </md-list>
    </safety-dialog-content>

    <safety-dialog-actions>
      <button md-button class="button-red" [disabled]="workerReportItemForm.invalid || this.saving"
        [class.spinner]="this.saving" (click)="save()">
        Salvar
      </button>

      <div *ngIf="!this.loading" class="pagination">
        <button md-icon-button (click)="togglePage(currentPage - 1)" [disabled]="currentPage == 1">
          <md-icon class="material-icons">keyboard_arrow_left</md-icon>
        </button>
        <span class="page">{{currentPage}} </span>
        <button md-icon-button (click)="togglePage(currentPage + 1)" [disabled]="currentPage == totalPages">
          <md-icon class="material-icons">keyboard_arrow_right</md-icon>
        </button>
      </div>
    </safety-dialog-actions>
  </safety-dialog>
</form>
