<form [formGroup]="individualEquipmentForm" novalidate>
  <div fxLayout="column">
    <div fxLayout="row" fxFlex="100">
      <md-input-container fxFlex="100">
        <input mdInput placeholder="Descrição" name="description" formControlName="description" [maxlength]="descMaxLength" 
               [(ngModel)]="individualEquipment.description" required trimText>
        <md-hint align="end">{{ individualEquipment.description ? individualEquipment.description.length : 0 }} / {{ descMaxLength }}</md-hint>
        <md-error *ngIf="individualEquipmentForm.controls.description.hasError('required')">Campo Obrigatório.</md-error>
      </md-input-container>
    </div>

    <div fxLayout="row" fxFlex="100" fxLayoutGap="2%">
      <md-input-container fxFlex="49">
        <input mdInput placeholder="Tamanho" name="size" formControlName="size" maxlength="5" [(ngModel)]="individualEquipment.size" required trimText>
        <md-error *ngIf="individualEquipmentForm.controls.size.hasError('required')">Campo Obrigatório.</md-error>
      </md-input-container>

      <md-input-container fxFlex="49">
        <input mdInput placeholder="Quantidade" name="quantity" formControlName="quantity" [(ngModel)]="individualEquipment.quantity" maxlength="5"
          [textMask]="{ mask: numberMask, guide: false }" required>
        <md-error *ngIf="individualEquipmentForm.controls.quantity.hasError('required')">Campo Obrigatório.</md-error>
      </md-input-container>
    </div>

    <div fxLayout="row" fxFlex="100">
      <section class="md-checkbox-container">
        <md-checkbox [(ngModel)]="individualEquipment.registerDelivery" [ngModelOptions]="{standalone: true}">Registrar entrega na ficha de EPI</md-checkbox>
      </section>
    </div>

    <div fxFlex="100">
      <drop-file [ngClass]="{ 'thumb': isThumbnailMode() }" [image]="getEpiImg()" (fileChanged)="fileChangeHandler($event)" (fileRemoved)="fileRemovedHandler()">
        <img src="/assets/plus.svg" alt=""/>
        <div>
          <span>
            <b>Adicionar imagem</b>
            <p>Para adicionar arraste ou <a>clique aqui</a></p>
          </span>
        </div>
      </drop-file>
    </div>
  </div>
</form>