<safety-list-item [bulkEditable]="false" class="epi-line">
  <div fxLayout fxFlex fxLayoutAlign="start center" class="users-info">

    <span class="user-description">
      <b>{{ managements.user.name }}</b>
    </span>
    <span class="horizontal-divider"> | </span>
    <span>
      <b>{{ managements.user.email | Limit: 50 }}</b>
    </span>
   <!--   <span class="horizontal-divider"> | </span>
  <span> {{managements.profiles.length > 1 ? 'PERFIS:' : 'PERFIL:'}}
      <b>{{ getProfiles(managements.profiles) | Limit: 30 }}</b>
    </span>-->
  </div>

  <div fxLayoutAlign="end center" class="tools">
    <md-icon ngClass.lt-md="slim" fxLayout fxLayoutAlign="center center" (click)="toEditUser()" mdTooltip="Editar" mdTooltipPosition="above">edit</md-icon>
    <md-slide-toggle ngClass.lt-md="slim" fxLayout fxLayoutAlign="center center" (change)="click($event, managements)"  mdTooltip="Alterar Status" mdTooltipPosition="above" [checked]="managements.active">
      {{ managements.active ? "Ativo" : "Inativo" }}
    </md-slide-toggle>
  </div>
</safety-list-item>