@import '../../../../../scss/components/color.scss';

.wearable-input-small {
    width: 344px;
}

.message-error-wearable-cpf {
    width: 240px !important;
}

.margin {
    margin-top: 30px;
}

.margin-small {
    margin-top: 10px;
}

.mapping .mat-input-placeholder-wrapper {
    left: 14px;
}