<form [formGroup]="wearableForm" id="formBasicData" name="formBasicData" novalidate>
    <div fxLayout="column" fxLayoutAlign="space-between stretch">
        <div class="margin-small" fxLayout="row" fxLayoutAlign="space-between center">
            <md-input-container>
                <input mdInput class="message-error-wearable-cpf" placeholder="CPF" formControlName="cpfWorker" [textMask]="{ mask: cpfMask }"
                    [(ngModel)]="workerWearableIn.cpfWorker" required>
                <md-error *ngIf="wearableForm.controls.cpfWorker.hasError('required')">Campo Obrigatório.</md-error>
                <md-error *ngIf="!wearableForm.controls.cpfWorker.hasError('required') && wearableForm.controls.cpfWorker.hasError('cpf')">CPF Inválido.</md-error>
                <md-error *ngIf="wearableForm.controls.cpfWorker.hasError('notExistCpf')"> {{cpfNotExistsMessage}} </md-error>
            </md-input-container>
        </div>

        <div class="margin-small" fxLayout="row" fxLayoutAlign="space-between center">
            <md-input-container class="wearable-input-small">
                <input mdInput placeholder="Nome" formControlName="fullname" [(ngModel)]="workerWearableIn.name" trimText>
            </md-input-container>
        </div>

        <md-input-container class="mapping">
            <md-placeholder>
                <md-hint>ID do sensor</md-hint>
            </md-placeholder>

            <input mdInput [(ngModel)]="workerWearableIn.idWearable" formControlName="identification" [textMask]="{ mask: idWearableMask }"
                (keyup)="sendData()">
            <md-error *ngIf="wearableForm.controls.identification.hasError('required')">Campo Obrigatório.</md-error>
            <md-error *ngIf="!wearableForm.controls.identification.hasError('required') && wearableForm.controls.identification.hasError('idWearable')">Id do sensor inválido.</md-error>
            <md-error *ngIf="wearableForm.controls.identification.hasError('existIdWearable')">{{idWearableExistsMessage}}</md-error>
        </md-input-container>
    </div>
</form>