@import '../../../../../../../scss/components/color';

form {
  min-width: 880px;  
}

.sub-title {
  margin-bottom: -5px;
  margin-top: 15px;
}

.close {
  position: relative;
  float: right;
  opacity: 0.4;
  background: transparent;
  border: 0;
  outline: 0;
  text-decoration: none;
  -webkit-appearance: none;

  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
    text-decoration: none;
  }

  .mat-icon {
    color: $grapefruit;
  }
}

.spacer {
  flex: 1 1 auto;
}
md-input-container {
  width: 100%;
}

md-dialog-actions {
  border-top: $silver 1px solid;

  button {
    background-color: $cool-grey;
    color: white;
    min-width: 103px;
    max-width: 173px;
    height: 34px;
    width: auto;

    &[md-button] {
      font-size: 11px;
      font-weight: bold;
      line-height: 0.91;
    }
  }

  .button-link {
    background-color: transparent;
    border: 0;
    color: #de4d4d;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    margin-right: 26px;
    object-fit: contain;
    outline: 0;
    text-decoration: underline;
  }
}

h6 {
  margin: 1.5em 0;
  font-weight: bold;
  color: #81807f;
}

md-list {
  width: 100%;
  height: auto;
  min-width: 360px;
  line-height: 1.27;
  color: $greyish-brown;
  border: 1px solid $light-gray;
  padding-top: 0px !important;

  md-list-item.btn-all {
    border-bottom: 1px solid #e8e8e8;
  }
  md-list-item {
    font-size: 11px;

    md-checkbox {
      padding: 5px 5px;
      margin-left: 5px;
    }

    p.bolder {
      font-weight: bold;
    }
  }

  .md-list-header-counter {
    margin-left:15px
  }

  div.info-empty-box {
    text-align: center;
    margin-top: 30px;
    font-size: 11px;
    justify-content: center;
    p {
      text-align: center;
    }
  }

  div.btn-all {
    font-size: 11px;
    padding: 1px 10px 5px;
    font-weight: bold;
  }
}

span.red-text-highlighted {
  color: $grapefruit;
}

.button-group {
  margin: auto;

  md-icon {
    color: white;
  }

  button {
    padding: 0;
    min-width: 36px;
    width: 36px;
    background-color: $cool-grey;
    margin: 10px 20px 10px 20px;
  }
}

virtual-scroll {
  width: 100%;
  height: 300px;
}

.close-link {
  font-size: 0.75em;
  margin-right: 26px;
  color: #de4d4d;
  text-decoration: underline;
  text-transform: none;
  text-align: right;
  cursor: pointer;
}

.disableDiv {
  pointer-events: none;
  background-color: #9b9a9931;
}

md-radio-button {
  margin-top: 1.5px;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
