<div class="body-content">
    <div fxLayout="row" fxLayoutWrap>

        <safety-card *ngIf="profiles" fxFlex="24" fxFlex.lt-md="100" class="settings-overview-card" [noPadding]="true" toggleDisable>
            <safety-card-header>
                <span>Permissões</span>
            </safety-card-header>
            <safety-card-content>
                <div>
                    <a routerLink="/settings/profile/">
                        <p>Configure as permissões dos perfis</p>
                    </a>
                </div>
            </safety-card-content>
        </safety-card>

        <safety-card *ngIf="profiles" fxFlex="24" fxFlex.lt-md="100" class="settings-overview-card" [noPadding]="true" toggleDisable>
            <safety-card-header>
                <span>Módulos</span>
            </safety-card-header>
            <safety-card-content>
                <div>
                    <a routerLink="/settings/module/">
                        <p>Configure os módulos</p>
                    </a>
                </div>
            </safety-card-content>
        </safety-card>

        <safety-card *ngIf="profiles" fxFlex="24" fxFlex.lt-md="100" class="settings-overview-card" [noPadding]="true" toggleDisable>
          <safety-card-header>
              <span>integração</span>
          </safety-card-header>
          <safety-card-content>
              <div>
                  <a routerLink="/settings/connections/">
                      <p>Configure a integração</p>
                  </a>
              </div>
          </safety-card-content>
      </safety-card>

        <safety-card *ngIf="profiles" fxFlex="24" fxFlex.lt-md="100" class="settings-overview-card" [noPadding]="true" toggleDisable>
            <safety-card-header>
                <span>Cadastrar Empresa</span>
            </safety-card-header>
            <safety-card-content>
                <div>
                    <a routerLink="/settings/create-company/">
                        <p>Cadastre uma nova empresa</p>
                    </a>
                </div>
            </safety-card-content>
        </safety-card>

        <safety-card *ngIf="profiles" fxFlex="24" fxFlex.lt-md="100" class="settings-overview-card" [noPadding]="true" toggleDisable>
          <safety-card-header>
            <span>Escolaridades</span>
          </safety-card-header>
          <safety-card-content>
            <div>
              <a routerLink="/settings/degree/">
                <p>Cadastre uma Escolaridade</p>
              </a>
            </div>
          </safety-card-content>
        </safety-card>

        <safety-card *ngIf="accessFiles" fxFlex="24" fxFlex.lt-md="100" class="settings-overview-card" [noPadding]="true" toggleDisable>
            <safety-card-header>
              <span>Arquivos</span>
            </safety-card-header>
            <safety-card-content>
              <div>
                <a routerLink="/settings/files/">
                  <p>Baixe arquivos</p>
                </a>
              </div>
            </safety-card-content>
        </safety-card>

        <safety-card *ngIf="accessManuals" fxFlex="24" fxFlex.lt-md="100" class="settings-overview-card" [noPadding]="true" toggleDisable>
            <safety-card-header>
              <span>Manuais do Sistema</span>
            </safety-card-header>
            <safety-card-content>
              <div>
                <a routerLink="/settings/manuals/">
                  <p>Baixe os manuais do sistema</p>
                </a>
              </div>
            </safety-card-content>
        </safety-card>
        <safety-card fxFlex="24" fxFlex.lt-md="100" class="settings-overview-card" [noPadding]="true" toggleDisable>
          <safety-card-header>
            <span>Opções de Sistema</span>
          </safety-card-header>
          <safety-card-content>
            <div>
              <a routerLink="/settings/option/">
                <p>Personalize a interface de sistema</p>
              </a>
            </div>
          </safety-card-content>
        </safety-card>

        <safety-card *ngIf="profiles" fxFlex="24" fxFlex.lt-md="100" class="settings-overview-card" [noPadding]="true" toggleDisable>
          <safety-card-header>
            <span>Habilitações</span>
          </safety-card-header>
          <safety-card-content>
            <div>
              <a routerLink="/settings/qualities/">
                <p>Cadastre uma Habilitação</p>
              </a>
            </div>
          </safety-card-content>
        </safety-card>

        <safety-card *ngIf="profiles" fxFlex="24" fxFlex.lt-md="100" class="settings-overview-card" [noPadding]="true" toggleDisable>
          <safety-card-header>
            <span>ASO</span>
          </safety-card-header>
          <safety-card-content>
            <div>
              <a routerLink="/settings/aso/">
                <p>Cadastre uma ASO</p>
              </a>
            </div>
          </safety-card-content>
        </safety-card>
    </div>
</div>
