<div class="body-content">
    <div>
        <a md-raised-button class="button-default mat-button" routerLink="/settings/">Voltar</a>
    </div>
  
    <div class="list-wrapper">
        <div *ngFor="let userProfile of userProfiles">
        
           <div fxFlex fxLayout fxLayoutAlign="space-between center">
  
              <safety-list-item fxFlex="100">
                    <div fxLayout fxFlex="fill" fxLayoutAlign="start center" class="item-info" (click)="openSupplierOverviewDialog()">        
                      <span class="corporate-name">{{ userProfile.name }}</span>
                    </div>
              
                    <div fxFlex="noshrink" fxLayout fxLayoutAlign="start center" class="tools">
                      <a md-icon-button [routerLink]="'/settings/profile/' + userProfile.id + '/edit'">
                          <md-icon>edit</md-icon>
                      </a>  
                    </div>
              </safety-list-item>
           </div>
        </div>
    </div>
   
  </div>