<div
  #bodyContent
  class="listTemplate body-content"
  fxFlex
  [ngSwitch]='status'
>

  <div *ngSwitchCase="'loading'">
    <md-spinner color="warn"></md-spinner>
  </div>

  <div *ngSwitchCase="'active'">

    <div class="list-content">

      <div class="list-wrapper">

        <div
          fxLayout
          fxLayoutAlign="space-between center"
          class="divtop filters"
          *ngIf="managementsList.length > 0"
        >
          <search
            [(value)]="searchValue"
            (applyFilter)="filterByText()"
            (onTextChange)="onSearchValueChange($event)"
          ></search>
          <md-chip-list
            fxFlexOrder.lt-md="0"
            fxFlex.lt-md="100"
            fxFlex
          >
            <md-chip
              class="main-chip"
              mdTooltip="Clique para filtrar"
              [ngClass.lt-md]="{'small-chip': true, active: activeFilter}"
              [ngClass]="{ active: activeFilter }"
              fxLayout
              fxLayoutAlign="center center"
              (click)="toggleActiveFilter()"
            >
              ativos
            </md-chip>
            <md-chip
              class="main-chip"
              mdTooltip="Clique para filtrar"
              [ngClass.lt-md]="{'small-chip': true, active: inactiveFilter}"
              [ngClass]="{ active: inactiveFilter }"
              fxLayout
              fxLayoutAlign="space-around center"
              (click)="toggleInactiveFilter()"
            >
              inativos
            </md-chip>
          </md-chip-list>
        </div>

        <div
          class="list"
          *ngIf="managementsList.length > 0 && !waiting"
        >
          <virtual-scroll
            [parentScroll]="getParentScroll()"
            [bufferAmount]="4"
            [childHeight]="100"
            [items]="managementsFilteredList"
            (update)="scrollManagements = $event"
          >
            <div
              class="user-item"
              *ngFor="let managements of scrollManagements"
            >
              <user-line-detail [managements]="managements"></user-line-detail>
            </div>
          </virtual-scroll>
        </div>

      </div>

      <div *ngIf="managementsList.length == 0">
        <div class="body-content">
          <div
            fxFlex
            fxLayout="column"
            fxLayoutAlign="space-around center"
          >
            <div
              fxFlex
              class="hello"
            >
              <p>Não existem usuários cadastrados.
              </p>
            </div>
            <div fxFlex>
              <a
                class="start"
                md-raised-button
                type="button"
                name="button"
                (click)="openDialogCadastro()"
              >
                <span>Cadastrar</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <fab-speed-dial
    *ngIf="showFabButton"
    #myFab
    [direction]="direction"
    [animationMode]="animationMode"
    [fixed]="fixed"
    (mouseenter)="myFab.open = true"
    (mouseleave)="myFab.open = false"
  >
    <fab-trigger [spin]="spin">
      <button md-fab>
        <md-icon>add</md-icon>
      </button>
    </fab-trigger>

    <fab-actions>
      <button
        md-mini-fab
        mdTooltip="Adicionar Usuário"
        mdTooltipPosition="before"
        (click)="openDialogCadastro()"
      >
        <i class="safety-icn-worker-svg"></i>
      </button>
    </fab-actions>
  </fab-speed-dial>
</div>
