<safety-dialog>

    <safety-dialog-header>
        EXCLUIR AGENDAMENTO
    </safety-dialog-header>

    <safety-dialog-content>
        <p>
            ESTA AÇÃO IRÁ EXCLUIR TODAS AS INFORMAÇÕES DO<br /> AGENDAMENTO, INCLUSIVE A LISTA DE PRESENÇA.
        </p>
        <p> DESEJA REALMENTE EXCLUIR O AGENDAMENTO?
        </p>

     </safety-dialog-content>

        <safety-dialog-actions>
            <button md-button class="button-default" (click)="doCancel()">Não</button>
            <button md-button class="button-red" (click)="doConfirm()">Sim</button>
        </safety-dialog-actions>

</safety-dialog>
