<div
  #bodyContent
  class="body-content"
  [ngSwitch]='status'>
  <div *ngSwitchCase="'loading'">
      <md-spinner color="warn"></md-spinner>
  </div>
  <div *ngSwitchCase="'active'">
      <div
        fxLayout
        fxLayoutAlign="start start"
        class="top-actionbar">
          <div
            fxFlex
            fxLayoutAlign.lt-md="start"
            fxLayoutAlign="start center"
            class="divtop"
            fxLayout="row wrap">
              <search
                fxFlexOrder.lt-md="1"
                [(showSearch)]="showSearch"
                (applyFilter)="filterByText()"
                (onTextChange)="onSearchValueChange($event)"
                [(value)]="searchValue">
              </search>
              <md-chip-list
                fxFlexOrder.lt-md="0"
                fxFlex.lt-md="100"
                fxFlex>
                  <md-chip
                    class="chip-warn"
                    [ngClass]="{ disabled: !activeFilters.onGoing }"
                    fxLayout
                    fxLayoutAlign="start center"
                    (click)="toggleActiveFilter('onGoing')"
                    mdTooltip="Clique para Filtrar"
                    mdTooltipPosition="above">
                      <md-icon
                        class="safety-icn-andamento-svg status-icon"
                        fxLayout
                        fxLayoutAlign="center center">
                      </md-icon>
                      <span
                        fxHide.xs
                        [fxHide.md]="showSearch"
                        class="status-label">
                        Em andamento
                      </span>
                  </md-chip>
                  <md-chip
                    class="chip-danger"
                    [ngClass]="{ disabled: !activeFilters.paralyzed }"
                    fxLayout fxLayoutAlign="start center"
                    (click)="toggleActiveFilter('paralyzed')"
                    mdTooltip="Clique para Filtrar"
                    mdTooltipPosition="above">
                      <md-icon
                        class="safety-icn-paralisadas-svg status-icon"
                        fxLayout fxLayoutAlign="center center">
                      </md-icon>
                      <span
                        fxHide.xs
                        [fxHide.md]="showSearch"
                        class="status-label">
                        Paralisadas
                      </span>
                  </md-chip>
                  <md-chip
                    class="chip-success"
                    [ngClass]="{ disabled: !activeFilters.finished }"
                    fxLayout
                    fxLayoutAlign="start center"
                    (click)="toggleActiveFilter('finished')"
                    mdTooltip="Clique para Filtrar"
                    mdTooltipPosition="above">
                      <md-icon
                        class="safety-icn-finalizadas-svg status-icon"
                        fxLayout
                        fxLayoutAlign="center center">
                      </md-icon>
                      <span
                        fxHide.xs
                        [fxHide.md]="showSearch"
                        class="status-label">
                        Finalizadas
                      </span>
                  </md-chip>
                  <button
                  md-raised-button
                  class="clean-button button-default mat-button"
                  (click)="clearstoragedFilter()">
                  Limpar
                </button>
              </md-chip-list>
              <div
                fxFlexOrder.lt-md="2"
                fxFlex.gt-sm="nogrow"
                fxFlex
                fxLayoutAlign="end center"
                class="right-actionbar">
                  <div fxFill></div>
                  <md-select
                    [fxHide.xs]="showSearch"
                    fxFlex="220px"
                    fxFlex.lt-md="160px"
                    [(ngModel)]="selectedOrder"
                    floatPlaceholder="never"
                    class="order"
                    (change)="search()">
                      <md-option
                        *ngFor="let orderStyle of availableOrders"
                        [value]="orderStyle.sort.field">
                          {{ orderStyle.name }}
                      </md-option>
                  </md-select>
              </div>
          </div>
      </div>
      <div
        fxLayoutAlign="end center"
        class="list-wrapper"
        *ngIf="constructionsRequest.constructions && constructionsRequest.constructions.length > 0">
          <div fxLayoutAlign="end center">
            <button
              md-icon-button
              (click)="previousPage()"
              [disabled]="constructionsRequest.first">
              <md-icon>keyboard_arrow_left</md-icon>
            </button>
            <span>{{constructionsRequest.number + 1}}</span>
            <button
              md-icon-button
              (click)="nextPage()"
              [disabled]="constructionsRequest.last">
              <md-icon>keyboard_arrow_right</md-icon>
            </button>
          </div>
      </div>
      <div *ngIf="constructionsRequest.constructions && constructionsRequest.constructions.length > 0">
          <ul class="no-margin-no-padding">
              <div *ngIf="gtXs">
                      <virtual-scroll
                        [parentScroll]="getParentScroll()"
                        [bufferAmount]="4"
                        [childHeight]="70"
                        [items]="constructionsRequest.constructions"
                        (update)="scrollConstructions = $event">
                          <construction-list-item
                            *ngFor="let construction of scrollConstructions"
                            [construction]="construction"
                            [constructionCount]="getCountByConstruction(construction)"
                            (toEdit)="editConstruction($event.id)"
                            (delete)="deleteConstruction($event)"
                            (toPrintEquipments)="toPrintEquipments($event.id)"></construction-list-item>
                      </virtual-scroll>
                  </div>
                  <div *ngIf="ltSm">
                      <virtual-scroll
                        [parentScroll]="getParentScroll()"
                        [bufferAmount]="4"
                        [childHeight]="350"
                        [items]="constructionsRequest.constructions"
                        (update)="scrollConstructions = $event">
                      <construction-list-card
                        class="card"
                        *ngFor="let construction of scrollConstructions"
                        [construction]="construction"
                        [constructionCount]="getCountByConstruction(construction)"
                        (toEdit)="editConstruction($event.id)"
                        (toPrintEquipments)="toPrintEquipments($event.id)">
                      </construction-list-card>
                  </virtual-scroll>
              </div>
          </ul>
      </div>
      <constructions-landing-page *ngIf="constructionsRequest.constructions && constructionsRequest.constructions.length === 0"></constructions-landing-page>
      <fab-speed-dial
        *ngIf="permissionService.hasSomePermission(['CONSTRUCTION_CREATE_CONSTRUCTION'])"
        #myFab
        [direction]="direction"
        [animationMode]="animationMode"
        [fixed]="fixed"
        (mouseenter)="myFab.open = true"
        (mouseleave)="myFab.open = false">
      <fab-trigger [spin]="spin">
          <button md-fab name="addMore">
              <md-icon>add</md-icon>
          </button>
          </fab-trigger>
          <fab-actions>
              <button
                md-mini-fab
                mdTooltip="Adicionar obra"
                mdTooltipPosition="before"
                (click)="addConstruction()"
                name="addConstruction">
                  <em class="safety-icn-obra-svg"></em>
              </button>
              <button
                md-mini-fab
                mdTooltip="Gerar Relatório"
                mdTooltipPosition="before"
                (click)="openPrintConstuctionDocumentationReportDialog()">
                  <md-icon>assignment</md-icon>
              </button>
          </fab-actions>
      </fab-speed-dial>
  </div>
</div>
