@import '../../../../../scss/components/color.scss';

:host {
    height: 100%;
    width: 100%;
}

.body-content {
    padding: 0 0 20px 0;
}

safety-card-header, md-toolbar {
    font-size: 1.0em;
    font-weight: 900;
    color: $warm-grey-four;
}
.floors {
    overflow: hidden;
    transition: all 1s ease;
    &.hidden {
        max-height: 0;
    }
}
li {
    display: block;
    background-color: white;
    list-style-type: none !important;
    border-bottom: 1px solid $silver;
    &.section > a, li {
        border-bottom: 1px solid $silver;
    }
    .floor:last-of-type {
        border-bottom: none;
    }
    a {
        font-weight: 300;
        box-sizing: border-box;
        background-color: white;
        padding: 15px;
        cursor: pointer;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &.section > a {
        background-color: $pale-gray2;
    }
    &.floor a .name {
        font-size: 1.5em;
        width: 50px;
    }
    &.active {
        border-left: 2px solid $grapefruit;
        a {
            padding-left: 13px;
        }
    }
    &.header {
        font-size: 0.7em;
        font-weight: 900;
        padding: 15px 15px;
        color: $warm-grey-four;
        border-top: 1px solid $silver;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

p {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    color: $warm-grey-four;
    padding: 1em;
    margin: 0;

    b {
        font-weight: 900;
    }
}

.redirect-construction {
    background-color: $grapefruit;
    padding: 20px 65px;
    font-size: 14px;
    font-weight: bold;
    line-height: 0.71;
    text-align: left;
    margin-bottom: 25px;
    color: #ffffff;

    a.action{
        text-decoration: none;
    }
}

md-card.custom-header {
    > *:not(md-toolbar) {
        padding: 0;
    }
}
.summary {
    padding: 0 0px 0 10px;
}