<safety-card infiniteScroll [infiniteScrollDistance]="scrollDistance(sectorOpened)" 
    (scrolled)="scroll()" [fromRoot]="true" [infiniteScrollContainer]="scrollContainer" [scrollWindow]="false"
    toggleDisable="true" noPadding="true">
    <safety-card-header>
        <div fxLayout fxLayoutAlign="space-between center" fxFlex="100">
            <span *ngIf="showing" style="min-width: 100px" class="overview-title">Geral obra</span>
            
            <div fxLayout fxLayoutAlign="end center">
                <summary *ngIf="showing" [alerts]="alerts" [cones]="cones" [workers]="workers">
                </summary>
                <button *ngIf="showResume" md-icon-button (click)="showingChange.emit(!showing)">
                    <md-icon>menu</md-icon>
                </button>
                <button *ngIf="!showResume" md-icon-button>
                </button>
            </div>
        </div>
    </safety-card-header>
    <safety-card-content>
        <div *ngIf="showing">
            <safety-card *ngFor="let sector of sectors" [noPadding]="true" #floorsSummary
                [isHidden]="sector !== sectorOpened" (onOpen)="sectorOpened = sector">
                <safety-card-header fxLayout="row" fxLayoutAlign="space-between center">
                    <span fxFlex class="name" [mdTooltip]="sector.name">{{ sector.name | Limit:15 }}</span>
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <summary [alerts]="sector.summary?.alerts" [cones]="sector.summary?.cones" [workers]="sector.summary?.workers">
                        </summary>
                    </div>
                </safety-card-header>
                <safety-card-content>
                    <ul class="floors no-margin-no-padding" *ngIf="sector === sectorOpened">
                        <li class="header" *ngIf="sector.floors.length > 0">
                            <span>Pavimentos</span>
                            <span>Risco</span>
                        </li>
                        <li class="floor" *ngFor="let floor of sector.floors; let i = index" [ngClass]="{ active: floor === selectedFloor }">
                            <a *ngIf="i <= scrollRange" (click)="selectedFloor = floor">
                                <span class="name">{{ floor.acronym | Limit:5 }}</span>
                                <div fxLayout fxLayoutAlign="end center">
                                    <summary [alerts]="floor.summary?.alerts" [cones]="floor.summary?.cones" [workers]="floor.summary?.workers">
                                    </summary>
                                    <risk-graph fxFlex="40px" [risks]="extractRisks(floor)"></risk-graph>
                                </div>
                            </a>
                        </li>
                        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!sector.floors || sector.floors.length === 0">
                            <p>Setor sem pavimentos cadastrados</p>
                            <a class="redirect-construction" md-raised-button type="button" name="button" (click)="requestConstructionRedirect.emit()">
                                <span>Cadastrar</span>
                            </a>
                        </div>
                    </ul>
                </safety-card-content>
            </safety-card>
        </div>
    </safety-card-content>
</safety-card>
