<form [formGroup]="constructionForm" (ngSubmit)="save()">
    <md-spinner class="in-component" *ngIf="isSaving" color="warn"></md-spinner>
    <div *ngIf="!isSaving" fxLayout="row" fxLayout.md="column" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between">
        <div fxFlex="48" fxLayout="column">
            <div fxFlex="25" fxLayout="row" fxLayoutAlign="space-between">
                <div fxFlex>
                    <md-input-container fxFlex>
                        <input mdInput placeholder="Nome do Empreendimento"  name="constructionName" maxlength="50" [(ngModel)]="model.name" formControlName="name" required trimText >
                        <md-error *ngIf="constructionForm.controls.name.hasError('required')">Campo Obrigatório.</md-error>
                    </md-input-container>
                </div>
            </div>
            <div fxFlex="25" fxLayout="row" fxLayoutAlign="space-between">
                <div fxFlex="48">
                    <cep-picker fxFlex formControlName="cep" [(cep)]="model.cep" (onSearch)="onCepSearch($event)"></cep-picker>
                </div>
                <div fxFlex="48">
                    <md-input-container fxFlex>
                        <input mdInput placeholder="Endereço Completo (RUA, BAIRRO E CIDADE)" [mdTooltip]="model.addressStreet" maxlength="255" [(ngModel)]="model.addressStreet"
                            formControlName="address" name="addressStreet" trimText>
                    </md-input-container>
                </div>
            </div>
            <div fxFlex="25" fxLayout="row" fxLayoutAlign="space-between">
                <div fxFlex="48">
                    <md-input-container fxFlex>
                        <input mdInput placeholder="Número" [textMask]="{ mask: number, guide: false }" [(ngModel)]="model.addressNumber" formControlName="number" name="addressNumber">
                    </md-input-container>
                </div>
                <div fxFlex="48">
                    <md-input-container fxFlex>
                        <input mdInput placeholder="Complemento" maxlength="20" [(ngModel)]="model.addressComplement" formControlName="complement" name="addressComplement" trimText>
                    </md-input-container>
                </div>
            </div>
            <div fxFlex="25" fxLayout="row" fxLayoutAlign="space-between">
                <div fxFlex="48" class="input-text-with-file">
                    <md-input-container fxFlex>
                        <input mdInput placeholder="CNO" [textMask]="{ mask: ceiMask }" [(ngModel)]="model.ceiCode" formControlName="cei" name="cei">
                    </md-input-container>

                    <md-icon (click)="fileInput.click()">attach_file</md-icon>

                    <span class="file-name">
                        <span *ngIf="model.ceiFile">{{ model.ceiFileName }}</span>
                        <a *ngIf="model.ceiUrl && model.ceiFileName && !model.ceiFile" href="{{ model.ceiUrl | backendPath }}" download>{{ model.ceiFileName }}</a>
                    </span>

                    <input #fileInput type="file" (change)="processFile(fileInput.files[0])" [accept]="supportedFileTypes.join(', ')" />

                    <md-icon *ngIf="model.ceiFileName" (click)="removeCei()">close</md-icon>
                </div>
                <div fxFlex="48">
                    <md-select fxFlex="100" placeholder="STATUS DA OBRA" (click)="touch()" [(ngModel)]="model.status" value="status" formControlName="status" name="statusConstructions"
                        required>
                        <md-option *ngFor="let availableStatus of availableStatuses" [value]="availableStatus.value">
                            <md-icon class="status-icon safety-icn-{{ availableStatus.icon }}-svg" [ngClass]="availableStatus.statusClass"></md-icon>
                            {{ availableStatus.label }}
                        </md-option>
                        <md-error class="drop-down" *ngIf="dropDownValidator()">Campo Obrigatório.</md-error>
                    </md-select>
                </div>
            </div>
        </div>
        <div fxFlex="48" fxLayout="column">
            <div fxFlex="50" fxLayout="column">
                <md-input-container fxFlex="100">
                    <textarea mdInput style="height: 82px; resize: none" placeholder="Descrição da Obra" [(ngModel)]="model.description"
                        formControlName="descripton" name="constructionDescription"rows="3" [maxlength]="constructionDescMaxLength" trimText></textarea>
                    <md-hint align="end">{{ model.description ? model.description.length : 0 }} / {{ constructionDescMaxLength }}</md-hint>
                </md-input-container>
            </div>
            <div fxFlex="50" fxLayout="column" fxLayoutAlign.md="space-evenly center" fxLayoutAlign.xs="space-evenly center" fxLayoutAlign.sm="space-evenly center">
                <label>Logo da Obra</label>
                <drop-file [image]="getLogoUrl()" (fileChanged)="onLogoChange($event)" (fileRemoved)="onLogoRemoved()"></drop-file>
            </div>
        </div>
    </div>
    <div class="form-bottom">
        <button md-raised-button class="button-default" [disabled]="constructionForm.invalid" name="btnSalveAndContinue">Salvar e continuar</button>
    </div>
</form>
