<safety-card toggleDisable>
  <safety-card-header>
    <span>
      <b>{{ checklist.name }}</b>
    </span>
  </safety-card-header>

  <safety-card-content>

    <div>
      <ng-container>
        <div
          *ngIf="editable"
          class="center-text-align"
        >
          <span class="information-label">É necessário responder todas as questões para geração do relatório. Para as
            questões que não estão adequadas a situação atual da obra, marque a opção NÃO SE APLICA.</span>
          <br>
          <span class="information-label">Caso deseje interromper o preenchimento para continuar em outro momento,
            clique em CONTINUAR DEPOIS.</span>
        </div>
      </ng-container>
      <div class="row">
        <md-input-container
          fxFlex="18"
          fxFlex.sm="38"
          fxFlex.lt-md="32"
          fxFlex.lt-lg="46"
          fxFlex.lg="23"
        >
          <input
            [textMask]="{mask:number, guide: false}"
            mdInput
            placeholder="TOTAL DE TRABALHADORES NA OBRA"
            [(ngModel)]="checklistAnswer.numberWorkers"
            [disabled]="!editable"
            (ngModelChange)="enableSection()"
            required
            trimText
          >
        </md-input-container>
      </div>

      <ng-container *ngIf="enable">
        <div *ngIf="editable">
          <checklist-section
            *ngFor="let section of checklist.checklistSessions"
            [questionIndexes]="questionIndexes"
            [section]="section"
            [checklistAnswer]="checklistAnswer"
            [checklistPossibleAnswers]="checklistPossibleAnswers"
            (sendIfHasAnswerd)="setHasAnswered($event)"
            (sendIfHasChanged)="setHasChanged()"
          ></checklist-section>
        </div>
      </ng-container>

      <md-spinner
        *ngIf="!editable"
        color="warn"
      ></md-spinner>

      <div
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <button
          md-button
          class="button-default"
          (click)="goBack()"
        >Voltar</button>
        <button
          md-button
          class="button-red"
          (click)="continueLaterChecklist()"
          fxFlexOffset="12px"
          [disabled]="!editable || !enable"
        >Continuar depois</button>
        <button
          md-button
          class="button-red"
          (click)="visualizeResult()"
          fxFlexOffset="12px"
          [disabled]="!editable || !enable || !hasAnswered"
        >Visualizar Relatório</button>
      </div>
    </div>
  </safety-card-content>
</safety-card>
