
safety-card {
    margin: 20px 35px 20px 35px;
}

md-spinner{
    position: relative;
    margin-bottom: 30px;
}

.information-label {
    text-transform: none !important;
    text-align: center;
}

.center-text-align {
    text-align: center;
}
