.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graph-options-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.graph-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.legend {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5px;
}

md-slide-toggle {
  display: flex;
  align-items: center;
}

.graph-type {
  border-top: 1px dotted #B8B9B9;
  line-height: 5x;
  margin-top: 5px;
}

.canvas_principal {
  justify-content: center;
  width: 98%;
  text-align:center;
  padding-top: 10px;
  flex-direction: column;
}

canvas{
  display: inline;
}

.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.input-date-year {
  text-align: center;
  width: 50px;
  margin-left: 15px;
  color: black;
}

.eixo_x {
  text-align: center;
  min-width: 100%;
  margin-left: 8px;
  font-size: 0.85em;
  font-weight: bold;
  justify-content: center;
  strong {
    font-weight: lighter;
    font-size: 2em;
  }
}

.eixo_y {
  margin-left: 8px;
  font-size: 0.85em;
  font-weight: bold;
  strong {
    font-weight: lighter;
    font-size: 2em;
  }
}

.legenda_cinza{
  color: #999999;
}
