<safety-card class="card-principal" toggleDisable>

    <safety-card-header class="card-header">
        <span>Status Durante Andamento da Obra</span>

        <div class="date-container">
            <div>
            <md-select [(ngModel)]="dateMonth" name="month">
                <md-option class="input-date-month" *ngFor="let month of months" [value]="month.value">
                    {{month.viewValue}}
                </md-option>
            </md-select>
            </div>

            <div>
            <input mdInput type="number" id="dateYear" class="input-date-year" [min]="2020" [max]="today.getFullYear()" [(ngModel)]="dateYear">
            </div>

            <div>
            <button md-icon-button type="button" (click)="searchWorkersEmotions()">
                <md-icon>search</md-icon>
            </button>
            </div>
        </div>

        <div>
            <button md-icon-button [mdMenuTriggerFor]="menu" aria-label="Editar opções do gráfico">
                <md-icon>more_vert</md-icon>
              </button>
              <md-menu #menu="mdMenu"><br/>
                    <div class="graph-options-menu">

                        <div class="graph-options legend">
                            <div>
                                <label>Legenda</label>
                            </div>
                            <div>
                                <md-slide-toggle
                                    md-tooltip="Legenda do gráfico"
                                    [(ngModel)]="lineChartLegend"
                                    [checked]="lineChartLegend"
                                    (change)="changeLegend()">
                                </md-slide-toggle>
                            </div>
                        </div>

                        <button class="graph-type" md-menu-item *ngIf="graphType == 1" (click)="changeGraph()">
                            <md-icon>insert_chart_outlined</md-icon>
                            <span>Gráfico de barras</span>
                        </button>

                        <button class="graph-type" md-menu-item *ngIf="graphType == 2" (click)="changeGraph()">
                            <md-icon>show_chart_outlined</md-icon>
                            <span>Gráfico de linhas</span>
                        </button>

                    </div>
              </md-menu>
        </div>

    </safety-card-header>

    <safety-card-content>

        <div class="canvas_principal">
            <canvas baseChart id="emotionCanvas" *ngIf="lineChartData.length > 0" width="640" height="250"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [legend]="lineChartLegend"
                [options]="lineChartOptions"
                [colors]="colors"
                [chartType]="lineChartType">
            </canvas>
        </div>

    </safety-card-content>
</safety-card>
