.button-default {
  background-color: #A1ABB0;
  color: white;
  margin-bottom: 10px;
}

strong {
  color: #777;
}

.connection-item + .connection-item {
  margin-top:  50px;
}

.form-bottom {
  display: flex;
  justify-content: space-between;
}

.checkbox-span{
  margin-right: 10px;
}

.last-integration {
  color: #3191bd;
  display: flex;
  align-items: center;

  > .info-icon {
    color: #3fb5eb;
    margin-right: 5px;
  }
}

