<safety-dialog>
  <safety-dialog-header>
    {{ getDialogTitle() }}
  </safety-dialog-header>

  <safety-dialog-content>
    <md-radio-group name="equipmentType" [disabled]="isOnEdit()">
      <md-radio-button [checked]="equipmentTypeChecked() === EPI_TYPE" (change)="onEquipmentTypeChange($event)" [value]="EPI_TYPE">EPI</md-radio-button>
      <md-radio-button [checked]="equipmentTypeChecked() === OTHER_EQUIPMENT_TYPE" (change)="onEquipmentTypeChange($event)" [value]="OTHER_EQUIPMENT_TYPE">Outro Equipamento</md-radio-button>
    </md-radio-group>

    <md-spinner *ngIf="isLoadingActive('loadEquipment')" color="warn"></md-spinner>

    <epi-form #epiFormComponent *ngIf="! isLoadingActive('loadEquipment')" [fxShow]="equipmentTypeChecked() === EPI_TYPE" [caEpi]="equipment"></epi-form>
    <individual-equipment-form #individualEquipmentFormComponent *ngIf="! isLoadingActive('loadEquipment')" [fxShow]="equipmentTypeChecked() === OTHER_EQUIPMENT_TYPE" [individualEquipment]="equipment"></individual-equipment-form>

  </safety-dialog-content>

  <safety-dialog-actions>
    <button md-button class="button-red" (click)="save()" [disabled]="! isFormValid()">{{ isOnEdit() ? 'Salvar' : 'Cadastrar' }}</button>
  </safety-dialog-actions>
</safety-dialog>