<safety-dialog>
    <safety-dialog-header>
        {{ getDialogTitle() | Limit: 30 }}
    </safety-dialog-header>

    <safety-dialog-content>
      <p *ngIf="origin === 2">
         Após imprimir não será possível editar o checklist.
      </p>
      <p>
        Ao confirmar, as ações abaixo serão concluídas.
      </p>

      <div class="action-plan-item-list-container">
        <div *ngFor="let actionPlanItem of getActionPlanItemListPage()">
          <p>{{ actionPlanItemList.indexOf(actionPlanItem) + 1 }} - {{ actionPlanItem.description }} ({{ actionPlanItem.priority }})</p>
        </div>
      </div>

      <div *ngIf="getActionPlanItemTotalPages() > 1" fxLayoutAlign="center center">
        <button md-icon-button [disabled]="actionPlanItemPageIndex <= 1" (click)="goToActionPlanItemPreviousPage()">
          <md-icon>navigate_before</md-icon>
        </button>
        <span>{{ actionPlanItemPageIndex }} / {{ getActionPlanItemTotalPages() }}</span>
        <button md-icon-button [disabled]="actionPlanItemPageIndex >= getActionPlanItemTotalPages()" (click)="goToActionPlanItemNextPage()">
          <md-icon>navigate_next</md-icon>
        </button>
      </div>
    </safety-dialog-content>

    <safety-dialog-actions>
        <button md-button class="button-default" (click)="doCancel()">{{ getCancelButtonLabel() }}</button>
        <button md-button class="button-red" (click)="doConfirm()">{{ getConfirmButtonLabel() }}</button>
    </safety-dialog-actions>
</safety-dialog>