<safety-list-item [bulkEditable]="false">
  <div
    fxLayout
    fxFlex
    fxLayoutAlign="start center"
    class="worker-info"
  >
    <span
      fxHide.sm
      fxHide.xs
      *ngIf="checklistAnswer?.beginAnswer"
      class="checklist-info"
    > Respondido em: {{ checklistAnswer?.beginAnswer | date: 'dd/MM/yyyy HH:mm'}} </span>
    <span
      fxHide.sm
      fxHide.xs
      *ngIf="checklistAnswer?.user?.name"
      class="horizontal-divider"
    > | </span>
    <span
      fxHide.sm
      fxHide.xs
      *ngIf="checklistAnswer?.user?.name"
      class="checklist-info"
    > Por: {{ checklistAnswer?.user?.name }} </span>
  </div>
  <div>
    <div
      *ngIf="!loading && permissionService.hasSomePermission(['CONSTRUCTION_ACTIVITIES_CHECKLIST_ANSWER'])"
      fxLayout
      fxFlex="auto"
      fxLayoutAlign="end center"
      class="tools"
    >
      <button
        md-icon-button
        mdTooltip="Continuar Responder"
        (click)="emitActiveQuestions()"
        *ngIf="!hasAppPendingChecklistQuestions"
      >
        <md-icon>update</md-icon>
      </button>

      <div
        class="checklist-warning"
        mdTooltip="Finalize a sincronia através do aplicativo"
        *ngIf="hasAppPendingChecklistQuestions"
      >
        <md-icon>warning</md-icon>
      </div>
    </div>

    <md-spinner *ngIf="loading"></md-spinner>
  </div>
</safety-list-item>
