@import '../../../../../../scss/components/color.scss';

.worker-info {

    a {
        text-decoration:none;
    }

    padding: 20px;
    span {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.21;
        text-align: left;
        color: $greyish-brown;
        margin: 0 10px 0 0;
    }
    .name {
        font-weight: bold;
    }
    .cbo {
        font-weight: normal;
    }
    md-icon {
        width: 22px;
        height: 22px;
        font-size: 10px;
        color: white;
        margin: 0 15px 0 0;
        background-color: $green-blue;
    }
}

.tools {
    padding: 0 10px;

    & > md-icon {
        color: $silver2;
        cursor: pointer;
        font-size: 20px;

        &:hover {
            color: black;
        }
    }

    .bell {
        margin: 0 15px;
        color: $greyish-brown;
    }

    .pencil {
        margin: 0 5px;
    }

    img {
        width: 16px;
        height: 16px;
    }

    .labeled-icon {
        margin: 5px 10px;

        span {
            margin-top: 5px;
            font-size: 12.1px;
            font-weight: 300;
            line-height: 1;
            text-align: center;
            color: $greyish-brown;
        }
    }
}

.success    { background-color: $green-blue !important; }
.danger     { background-color: $grapefruit !important; }
.warn       { background-color: $sunflower !important; }

.worker-inactive span {
    color: $greyish;
}

.worker-status {
    background-color: #5E5E5E;
    color: #FFFFFF;
}
