<safety-list-item [bulkEditable]="false">
    <div fxLayout fxFlex fxLayoutAlign="start center" class="worker-info" [class.worker-inactive]="!worker.status">
        <md-icon *ngIf="worker.contractType === 'Terceiro'" fxLayout fxLayoutAlign="center center">title</md-icon>
        <a href="javascript:void(0)" (click)="openDialog(worker)">
            <span class="name" [mdTooltip]="worker?.name"> {{ worker.name | Limit:30 }} </span>
            <span fxHide.sm fxHide.xs class="horizontal-divider"> | </span>
            <span fxHide.sm fxHide.xs class="cbo" [hidden]="worker.cbos.code === null"> {{ worker.cbos.code | cbosRemoveSynonymLetter }} </span>
            <span fxHide.sm fxHide.xs class="horizontal-divider" [hidden]="worker.cbos.code === null"> | </span>
            <span fxHide.xs fxHide.sm class="cpf"> {{ worker.cpf | cpfMask }}</span>
            <span fxHide.xs fxHide.sm class="horizontal-divider" [hidden]="worker.contact === null"> | </span>
            <span fxHide.xs fxHide.sm class="function" [hidden]="worker.cbos.title === null"> {{ worker.cbos.title }} </span>
            <span *ngIf="worker.contractType === 'Terceiro'" class="horizontal-divider" [hidden]="worker.company === null"> | </span>
            <span *ngIf="worker.contractType === 'Terceiro'" class="thirdparty-name"
             [hidden]="worker.company === null" [mdTooltip]="worker?.company"> {{ worker.company | Limit: 30 }} </span>
        </a>
    </div>
    <div>
        <md-chip-list fxLayout fxFlex fxLayoutAlign="end center">
            <md-chip *ngIf="! worker.status" class="chip worker-status">
                <span>INATIVO</span>
            </md-chip>
        </md-chip-list>
    </div>
    <div fxLayout fxLayoutAlign="end center" class="tools">
        <md-icon fxLayout fxLayoutAlign="center center" mdTooltip="FICHA DE EPI" (click)="toPrintEpiReport(worker)" class="safety-icn-epi-svg" *ngIf="hasPermissionToPrintEpiReport()" ></md-icon>
        <md-icon fxLayout fxLayoutAlign="center center" (click)="toEditWorker.emit(worker)" mdTooltip="Editar" mdTooltipPosition="below">edit</md-icon>
    </div>
</safety-list-item>