@import '../../../../../../scss/components/color.scss';

:host {
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
}

i.safety-icn-low-batery-svg, i.safety-icn-medium-batery-svg, i.safety-icn-full-batery-svg {
    padding: 0 3px 0 5px;
    color: white;
}

i.safety-icn-low-batery-svg {
    background-color: $grapefruit !important;
}

i.safety-icn-medium-batery-svg {
    background-color: $sunflower !important;
}

i.safety-icn-full-batery-svg {
    background-color: $green-blue !important;
}

a.more-filters {
    font-size: 10px !important;
    margin: 10px 0 0 15px;
}

md-chip {
    i {
        float: left;
        padding-top: 3px;
        font-size: 13px;
    }

    span {
        float: left;
        padding-top: 3px;
        margin: -2px 0 0 10px;
    }
}

.chip-danger {
    border: 2px solid $grapefruit;
}

.chip-warn {
    border: 2px solid $sunflower;
}

.chip-success {
    border: 2px solid $green-blue;
}

.action {
    font-size: 16px !important;
}

.order {
    min-width: 150px;

    & /deep/ {
        .mat-select-placeholder,
        .mat-select-value {
            color:          $warm-grey-four;
            font-size:      10px;
            font-weight:    900;
            line-height:    1.4;
            letter-spacing: 0.5px;
            text-align:     left;
        }

        .mat-select-underline {
            display: none !important;
        }
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0 15px 0;
  
    .separator {
      background-color: $light-gray;
      height: 1px;
      flex: 1;
      flex-grow: 1;
    }
  
    .section-area {
      width: 280px;
    }

    span {
        width: 100%;
        display: block;
        color: black;
        font-size: 1em;
        font-weight: 900;
        text-align: center;
      
        &.new {
          color: $light-gray;
        }
    }
}

.cone-item {
    margin: 0 0 15px 0;
}

@media screen and (max-width: 959px) {

    .top-actionbar {
        height: 70px;
    }
}

// .filters-margin {
//     padding: 0px 65px 0px 20px;
// }

.body-content {
    height: 90%;
}