<div
  fxLayout="column"
  #coneManagementContent
  style="height: 100%"
  class="body-content"
>
  <!-- Filters -->
  <div
    fxFlex="50px"
    fxFlex.lt-md="100px"
    fxLayoutAlign.lt-md="start"
    fxLayoutAlign="start center"
    fxLayout="row wrap"
  >

    <search
      fxFlexOrder.lt-md="1"
      (applyFilter)="filterByText()"
      (onTextChange)="onSearchValueChange($event)"
      [(value)]="searchValue"
      [(showSearch)]="showingSearch"
    ></search>

    <div
      fxLayout="row"
      fxFlex
      fxFlexOrder.lt-md="0"
      fxFlex.lt-md="100"
    >
      <md-chip-list>
        <md-chip
          class="main-chip {{ filterBattery.low ? 'chip-danger' : ''}}"
          (click)="filterBattery.low = !filterBattery.low"
        >
          <i class="safety-icn-low-batery-svg"></i>
          <span
            fxHide.xs
            [fxHide.md]="showingSearch"
          >Bateria</span>
        </md-chip>
        <md-chip
          class="main-chip {{ filterBattery.mid ? 'chip-warn' : ''}}"
          (click)="filterBattery.mid = !filterBattery.mid"
        >
          <i class="safety-icn-medium-batery-svg"></i>
          <span
            fxHide.xs
            [fxHide.md]="showingSearch"
          >Bateria</span>
        </md-chip>
        <md-chip
          class="main-chip {{ filterBattery.full ? 'chip-success' : ''}}"
          (click)="filterBattery.full = !filterBattery.full"
        >
          <i class="safety-icn-full-batery-svg"></i>
          <span
            fxHide.xs
            [fxHide.md]="showingSearch"
          >Bateria</span>
        </md-chip>
      </md-chip-list>

      <a
        class="action more-filters"
        [mdMenuTriggerFor]="moreFilters"
      >{{ filterOption.option ? filterOption.option : 'MAIS FILTROS' }}</a>

      <md-menu
        #moreFilters="mdMenu"
        yPosition="below"
        [overlapTrigger]="false"
      >
        <button
          md-menu-item
          (click)="changeOption(filterOption.options.ONLINE)"
        >{{ filterOption.options.ONLINE.toUpperCase() }}</button>
        <button
          md-menu-item
          (click)="changeOption(filterOption.options.OFFLINE)"
        >{{ filterOption.options.OFFLINE.toUpperCase() }}</button>
        <button
          md-menu-item
          (click)="changeOption(filterOption.options.ACTIVE)"
        >{{ filterOption.options.ACTIVE.toUpperCase() }}</button>
        <button
          md-menu-item
          (click)="changeOption(filterOption.options.INACTIVE)"
        >{{ filterOption.options.INACTIVE.toUpperCase() }}</button>
      </md-menu>
    </div>

    <div
      fxFlexOrder.lt-md="2"
      fxFlex.gt-sm="nogrow"
      fxFlex
      fxLayoutAlign="end center"
      class="right-actionbar"
    >
      <div fxFill></div>
      <md-select
        [fxHide.xs]="showingSearch"
        fxFlex="220px"
        [(ngModel)]="order"
        floatPlaceholder="never"
        class="order"
      >
        <md-option [value]="orderAlphabetical">Ordem alfabética</md-option>
        <md-option [value]="orderLastSaved">Últimos cadastrados</md-option>
      </md-select>
    </div>
  </div>

  <!-- Listagem -->
  <div fxFlex>

    <!-- Itens -->
    <virtual-scroll
      *ngIf="!filtering && hasCone"
      [items]="filteredCones"
      [bufferAmount]="15"
      childHeight="110"
      (update)="virtualCones = $event"
      [parentScroll]="parentScroll"
    >
      <div *ngFor="let summarizedCone of virtualCones">
        <div
          *ngIf="sectorHasChanged(summarizedCone)"
          class="container"
        >
          <div class="separator"></div>
          <div class="section-area"><span>{{summarizedCone?.sector.name}}</span></div>
          <div class="separator"></div>
        </div>
        <div
          #container
          class="cone-item"
        >
          <cone-management-line-detail
            style="cursor: pointer;"
            [construction]="construction"
            [sector]="summarizedCone.sector"
            [floor]="summarizedCone.floor"
            [cone]="summarizedCone.cone"
            (removed)="requestRemoveCone.emit($event)"
            (edited)="requestEditCone.emit($event)"
          ></cone-management-line-detail>
        </div>
      </div>
    </virtual-scroll>

    <!-- Nenhum cone encontrado -->
    <div *ngIf="!filtering && hasCone && filteredCones.length === 0">
      <div
        fxFlex
        fxLayout="column"
        fxLayoutAlign="space-around center"
      >
        <div
          fxFlex
          class="hello"
        >
          <p>Nenhum cone encontrado</p>
        </div>
      </div>
    </div>

    <!-- spinner -->
    <div *ngIf="filtering">
      <div
        fxFlex
        fxLayout="column"
        fxLayoutAlign="space-around center"
      >
        <div
          fxFlex
          class="hello"
        >
          <md-spinner class="in-component"></md-spinner>
        </div>
      </div>
    </div>

    <!-- Redirecionamento -->
    <div *ngIf="!filtering && !hasCone">
      <div
        fxFlex
        fxLayout="column"
        fxLayoutAlign="space-around center"
      >
        <div
          fxFlex
          class="hello"
        >
          <p>Você ainda não cadastrou o <b>monitoramento</b>.</p>
        </div>
        <div fxFlex>
          <a
            class="start"
            md-raised-button
            type="button"
            name="button"
            (click)="startMonitoring.emit()"
          >
            <span>iniciar</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
