$grapefruit: #ff4c4c;
$greyish-brown: #3e3e3e;
$white: #e8e8e8;

:host {
    border-top: 1px solid $white;
    min-width: 400px;
    height: 100%;
    font-size: 11px;
    line-height: 1.75;
    font-weight: 900;
}

virtual-scroll {
    height: 100vh;
}

.notifications {
    font-weight: normal;
    padding: 1em;
}

.notifications-title {
    font-weight: normal;
    margin: 0;
    color: $greyish-brown;

    .notifications-count {
        margin: 0px 3px;
        font-size: 85%;
        color: $grapefruit;
    }
}

.filter-date-icon {
    margin: 1em 0;
}

.notification-list {
    padding: 0;
}
