<div class="filters">
  <div
    fxLayout
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="start start"
    fxLayoutAlign="space-between center"
  >
    <search
      fxFlexOrder.lt-md="2"
      (applyFilter)="filterByText()"
      (onTextChange)="onSearchValueChange($event)"
      [(value)]="searchValue"
    ></search>

    <md-chip-list fxFlexOrder.lt-md="1">
      <md-chip
        class="main-chip {{ this.selectedFilters.personal ? 'active' : '' }}"
        (click)="toggleTaskActiveFilter('personal')"
        mdTooltip="Clique para Filtrar"
        mdTooltipPosition="above"
      >
        <span>Minhas Tarefas</span>
      </md-chip>
      <md-chip
        class="main-chip {{ this.selectedFilters.team ? 'active' : '' }}"
        (click)="toggleTaskActiveFilter('team')"
        mdTooltip="Clique para Filtrar"
        mdTooltipPosition="above"
      >
        <span>Tarefas da Equipe</span>
      </md-chip>
      <md-chip
        class="main-chip {{ this.selectedFilters.history ? 'active' : '' }}"
        (click)="toggleTaskActiveFilter('history')"
        mdTooltip="Clique para Filtrar"
        mdTooltipPosition="above"
      >
        <span>Histórico</span>
      </md-chip>
    </md-chip-list>
  </div>
</div>

<div
  class="list-container"
  *ngIf="listsLoaded"
>
  <div
    class="list"
    *ngFor="let group of allFilteredTask;"
  >
    <div
      class="label"
      *ngIf="group.title"
    >
      <span class="group-title {{ group.task.statusName === 'late' ? 'warning' : '' }}"> {{group.title}} </span>
      <div class="line"></div>
    </div>
    <ul
      *ngIf="!group.title"
      class="no-margin-no-padding"
    >
      <li class="{{ group.task.checked ? 'checked' : '' }} {{ group.task.statusName }}">
        <a
          href="javascript:void(0)"
          (click)="navigateToModal( {
                    view: group.task.id
                  })"
          style="text-decoration:none;"
        >
          <div class="infos">
            <img
              src="assets/activities/tasks/ic-time-{{ group.task.statusName }}.svg"
              alt="{{ group.task.statusName }}"
            >
            <span class="date"> {{ group.task.deadline | date: 'dd/MM/yyyy' }} | </span>
            <span
              class="qualific"
              [mdTooltip]="group.task?.title"
            > {{ ' ' + group.task.title }} </span>
          </div>
        </a>

        <div
          fxLayout
          fxLayoutAlign="end center"
          class="buttons"
        >
          <button
            md-icon-button
            (click)="delete(group.task)"
            mdTooltip="Excluir Tarefa"
            mdTooltipPosition="below"
            *ngIf="permissionService.hasSomePermission(['CONSTRUCTION_ACTIVITIES_TASK_REMOVE']) &&(currentUser.id === group.task.authorId && !group.task.checked) "
          >
            <md-icon>delete</md-icon>
          </button>

          <button
            md-icon-button
            (click)="navigateToModal({edit: group.task.id})"
            mdTooltip="Editar Tarefa"
            mdTooltipPosition="below"
            *ngIf="permissionService.hasSomePermission(['CONSTRUCTION_ACTIVITIES_TASK_EDIT']) &&(currentUser.id === group.task.authorId && !group.task.checked) "
          >
            <md-icon>edit</md-icon>
          </button>

          <a
            href="javascript:void(0)"
            (click)="check(group.task)"
            *ngIf="permissionService.hasSomePermission(['CONSTRUCTION_ACTIVITIES_TASK_EDIT']) &&( !group.task.checked) "
          >
            <img
              class="bigger"
              mdTooltip="Concluir Tarefa"
              mdTooltipPosition="below"
              src="assets/activities/tasks/check-tool.png"
              alt="concluir"
            >
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div *ngIf="tasks?.length === 0">
  <div class="body-content">
    <div
      fxFlex
      fxLayout="column"
      fxLayoutAlign="space-around center"
    >
      <div
        fxFlex
        class="hello"
      >
        <p>Você não tem tarefas cadastradas, cadastre uma
          <b>nova tarefa.</b>
        </p>
      </div>
      <div fxFlex>
        <a
          class="start"
          md-raised-button
          type="button"
          name="button"
          (click)="openTaskDialog()"
        >
          <span>Cadastrar</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div
  class="body-content"
  *ngIf="!listsLoaded"
>
  <md-spinner color="warn"></md-spinner>
</div>
<fab-speed-dial
  *ngIf="permissionService.hasSomePermission(['CONSTRUCTION_ACTIVITIES_TASK_INSERT'])"
  #myFab
  [direction]="'up'"
  [animationMode]="'fling'"
  [fixed]="fixed"
  (mouseenter)="myFab.open = true"
  (mouseleave)="myFab.open = false"
>
  <fab-trigger [spin]="spin">
    <button md-fab>
      <md-icon>add</md-icon>
    </button>
  </fab-trigger>

  <fab-actions>

    <button
      md-mini-fab
      mdTooltip="Adicionar Tarefa"
      name="insertTask"
      mdTooltipPosition="before"
      (click)="navigateToModal({add: true})"
    >
      <i class="safety-icn-andamento-svg"></i>
    </button>
  </fab-actions>
</fab-speed-dial>
