<safety-list-item  *ngIf="training.id != selectedId || index==0" [bulkEditable]="false" [ngClass]="{'training-line-selected': training.id == selectedId }" class="training-line">
    <div fxLayout fxFlex fxLayoutAlign="start center" class="training-line"  >
        
        <div id="training-video" fxFlex="initial">
             <img [src]="getThumbnail()" (click)="previewTraining(training)" [ngStyle]="getCursorStyle(false)">
        </div>
        
        <div id="training-info"  fxFlex="fill">            
            <p id="training-title" (click)="previewTraining(training)" [ngStyle]="getCursorStyle(true)"> {{training.title}}</p>
            <p>{{training.description}}</p>
            <p>
                <span class="horizontal-divider"> {{training.keywords}} | Serviço de obra relacionado:</span>
                <span [mdTooltip]="training.stringServices">
                    <b>{{ training.stringServices | Limit:40 }}</b>
                </span>
            </p>
        </div>
    </div>
    <div *ngIf="training.id != selectedId " fxLayout fxLayoutAlign="end center" class="tools" >
        <button md-button class="button-default"  (click)="selectTraining(training.id) ">SELECIONAR </button>
    </div>
    <br>
</safety-list-item>

