<form [formGroup]="workerQualificationsItemForm" fxFlex="100%" novalidate>
  <safety-dialog>
    <safety-dialog-header>
      {{ title | Limit: 30 }}
    </safety-dialog-header>

    <safety-dialog-content>
      <div fxlayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayout.sm="column">
        <md-card-subtitle class="sub-title" fxFlex="70%" fxLayoutAlign="start center">
          Selecione o Período
        </md-card-subtitle>
        <md-card-subtitle class="text-step" fxFlex="30%" fxLayoutAlign="end center">
          <span></span>
        </md-card-subtitle>
      </div>
      <div fxlayout="row" fxLayoutGap="20px" fxLayout.xs="column" fxLayout.sm="column">
        <md-input-container fxFlex="100%">
          <input required mdInput dateMask="99/99/9999" formControlName="beginAt" [mdDatepicker]="pickerBegin" placeholder="data início" validateOnBlur>
          <button [disabled]="isEnabledDate('beginAt')" mdSuffix [mdDatepickerToggle]="pickerBegin"></button>
          <md-datepicker #pickerBegin></md-datepicker>
          <md-error *ngIf="hasErrorForm('endAt', 'isbefore')">data superior a data final.</md-error>
          <md-error *ngIf="hasErrorForm('beginAt', 'invalid')">data inválida.</md-error>
          <md-error *ngIf="!hasErrorForm('beginAt', 'invalid') && hasErrorForm('beginAt', 'required')">campo obrigatório.</md-error>
        </md-input-container>

        <md-input-container fxFlex="100%">
          <input required mdInput dateMask="99/99/9999" formControlName="endAt" [mdDatepicker]="pickerEnd" placeholder="data fim" validateOnBlur>
          <button mdSuffix [disabled]="isEnabledDate('endAt')" [mdDatepickerToggle]="pickerEnd"></button>
          <md-datepicker #pickerEnd></md-datepicker>
          <md-error *ngIf="hasErrorForm('endAt', 'isbefore')">data inferior a data inicial.</md-error>
          <md-error *ngIf="hasErrorForm('endAt', 'invalid')">data inválida.</md-error>
          <md-error *ngIf="!hasErrorForm('endAt', 'invalid') && hasErrorForm('endAt', 'required')">campo obrigatório.</md-error>
        </md-input-container>
        <div *ngIf="qualificationsLoading">
          <md-spinner class="in-component"></md-spinner>
        </div>
        <div fxlayout="row"></div>
      </div>
    </safety-dialog-content>

    <safety-dialog-content>
      <div fxlayout="row" fxLayoutGap="25px" fxLayout.xs="column" fxLayout.sm="column">
        <md-radio-group fxFlex="100%"
            name="hiredType"
            (change)="hiredChange($event)"
            value="Próprio">
            <md-card-subtitle class="sub-title" fxFlex="50%" fxLayoutAlign="start center">
              Tipo de contratação:
            </md-card-subtitle>
            <md-card-subtitle class="sub-title" fxFlex="50%" fxLayoutAlign="start center">
                <md-radio-button value="Próprio">Próprio</md-radio-button>
                <md-radio-button value="Terceiro">Terceiro</md-radio-button>
            </md-card-subtitle>
        </md-radio-group>
      </div>
    </safety-dialog-content>

    <safety-dialog-content>
      <div fxlayout="row" fxLayoutGap="25px" fxLayout.xs="column" fxLayout.sm="column">
          <md-radio-group fxFlex="100%"
              class="input-height"
              name="workerStatus"
              (change)="workerStatusChange($event)"
              value="todos">
              <md-card-subtitle class="sub-title" fxFlex="50%" fxLayoutAlign="start center">
                  Status do Trabalhador:
              </md-card-subtitle>
              <md-card-subtitle class="sub-title" fxFlex="50%" fxLayoutAlign="start">
                  <md-radio-button value="ativo">Ativo</md-radio-button>
                  <md-radio-button value="inativo">Inativo</md-radio-button>
                  <md-radio-button value="todos">Todos</md-radio-button>
              </md-card-subtitle>
          </md-radio-group>
      </div>
    </safety-dialog-content>

    <safety-dialog-content>
      <div fxlayout="row" fxLayoutGap="25px" fxLayout.xs="column" fxLayout.sm="column">
          <md-radio-group fxFlex="100%"
              class="input-height"
              name="statusType"
              (change)="statusTypeChange($event)"
              value="todos">
              <md-card-subtitle class="sub-title" fxFlex="50%" fxLayoutAlign="start center">
                  Tipo:
              </md-card-subtitle>
              <md-card-subtitle class="sub-title" fxFlex="50%" fxLayoutAlign="start">
                  <md-radio-button value="realizadas">Realizadas</md-radio-button>
                  <md-radio-button value="vencidas">Vencidas</md-radio-button>
                  <md-radio-button value="vencer">A Vencer</md-radio-button>
                  <md-radio-button value="todos">Todas</md-radio-button>
              </md-card-subtitle>
          </md-radio-group>
      </div>
  </safety-dialog-content>

  <safety-dialog-content>
      <div fxlayout="row" fxLayoutGap="25px" fxLayout.xs="column" fxLayout.sm="column">
          <md-radio-group fxFlex="100%"
              class="input-height"
              name="columnOrder"
              (change)="columnOrderChange($event)"
              value="nome">
              <md-card-subtitle class="sub-title" fxFlex="50%" fxLayoutAlign="start center">
                  Ordem de Impressão:
              </md-card-subtitle>
              <md-card-subtitle class="sub-title" fxFlex="50%" fxLayoutAlign="start">
                  <md-radio-button value="nome">Nome</md-radio-button>
                  <md-radio-button value="cpf">CPF</md-radio-button>
                  <md-radio-button value="data">Data</md-radio-button>
                  <md-radio-button value="cargo">Cargo</md-radio-button>
              </md-card-subtitle>
          </md-radio-group>
      </div>
  </safety-dialog-content>

    <safety-dialog-content *ngIf="isHiringTerceiro()">
      <div fxlayout="row" fxLayoutGap="5px" fxLayout.xs="column" fxLayout.sm="column">
        <md-card-subtitle class="sub-title" fxFlex="100%" fxLayoutAlign="start center">
          Selecione os Fornecedores
        </md-card-subtitle>
      </div>

        <div fxLayout="row" fxLayout.lt-md="column" form="supplierForm">
          <div fxlayout="row" fxLayoutGap="39px" fxLayout.xs="column" fxLayout.sm="column">
              <div fxFlex="100%">
                  <md-input-container>
                      <md-icon mdPrefix>search</md-icon>
                      <input mdInput #filter (input)="doFilterSuppliers(filter.value)" placeholder="Buscar por nome fantasia ou CNPJ">
                      <md-icon mdSuffix (click)="doClearFilterSuppliers()">clear</md-icon>
                  </md-input-container>

                  <md-list>
                      <md-list-item class="btn-all">
                        <md-checkbox (change)="setAllSupplierToAdd()" [checked]="isAllSupplierToAdd()" [disabled]="isAllSupplierToAddDisabled()"></md-checkbox>
                        <div>
                            <p class="bolder">Todos</p>
                        </div>
                        <md-checkbox (change)="setActiveSuppliersFilter()" [checked]="checkedActive"></md-checkbox>
                        <div>
                            <p class="bolder">Ocultar Inativos</p>
                        </div>
                      </md-list-item>
                      <virtual-scroll #suppliersVirtualScroll [items]="suppliersFiltered" [childHeight]="50" (update)="suppliersVirtualScrollItems = $event">
                      <md-list-item *ngFor="let supplier of suppliersVirtualScrollItems">
                          <md-checkbox (change)="setSelectedSupplierToAdd(supplier)" [checked]="selectedSupplierToAdd.includes(supplier)"></md-checkbox>
                          <div>
                          <b class="bolder">{{ supplier.traddingName }}</b>
                          <br/>
                          <a>{{ supplier.cnpj | cnpjMask }}</a>
                          </div>
                      </md-list-item>
                      </virtual-scroll>
                  </md-list>
              </div>
              <div fxLayout="column" fxLayout.lt-md="row" class="button-group" fxLayoutAlign="center">
                  <button md-button [disabled]="isDoAddSupplierDisabled()" (click)="doAddSupplier()">
                      <md-icon fxHide.lt-md fxShow.gt-sm>keyboard_arrow_right</md-icon>
                      <md-icon fxHide.gt-sm fxShow.lt-md>keyboard_arrow_down</md-icon>
                  </button>
                  <button md-button [disabled]="isDoRemoveSupplierDisabled()" (click)="doRemoveSupplier()">
                      <md-icon fxHide.lt-md fxShow.gt-sm>keyboard_arrow_left</md-icon>
                      <md-icon fxHide.gt-sm fxShow.lt-md>keyboard_arrow_up</md-icon>
                  </button>
              </div>

              <div fxFlex="100%">
                  <md-input-container>
                      <md-icon mdPrefix>search</md-icon>
                      <input mdInput #filterSelected (input)="doFilterSuppliersSelected(filterSelected.value)" placeholder="Buscar por nome fantasia ou CNPJ">
                      <md-icon mdSuffix (click)="doClearFilterSuppliersSelected()">clear</md-icon>
                  </md-input-container>
                  <md-list>
                      <md-list-item class="btn-all">
                      <md-checkbox (change)="setAllSupplierToRemove()" [checked]="isAllSupplierToRemove()" [disabled]="isAllSupplierToRemoveDisabled()"></md-checkbox>
                      <div>
                          <p class="bolder">Todos</p>
                      </div>
                      <div class="md-list-header-counter">
                        <h5>Fornecedores <span class="red-text-highlighted">selecionados</span>
                            ({{ suppliersSelected ? suppliersSelected.length : 0 }})
                        </h5>
                      </div>
                      </md-list-item>

                      <virtual-scroll #suppliersSelectedVirtualScroll [items]="suppliersSelectedFiltered" [childHeight]="50" (update)="suppliersSelectedVirtualScrollItems = $event">
                          <md-list-item *ngFor="let supplier of suppliersSelectedVirtualScrollItems">
                              <md-checkbox (change)="setSelectedSupplierToRemove(supplier)" [checked]="selectedSupplierToRemove.includes(supplier)"></md-checkbox>
                              <div>
                              <b class="bolder">{{ supplier.traddingName }}</b>
                              <br/>
                              <a>{{ supplier.cnpj | cnpjMask }}</a>
                              </div>
                          </md-list-item>

                          <div *ngIf="showEmptySupplierSelectionMessage()" class="info-empty-box"
                          fxLayout="column" fxLayoutAlign="center">
                              <p>Marque o item e clique na seta ao lado para adicionar fornecedores ao relatório.</p>
                              <br/>
                              <p>Será gerado um relatório com <b>todos fornecedores</b> caso nenhum seja selecionado.</p>
                              <br/>
                              <a>Aplicar filtro ocultar inativos antes de selecionar todos</a>
                          </div>
                      </virtual-scroll>
                  </md-list>
              </div>
          </div>
        </div>
    </safety-dialog-content>

    <safety-dialog-content>
      <div fxlayout="row" fxLayoutGap="5px" fxLayout.xs="column" fxLayout.sm="column">
        <md-card-subtitle class="sub-title" fxFlex="100%" fxLayoutAlign="start center">
          Selecione as habilitações
        </md-card-subtitle>
      </div>

      <div fxlayout="row" fxLayoutGap="40px" fxLayout.xs="column" fxLayout.sm="column">
        <div fxFlex="100%">

          <md-input-container>
            <md-icon mdPrefix>search</md-icon>
            <input mdInput #filter (input)="doFilterCompanyQualities(filter.value)" placeholder="Buscar por título">
            <md-icon mdSuffix (click)="doClearQualitiesFilter()">clear</md-icon>
          </md-input-container>

          <md-list>
            <md-list-item class="btn-all">
              <md-checkbox (change)="setAllSelectedToAdd()" [checked]="checkedAddAll" [disabled]="companyQualitiesFiltered.length == 0"></md-checkbox>
              <div>
                  <p class="bolder">Todos</p>
              </div>
            </md-list-item>
            <virtual-scroll #qualitiesVirtualScroll [items]="companyQualitiesFiltered" [childHeight]="50" (update)="qualitiesVirtualScrollItems = $event">
              <div class="info-empty-box" *ngIf="companyQualities.length === 0" fxLayout="column" fxLayoutAlign="end center">
                <p>Todas selecionadas.</p>
              </div>
              <md-list-item *ngFor="let quality of qualitiesVirtualScrollItems">
                <md-checkbox (change)="setSelectedToAdd(quality)" [checked]="selectedToAdd.includes(quality)"></md-checkbox>
                <div>
                  <p class="bolder">{{ quality.name }}</p>
                </div>
              </md-list-item>
            </virtual-scroll>
          </md-list>
        </div>

        <div fxLayout.lt-md="row" fxLayout.gt-sm="column" class="button-group" fxLayoutAlign="end none">
          <button md-button [disabled]="selectedToAdd.length <= 0" (click)="doAdd()">
            <md-icon fxHide.lt-md fxShow.gt-sm>keyboard_arrow_right</md-icon>
            <md-icon fxHide.gt-sm fxShow.lt-md>keyboard_arrow_down</md-icon>
          </button>
          <button md-button [disabled]="selectedToRemove.length <= 0" (click)="doRemove()">
            <md-icon fxHide.lt-md fxShow.gt-sm>keyboard_arrow_left</md-icon>
            <md-icon fxHide.gt-sm fxShow.lt-md>keyboard_arrow_up</md-icon>
          </button>
        </div>

        <div fxFlex="100%">
          <md-input-container>
            <md-icon mdPrefix>search</md-icon>
            <input mdInput #filterSelected (input)="doFilterSelectedQualities(filterSelected.value)" placeholder="Buscar por título">
            <md-icon mdSuffix (click)="doClearSelectedQualitiesFilter()">clear</md-icon>
          </md-input-container>

          <md-list>
            <md-list-item class="btn-all">
              <md-checkbox (change)="setAllSelectedToRemove()" [checked]="checkedRemoveAll" [disabled]="selectedQualitiesFiltered.length == 0"></md-checkbox>
              <div>
                  <p class="bolder">Todos</p>
              </div>
              <div class="md-list-header-counter">
                <h5>habilitações <span class="red-text-highlighted">selecionadas</span>
                  ({{ selectedQualities ? selectedQualities.length : 0 }})
                </h5>
              </div>
            </md-list-item>

            <virtual-scroll #qualitiesSelectedVirtualScroll [items]="selectedQualitiesFiltered" [childHeight]="50" (update)="qualitiesSelectedVirtualScrollItems = $event">
              <div class="info-empty-box" *ngIf="selectedQualities.length === 0" fxLayout="column" fxLayoutAlign="end center">
                <p>Marque o item e clique na seta ao lado para adicionar fornecedores ao relatório.</p>
                <br/>
                <p>Será gerado um relatório com <b>todos fornecedores</b> caso nenhum seja selecionado.</p>
              </div>
              <md-list-item *ngFor="let quality of qualitiesSelectedVirtualScrollItems">
                <md-checkbox (change)="setSelectedToRemove(quality)" [checked]="selectedToRemove.includes(quality)"></md-checkbox>
                <div>
                  <p class="bolder">{{ quality.name }}</p>
                </div>
              </md-list-item>
            </virtual-scroll>
          </md-list>
        </div>
      </div>
    </safety-dialog-content>

    <safety-dialog-actions>
      <button md-button class="button-red"  [disabled]="workerQualificationsItemForm.invalid || this.loading"
      (click)="toPrintQualificationsReport()" [class.spinner]="this.loading">Gerar Relatório</button>
    </safety-dialog-actions>
  </safety-dialog>
</form>
