<div class="body-content">
    <div>
        <a md-raised-button class="button-default mat-button" routerLink="/suppliers/">Voltar</a>
    </div>

    <safety-card [isHidden]="false" #supplierData (onOpen)="updateCardsClosed(supplierData)">
        <safety-card-header>dados da empresa fornecedora</safety-card-header>
        <safety-card-content>
            <supplier-data-form #supplierDataForm [supplier]="supplier" (doSave)="doSaveSupplierData()"></supplier-data-form>
        </safety-card-content>
    </safety-card>

    <safety-card [isHidden]="true" #supplierResponsible (onOpen)="updateCardsClosed(supplierResponsible)" [toggleDisable]="isSupplierResponsibleDisabled()">
        <safety-card-header>dados do responsável pela empresa fornecedora</safety-card-header>
        <safety-card-content>
            <supplier-contact-form [supplierContact]="supplier.supplierResponsible" (doSave)="doSaveSupplierResponsible()"></supplier-contact-form>
        </safety-card-content>
    </safety-card>

    <safety-card [isHidden]="true" #supplierResponsibleSst (onOpen)="updateCardsClosed(supplierResponsibleSst)" [toggleDisable]="isSupplierResponsibleSstDisabled()">
        <safety-card-header>dados do responsável sst</safety-card-header>
        <safety-card-content>
            <supplier-contact-form [supplierContact]="supplier.supplierResponsibleSST" (doSave)="doSaveSupplierResponsibleSST()"></supplier-contact-form>
        </safety-card-content>
    </safety-card>

    <safety-card [isHidden]="true" #supplierContact (onOpen)="updateCardsClosed(supplierContact)" [toggleDisable]="isSupplierContactDisabled()">
        <safety-card-header>dados do contato</safety-card-header>
        <safety-card-content>
            <supplier-contact-form [supplierContact]="supplier.supplierContact" (doSave)="doSaveSupplierContact()"></supplier-contact-form>
        </safety-card-content>
    </safety-card>

    <safety-card [isHidden]="true" #supplierDocumentation (onOpen)="updateCardsClosed(supplierDocumentation)" [toggleDisable]="isSupplierDocumentationDisabled()" *ngIf="showSupplierDocumentation">
        <safety-card-header>controle de documentos</safety-card-header>
        <safety-card-content>
            <supplier-documentation [(supplierDocumentationList)]="supplier.supplierDocumentationList" (doSave)="doSaveSupplierDocumentationList()"></supplier-documentation>
        </safety-card-content>
    </safety-card>

    <safety-card [isHidden]="true" #supplierAdditionalInformation (onOpen)="updateCardsClosed(supplierAdditionalInformation)" [toggleDisable]="isSupplierAdditionalInformationDisabled()">
        <safety-card-header>Informações adicionais</safety-card-header>
        <safety-card-content>
            <supplier-additional-information [supplier]="supplier" (doSave)="doSaveSupplierAdditionalInformation()"></supplier-additional-information>
        </safety-card-content>
    </safety-card>
</div>
