<div class="grid-container">
  <div class="grid-column">
    <div #filePreview class="layout-row" *ngIf="answers.attachmentFiles.length > 0">
      <ul class="files-list no-margin-no-padding">
        <li *ngFor="let file of answers.attachmentFiles; let fileIndex = index" class="file">
          <drop-file class="attachedFile" (fileRemoved)="removeFile(fileIndex)" [editable]="editable"
            (fileChanged)="attachmentFileEdited(file, fileIndex, $event)" (loadingFile)="emitLoadingFile($event)"
            [showPreview]="true" [image]="file.file ? file.resourceFile : ( file.filePath )" [fileId]="file.id">
          </drop-file>
        </li>
      </ul>
    </div>

    <div *ngIf="editable && answers.attachmentFiles.length < 3 " #fileDrop class="grid-row">
      <drop-file class="half" [showPreview]="false" [supportedFileTypes]="supportedFileTypes" [multiple]="true"
        (loadingFile)="emitFirstLoadingFile($event)" (fileChanged)="attachmentFileAdded($event)" class="grid-row-last">

        <img src="/assets/plus.svg" alt="" />
        <div>
          <span>
            <b>Adicionar imagens</b>
          </span>
          <span>Para adicionar arraste ou
            <a>clique aqui</a>
          </span>
          <span class="info">
            <b>MÁXIMO DE TRÊS ARQUIVOS.</b>
          </span>
        </div>
      </drop-file>
    </div>
  </div>
</div>
