<form
  [formGroup]="workerForm"
  id="formBasicData"
  name="formBasicData"
  novalidate
>
  <div
    fxLayout.gt-sm="row"
    fxLayout.lt-md="column"
    fxLayoutWrap
  >
    <div
      fxFlex="none"
      fxLayout="row"
      fxLayoutAlign="center"
    >
      <drop-file
        [image]="getAvatar()"
        (fileChanged)="getImgFile($event)"
        (fileRemoved)="fileRemoved()"
      ></drop-file>
    </div>
    <div
      fxFlex="auto"
      fxLayout="column"
    >
      <div class="icon-div">
        <md-icon>assignment</md-icon>
      </div>
      <div
        fxLayout.gt-sm="row"
        fxLayout.lt-md="column"
        fxLayoutGap="5%"
      >
        <div
          fxFlex.gt-sm="18"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-radio-group
            class="input-height"
            name="hiredType"
            formControlName="hiredTypeRadio"
            (change)="hiredChange($event)"
            [(ngModel)]="model.contractType"
          >
            <p>Tipo de Contratação:</p>
            <md-radio-button *ngFor="let hired of hireds" [value]="hired.viewValue">
              {{ hired.label }}
            </md-radio-button>
          </md-radio-group>
        </div>
        <div
          fxFlex.gt-sm="24"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-input-container *ngIf="this.hiredType === 'Próprio'">
            <input mdInput placeholder="Empresa" maxlength="30" formControlName="company"
              (input)="companyChange($event.target.value)" [(ngModel)]="model.company" />
          </md-input-container>
          <md-select
            *ngIf="this.hiredType === 'Terceiro'"
            class="input-margin"
            placeholder="Empresa"
            formControlName="supplier"
            [(ngModel)]="model.supplier"
            (change)="supplierChange()"
          >
            <md-option
              [mdTooltip]="supplier.traddingName"
              [value]="supplier"
              *ngFor="let supplier of supplierList"
            >
              {{
              supplier.traddingName }}</md-option>
          </md-select>
        </div>
        <div
          fxFlex.gt-sm="10"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-input-container class="register-field">
            <input
              mdInput
              placeholder="Cadastro"
              formControlName="register"
              [(ngModel)]="model.register"
            />
            <span
              *ngIf="showRegisterMessage()"
              class="register-message"
            >Solicite ao
              consultor
              do
              SESI o ajuste do
              cadastro</span>
          </md-input-container>
        </div>
        <div
          fxFlex.gt-sm="15"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-input-container fxFlex="28">
            <input
              required
              dateMask="99/99/9999"
              formControlName="admissionDate"
              mdInput
              [mdDatepicker]="pickerAdmissao"
              placeholder="Data de Admissão"
              [(ngModel)]="model.admissionDate"
              validateOnBlur
            />
            <button
              mdSuffix
              [mdDatepickerToggle]="pickerAdmissao"
              [disabled]="workerForm.controls.admissionDate.disabled"
            ></button>
            <md-datepicker #pickerAdmissao>
            </md-datepicker>
            <md-error *ngIf="workerForm.controls.admissionDate.hasError('invalid')">
              Data Inválida.
            </md-error>
          </md-input-container>
          <div 
          style="
          margin-top: 8%; 
          margin-bottom: -9%;
          font-size: 70%; 
          color: red;" 
          *ngIf="
            workerForm.hasError('invalidDate')
          ">Data de admissão não pode ser menor <br>que a data de nascimento.</div>
        </div>
        <div
          fxFlex.gt-sm="8"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-select
            fxFlex="15"
            placeholder="Status"
            formControlName="status"
            [(ngModel)]="model.status"
          >
            <md-option
              *ngFor="let statu of status"
              [mdTooltip]="statu.viewValue"
              mdTooltipPosition="left"
              [value]="statu.value"
            >
              {{ statu.viewValue }}
            </md-option>
          </md-select>
        </div>
      </div>
      <div
        fxLayout.gt-sm="row"
        fxLayout.lt-md="column"
        fxLayoutGap="5%"
      >
        <div
          fxFlex.gt-sm="18"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-select
            class="input-margin"
            placeholder="Perfil"
            formControlName="profiles"
            [(ngModel)]="model.profile"
          >
            <md-option
              *ngFor="let profile of profiles"
              [mdTooltip]="profile.viewValue"
              mdTooltipPosition="right"
              [value]="profile.value"
            >
              {{ profile.viewValue }}
            </md-option>
          </md-select>
        </div>
        <div
          fxFlex.gt-sm="24"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-input-container>
            <input
              mdInput
              placeholder="Número do cartão de acesso"
              formControlName="accessCard"
              [textMask]="{ mask: accessCardMask, guide: false }"
              [(ngModel)]="model.accessCard"
              (ngModelChange)="convertAccessCard($event)"
            />
            <md-error *ngIf="workerForm.controls.accessCard.hasError('minlength')">
              Deve possuir 8
              caracteres.
            </md-error>
          </md-input-container>
        </div>
        <div
          fxFlex.gt-sm="10"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-select
            class="input-margin"
            placeholder="Tipo de Contrato"
            formControlName="contract"
            (change)="contractChange($event)"
            [(ngModel)]="model.contract"
          >
            <md-option
              *ngFor="let contract of contracts"
              [mdTooltip]="contract.viewValue"
              mdTooltipPosition="left"
              [value]="contract.value"
            >
              {{ contract.viewValue }}
            </md-option>
          </md-select>
        </div>
        <div
          fxFlex.gt-sm="13"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-input-container>
            <input
              mdInput
              placeholder="CNPJ da Contratada"
              formControlName="contractCnpj"
              [textMask]="{ mask: cnpjMask }"
              [(ngModel)]="model.contractCnpj"
            />
            <md-error *ngIf="workerForm.controls.contractCnpj.hasError('contractCnpj')">
              CNPJ
              Inválido.</md-error>
          </md-input-container>
        </div>
      </div>
      <div class="icon-div">
        <md-icon>face</md-icon>
      </div>
      <div
        fxLayout.gt-sm="row"
        fxLayout.lt-md="column"
        fxLayoutGap="5%"
      >
        <div
          fxFlex.gt-sm="39"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-input-container>
            <input
              mdInput
              placeholder="Nome"
              maxlength="50"
              minlength="3"
              formControlName="fullname"
              [(ngModel)]="model.name"
              required
              trimText
            />
            <md-error *ngIf="workerForm.controls.fullname.hasError('required')">
              Campo Obrigatório.
            </md-error>
            <md-error *ngIf="workerForm.controls.fullname.hasError('onlytext')">
              Permitido apenas
              letras.</md-error>
            <md-error *ngIf="workerForm.controls.fullname.hasError('minlength')">
              Mínimo de 3
              caracteres.</md-error>
            <md-error *ngIf="workerForm.controls.fullname.hasError('maxlength')">
              Máximo de 50
              caracteres.</md-error>
          </md-input-container>
        </div>
        <div
          fxFlex.gt-sm="15"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-input-container>
            <input
              mdInput
              placeholder="CPF"
              formControlName="cpf"
              [textMask]="{ mask: cpfMask }"
              [(ngModel)]="model.cpf"
              required
            />
            <md-error *ngIf="workerForm.controls.cpf.hasError('required')">
              Campo Obrigatório.
            </md-error>
            <md-error *ngIf="
                !workerForm.controls.cpf.hasError('required') &&
                workerForm.controls.cpf.hasError('cpf')
              ">CPF Inválido.</md-error>
          </md-input-container>
        </div>
        <div
          fxFlex.gt-sm="15"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-input-container
            fxFlex.gt-sm="15"
            fxFlex.lt-md="100"
          >
            <input
              mdInput
              placeholder="CTPS (Nº/Série)"
              formControlName="ctps"
              [textMask]="{ mask: ctpsMask }"
              [(ngModel)]="model.ctps"
            />
            <md-error *ngIf="workerForm.controls.ctps.hasError('invalid')">
              CTPS Inválido.</md-error>
          </md-input-container>
        </div>
        <div
          fxFlex.gt-sm="15"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-input-container>
            <input mdInput placeholder="NIT" formControlName="nit" [(ngModel)]="model.nit"
              [textMask]="{ mask: nitMask }" />
          </md-input-container>
        </div>
      </div>
      <div
        fxLayout.gt-sm="row"
        fxLayout.lt-md="column"
        fxLayoutGap="5%"
      >
        <div
          fxFlex.gt-sm="20"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-radio-group
            class="input-height"
            formControlName="sex"
            [(ngModel)]="model.gender"
          >
            <p 
            style="
            font-size: 65%;"
            >Gênero:</p>
            <md-radio-button
              [value]="true"
              [checked]="model.gender"
            >Masculino
            </md-radio-button>
            <md-radio-button
              [value]="false"
              [checked]="!model.gender"
            >Feminino
            </md-radio-button>
          </md-radio-group>
        </div>
        <div
          fxFlex.gt-sm="15"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-select
            placeholder="Portador de Nec. Especiais?"
            formControlName="necessitys"
            [(ngModel)]="model.specialNeeds"
          >
            <md-option
              *ngFor="let necessity of necessitys"
              [mdTooltip]="necessity.viewValue"
              mdTooltipPosition="right"
              [value]="necessity.value"
            >{{
              necessity.viewValue }}
            </md-option>
          </md-select>
        </div>
        <div
          fxFlex.gt-sm="15"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-input-container>
            <input
              required
              mdInput
              placeholder="Data de nascimento"
              dateMask="99/99/9999"
              [mdDatepicker]="picker"
              formControlName="birthDate"
              [ngModel]="model.birthDate"
              (ngModelChange)="ageWorker($event)"
              [max]="today"
              validateOnBlur
            />
            <button
              mdSuffix
              [mdDatepickerToggle]="picker"
              [disabled]="workerForm.controls.birthDate.disabled"
            ></button>
            <md-datepicker #picker>
            </md-datepicker>
            <md-error *ngIf="
                workerForm.controls.birthDate.hasError('invalid') ||
                workerForm.controls.birthDate.hasError('mdDatepickerMax')
              ">Data Inválida.</md-error>
          </md-input-container>
        </div>
        <div
          fxFlex.gt-sm="5"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-input-container fxHide.lt-md="true">
            <input mdInput placeholder="Idade" formControlName="age" [(ngModel)]="model.age" />
          </md-input-container>
        </div>
        <div
          fxFlex.gt-sm="26"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-select
            class="input-margin"
            placeholder="Escolaridade"
            formControlName="scholarity"
            [(ngModel)]="model.scholarity"
          >
            <md-option
              *ngFor="let scholarity of scholaritys"
              [mdTooltip]="scholarity.name"
              mdTooltipPosition="left"
              [value]="scholarity.id"
            >
              {{ scholarity.name }}
            </md-option>
          </md-select>
        </div>
      </div>
      <div class="icon-div">
        <md-icon style="contain: content;">home
        </md-icon>
      </div>
      <div
        fxLayout.gt-sm="row"
        fxLayout.lt-md="column"
        fxLayoutGap="4%"
      >
        <div
          fxFlex.gt-sm="15"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <cep-picker
            formControlName="cep"
            [(cep)]="model.cep"
            (onSearch)="onCepSearch($event)"
            required
          >
          </cep-picker>
        </div>
        <div
          fxFlex.gt-sm="47"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-input-container>
            <input mdInput placeholder="Endereço Completo" formControlName="completeAddress"
              [(ngModel)]="model.completeAddress" trimText />
          </md-input-container>
        </div>
        <div
          fxFlex.gt-sm="20"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-input-container>
            <input mdInput placeholder="Complemento" maxlength="255" formControlName="complement"
              [textMask]="{ mask: complement, guide: false }" [(ngModel)]="model.complement" />
          </md-input-container>
        </div>
        <div
          fxFlex.gt-sm="16"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-input-container>
            <input
              mdInput
              placeholder="Contato"
              maxlength="15"
              formControlName="contact"
              [textMask]="{ mask: phoneMask, guide: false }"
              [(ngModel)]="model.contact"
            />
          </md-input-container>
        </div>
      </div>
      <div class="icon-div">
        <md-icon style="contain: content;">work
        </md-icon>
      </div>
      <div
        fxFlex="100"
        fxLayout.gt-sm="row"
        fxLayout.lt-md="column"
        fxLayoutGap="5%"
      >
        <div
          fxFlex.gt-sm="20"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-input-container>
            <input
              mdInput
              [mdAutocomplete]="tdAuto"
              placeholder="FUNÇÃO"
              formControlName="additionalFunction"
              [(ngModel)]="model.additionalFunction"
              (ngModelChange)="
                      filterAdditionalFunctions(model.additionalFunction)
                    "
              trimText
            />
          </md-input-container>
          <md-autocomplete #tdAuto="mdAutocomplete">
            <md-option
              *ngFor="let item of listFilteredAdditionalFunctions"
              [value]="item"
            >
              <span>{{ item }}</span>
            </md-option>
          </md-autocomplete>
        </div>
        <div
          fxFlex.gt-sm="11"
          fxFlex.lt-md="100"
          fxLayout="column"
        >
          <md-input-container>
            <input
              mdInput
              placeholder="CBO"
              formControlName="cbo"
              [textMask]="{ mask: cboMask, guide: false }"
              (ngModelChange)="searchFilteredCbo($event)"
              required
            />
            <md-error *ngIf="workerForm.controls.cbo.hasError('required')">
              Campo Obrigatório.
            </md-error>
            <md-error *ngIf="
                      !workerForm.controls.cbo.hasError('required') &&
                      workerForm.controls.cbo.hasError('cbo')
                    ">CBO inválida.</md-error>
            <md-error *ngIf="workerForm.controls.cbo.hasError('notFoundCbo')">
              CBO inválida.
            </md-error>
          </md-input-container>
        </div>

        <div
          fxFlex.gt-sm="35"
          fxFlex.lt-md="100"
          fxLayout.gt-sm="row"
          fxLayout.lt-md="column"
          fxLayoutGap="2%"
        >
          <md-select
            class="input-margin"
            placeholder="Cargo"
            formControlName="role"
            [(ngModel)]="model.cbos"
            [mdTooltip]="model.cbos?.title"
            required
          >
            <md-option
              [mdTooltip]="cboOption.title"
              mdTooltipPosition="left"
              [value]="cboOption"
              *ngFor="let cboOption of myCbos"
            >{{
              cboOption.title }}</md-option>
          </md-select>
        </div>
      </div>

      <div
        fxFlex="32"
        fxLayout="column"
      >
        <md-input-container
          class="cbos-description"
          fxFlex="100"
          fxLayoutAlign="start stretch"
        >
          <textarea
            mdInput
            maxlength="1300"
            [ngStyle]="{ resize: 'none' }"
            placeholder="Descrição da Função"
            [(ngModel)]="model.cbos.description"
            formControlName="textArea"
            readonly
            rows="5"
            trimText
          >
            </textarea>
        </md-input-container>
      </div>

    </div>
  </div>
  <div class="form-bottom">
    <button md-raised-button class="button-default" (click)="saveWorker()" [disabled]="disableForm()">
      Salvar e continuar
    </button>
  </div>
</form>
