@import '~@angular/material/theming';
@import 'components/color.scss';

@include mat-core();

$safety-app-primary: mat-palette($greyish-brown-t, A700);
$safety-app-accent:  mat-palette($greyish-brown-t, A200);

$safety-app-warn:    mat-palette($mat-red);

$safety-app-theme: mat-light-theme($safety-app-primary, $safety-app-accent, $safety-app-warn);

@include angular-material-theme($safety-app-theme);