<fab-speed-dial *ngIf="showFabButton" #myFab [direction]="direction" [animationMode]="animationMode" [fixed]="fixed" (mouseenter)="myFab.open = true"
    (mouseleave)="myFab.open = false">
    <fab-trigger [spin]="spin">
        <button md-fab>
            <md-icon>add</md-icon>
        </button>
    </fab-trigger>

    <fab-actions>
        <button md-mini-fab mdTooltip="Adicionar Ocorrência" mdTooltipPosition="before" (click)="openOccurrenceDialog()"
        *ngIf="permissionService.hasSomePermission(['CONSTRUCTION_ACTIVITIES_OCURRENCE_INSERT'])">

            <i class="safety-icn-alert-svg"></i>
        </button>
        <button md-mini-fab mdTooltip="Adicionar Tarefa" mdTooltipPosition="before" (click)="openTaskDialog()"
        *ngIf="permissionService.hasSomePermission(['CONSTRUCTION_ACTIVITIES_TASK_INSERT'])">

            <i class="safety-icn-andamento-svg"></i>
        </button>
    </fab-actions>
</fab-speed-dial>
