<safety-card class="card-principal" toggleDisable toolbarDisable>

    <safety-card-content>

        <md-tab-group #tabGroup disableRipple>

            <md-tab class="day_tab" id="tab1" label="Status de hoje"> <br/>
                <div class="emoticons" >
                    <base-day-status (click)="openDialog()" class="emoticon" [image]="'/assets/icon/rostos/empolgado/31.png'" [label]="'Empolgado'"
                        [value]="todayResult?.excited"></base-day-status>
                    <base-day-status (click)="openDialog()" class="emoticon" [image]="'/assets/icon/rostos/contente/31.png'" [label]="'Contente'"
                        [value]="todayResult?.glad"></base-day-status>
                    <base-day-status (click)="openDialog()" class="emoticon" [image]="'/assets/icon/rostos/triste/31.png'" [label]="'Triste'"
                        [value]="todayResult?.sad"></base-day-status>
                    <base-day-status (click)="openDialog()" class="emoticon" [image]="'/assets/icon/rostos/irritado/31.png'" [label]="'Irritado'"
                        [value]="todayResult?.angry"></base-day-status>
                    <base-day-status (click)="openDialog()" class="emoticon" [image]="'/assets/icon/rostos/naoRespondido/31.png'" [label]="'Não respondido'"
                        [value]="todayResult?.notAnswered"></base-day-status>
                </div>
            </md-tab>

            <md-tab class="day_tab" id="tab2" label="Status de Ontem"> <br/>
                <div class="emoticons" fxLayout="row" fxLayoutAlign="space-between center">
                    <base-day-status (click)="openDialog()" class="emoticon" [image]="'/assets/icon/rostos/empolgado/31.png'" [label]="'Empolgado'"
                        [value]="yesterdayResult?.excited"></base-day-status>
                    <base-day-status (click)="openDialog()" class="emoticon" [image]="'/assets/icon/rostos/contente/31.png'" [label]="'Contente'"
                        [value]="yesterdayResult?.glad"></base-day-status>
                    <base-day-status (click)="openDialog()" class="emoticon" [image]="'/assets/icon/rostos/triste/31.png'" [label]="'Triste'"
                        [value]="yesterdayResult?.sad"></base-day-status>
                    <base-day-status (click)="openDialog()" class="emoticon" [image]="'/assets/icon/rostos/irritado/31.png'" [label]="'Irritado'"
                        [value]="yesterdayResult?.angry"></base-day-status>
                    <base-day-status (click)="openDialog()" class="emoticon" [image]="'/assets/icon/rostos/naoRespondido/31.png'" [label]="'Não respondido'"
                        [value]="yesterdayResult?.notAnswered"></base-day-status>
                </div>
            </md-tab>

        </md-tab-group>

        <div class="total_workers">
            <p>
                <strong>{{totalWorkers}} </strong>
                <a class="gray_legend">Trabalhadores na obra</a>
            </p>
        </div>

    </safety-card-content>

</safety-card>
