$warm-grey-four: #999999;

.day_tab{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}

.emoticons{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 15px;
}

p {
    font-size: 0.85em;
    font-weight: bold;
    strong {
        font-weight: lighter;
        font-size: 2em;
    }
}

.gray_legend{
    color: #999999;
}

.total_workers{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    margin-top: 50px;
}

safety-card {
    height: 374px !important;
}
