<form [formGroup]="supplierAdditionalInformationForm" (ngSubmit)="save()" novalidate>
    <div class="form-content grid-container">
        <div class="grid-column">
            <div class="grid-row">
                <md-radio-group name="hasSesmt" formControlName="hasSesmt">
                    <p>Possui Sesmt?</p>
                    <md-radio-button value="true" 
                        [checked]="supplier.hasSesmt === true"
                        (change)="onSesmtChange(true)"
                        color="primary">Sim</md-radio-button>

                    <md-radio-button value="false"
                        [checked]="supplier.hasSesmt === false"
                        (change)="onSesmtChange(false)"
                        color="primary">Não</md-radio-button>
                </md-radio-group>

                <md-radio-group name="hasCipa" formControlName="hasCipa">
                    <p>Possui Cipa?</p>
                    <md-radio-button value="true"
                        [checked]="supplier.hasCipa === true"
                        (change)="onCipaChange(true)"
                        color="primary">Sim</md-radio-button>

                    <md-radio-button value="false"
                        [checked]="supplier.hasCipa === false"
                        (change)="onCipaChange(false)"
                        color="primary">Não</md-radio-button>
                </md-radio-group>

                <md-input-container>
                    <input mdInput placeholder="NÚMERO DE MEMBROS" type="number"
                    [(ngModel)]="supplier.employerNumber" name="employerNumber" formControlName="employerNumber" [reactiveFormControlDisabled]="isEmployerNumberDisabled()" trimText>
                </md-input-container>

                <md-radio-group name="isDesignatedCipa" formControlName="isDesignatedCipa" [reactiveFormControlDisabled]="isDesignatedCipaDisabled()">
                    <p>Designado da Cipa</p>
                    <md-radio-button value="true" 
                        [checked]="supplier.isDesignatedCipa === true"
                        (change)="onDesignatedCipaChange(true)"
                        color="primary">Sim</md-radio-button>

                    <md-radio-button value="false" 
                        [checked]="supplier.isDesignatedCipa === false" 
                        (change)="onDesignatedCipaChange(false)"
                        color="primary">Não</md-radio-button>             
                </md-radio-group>
            </div>
        </div>
    </div>

    <div class="form-bottom">
        <button md-raised-button class="button-default">SALVAR</button>
    </div>
</form>
