<div fxLayout="column" fxFlex fxLayoutAlign="start stretch">
    <div fxFlex="40px" fxLayoutAlign="end center" fxLayoutAlign.gt-sm="start center" [style.padding-left.lt-md]="5">
        <md-checkbox fxFlex fxLayoutAlign="end center" fxHide.gt-sm *ngIf="!viewMode && filteredWorkers.length > 0" [(ngModel)]="all" class="font-all-workers"
            style="padding-left: 5px">
            Todos
        </md-checkbox>
        <md-input-container [style.width.%.lt-md]="40">
            <md-icon>search</md-icon>
            <input fxFlex mdInput id="allSearch" [(ngModel)]="search">
        </md-input-container>
    </div>

    <div fxFlex *ngIf="filteredWorkers.length > 0">
        <table style="height: 100%">
            <thead>
                <tr *ngIf="filteredWorkers.length > 0">
                    <md-checkbox fxHide.lt-md *ngIf="!viewMode" [(ngModel)]="all" class="font-all-workers">
                        Todos
                    </md-checkbox>
                </tr>
            </thead>
            <tr class="bordered" *ngIf="filteredWorkers.length > 0">
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <virtual-scroll [items]="filteredWorkers" (update)="scrollWorkers = $event" [bufferAmount]="5" [childHeight]="30">
                <tbody #workersListing style="height: 90%">
                    <tr *ngFor="let worker of scrollWorkers">
                        <td *ngIf="!viewMode " style="word-wrap: break-word ">
                            <md-checkbox (ngModelChange)="select(worker, $event) " [ngModel]="selected(worker)" 
                                [ngClass]="{ 'unable-worker': !checkAbleWorker(worker) } " class="font-worker-item ">
                                {{worker.name}}
                            </md-checkbox>
                        </td>

                        <td *ngIf="viewMode " style="word-wrap: break-word " class="font-worker-item " [ngClass]="{'unable-worker': !checkAbleWorker(worker) } ">{{worker.name}}</td>

                        <td fxHide.lt-sm style="word-wrap: break-word " class="font-worker-item " [ngClass]="{ 'unable-worker': !checkAbleWorker(worker)} ">{{worker.cbos.title}}</td>
                    </tr>
                </tbody>
            </virtual-scroll>
        </table>
    </div>
    <div *ngIf="filteredWorkers.length === 0" fxFlex="200px" fxLayoutAlign="center center">
        <p class="font-empty-message">{{ emptyMessage }}</p>
    </div>
</div>