<safety-card class="card-principal" toggleDisable>

    <safety-card-header class="card-header">
        <span>status dos trabalhadores</span>

        <div class="date-container">
            <div>
                <md-select [(ngModel)]="dateMonth" name="month">
                    <md-option class="input-date-month" *ngFor="let month of months" [value]="month.value">
                        {{month.viewValue}}
                    </md-option>
                </md-select>
            </div>

            <div>
                <input mdInput type="number" id="dateYear" class="input-date-year" [min]="2020" [max]="today.getFullYear()" [(ngModel)]="dateYear">
            </div>

            <div>
                <button md-icon-button type="button" (click)="searchWorkersEmotions()">
                    <md-icon>search</md-icon>
                </button>
            </div>
        </div>

        <md-input-container>
            <md-placeholder>
                <md-icon>search</md-icon>
            </md-placeholder>
            <input mdInput value="" [(ngModel)]="searchText">
        </md-input-container>

    </safety-card-header>

    <safety-card-content>

        <md-table-container>
            <table aria-describedby="tabela de emoções" md-table *ngIf="constructionService.construction.workers.length > 0" fxLayout="column">
                <thead fxLayout="row" fxLayoutAlign="space-between center">
                    <th></th>
                    <th class="indices" *ngFor="let day of indexes">
                        {{ day+1 }}
                    </th>
                </thead>
                <tbody>
                    <tr fxLayout="row" *ngFor="let item of getFilteredEmotions()" fxLayoutAlign="space-between center">
                        <td fxLayout="column" title="{{ item.name }}" class="names">{{ item.name }}</td>
                        <td fxLayout="column" class="icons" *ngFor="let status of item.statuses">
                            <div *ngIf="status == '0' || status == '-1'">
                                <img src='/assets/icon/rostos/naoRespondido/17.png' alt="não respondido">
                            </div>
                            <div *ngIf="status == '1'">
                                <img src='/assets/icon/rostos/empolgado/17.png' alt="empolgado">
                            </div>
                            <div *ngIf="status == '2'">
                                <img src='/assets/icon/rostos/contente/17.png' alt="contente">
                            </div>
                            <div *ngIf="status == '3'">
                                <img src='/assets/icon/rostos/triste/17.png' alt="triste">
                            </div>
                            <div *ngIf="status == '4'">
                                <img src='/assets/icon/rostos/irritado/17.png' alt="irritado">
                            </div>
                            <div *ngIf="status == '5'">
                              <img src='/assets/icon/rostos/naoRespondido/17.png' alt="não respondido">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <br/>

        <div class="table-paginator">
            <md-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChanged($event)"></md-paginator>
        </div>

        <p *ngIf="constructionService.construction.workers.length === 0">Não há registros</p>

    </safety-card-content>
</safety-card>
