<safety-dialog>
  <safety-dialog-header>{{ title | Limit: 30 }}</safety-dialog-header>

  <safety-dialog-content [hidden]="! isActualStep('data')">
    <title-dialog-content [stepList]="stepList" [step]="step"></title-dialog-content>
    <occurrences-data-form #occurrenceForm [occurrence]="occurrence" [disabled]="isSpinnerActivated()" [onEdit]="isOnEdit()"></occurrences-data-form>
  </safety-dialog-content>

  <safety-dialog-content [hidden]="! isActualStep('workers')">
    <title-dialog-content [stepList]="stepList" [step]="step"></title-dialog-content>
    <occurrences-workers #occurrenceWorkers *ngIf="! isSpinnerActivated('loadOccurrenceToEdit')" [occurrence]="occurrence" [onEdit]="isOnEdit()"></occurrences-workers>
  </safety-dialog-content>

  <safety-dialog-content [hidden]="! isActualStep('attachments')">
    <title-dialog-content [stepList]="stepList" [step]="step"></title-dialog-content>
    <occurrences-attachment-files *ngIf="! isSpinnerActivated('loadOccurrenceToEdit')" [occurrence]="occurrence" [disabled]="isSpinnerActivated()" [onEdit]="isOnEdit()"></occurrences-attachment-files>
  </safety-dialog-content>

  <safety-dialog-actions>
    <md-spinner class="in-component" *ngIf="isSpinnerActivated()" color="warn"></md-spinner>

    <button *ngIf="step > 0" md-button [disabled]="isSpinnerActivated()" class="button-default" (click)="changeStep(true)">Voltar</button>
    <button [disabled]="disableNextButton()" *ngIf="step < this.stepList.length - 1" md-button class="button-default" (click)="changeStep()">Próxima</button>
    <button *ngIf="step === this.stepList.length - 1 && ! isOnEdit()" md-button class="button-default" [disabled]="isSpinnerActivated()" (click)="saveAndCreateTask()">Criar uma tarefa a partir dessa ocorrência</button>
    <button *ngIf="step === this.stepList.length - 1 && ! isOnEdit()" md-button class="button-default" [disabled]="isSpinnerActivated()" class="button-red" (click)="save()">Registrar ocorrência</button>
    <button *ngIf="step === this.stepList.length - 1 && isOnEdit()" md-button class="button-default" [disabled]="isSpinnerActivated()" class="button-red" (click)="edit()">Salvar edição</button>
  </safety-dialog-actions>

</safety-dialog>
