<safety-dialog>
    <safety-dialog-header>
      {{ title }}
    </safety-dialog-header>
    <safety-dialog-content>
        <div class="grid-container">
          <div class="grid-column">

            <div #filePreview class="grid-row" *ngIf="manuals?.length > 0">
                <table>
                    <tr>
                        <th>
                            Nome do Manual
                        </th>
                        <th>
                            Ação
                        </th>
                    </tr>
                    <tr *ngFor="let manual of manuals; let manualIndex = index">
                        <td>
                            {{manual?.resourceFile.name}}
                        </td>
                        <td>
                            <a md-icon-button (click)="removeManual(manualIndex)">
                                <md-icon>delete</md-icon>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

              <div #fileDrop class="grid-row">
                  <drop-file [showPreview]="false" [editable]="true" [supportedFileTypes]="supportedFileTypes" [multiple]="true"
                    (fileChanged)="addManual($event)" class="half grid-row-last">

                      <img src="/assets/plus.svg" alt="" />
                      <div>
                          <span>
                              <b>Adicionar manuais</b>
                          </span>
                          <span>Para adicionar arraste ou
                              <a>clique aqui</a>
                          </span>
                      </div>
                  </drop-file>
              </div>
          </div>
      </div>
    </safety-dialog-content>
    <safety-dialog-actions>
        <md-spinner color="warn" *ngIf="loading"></md-spinner>
      <button md-button class="button-red" [disabled]="manuals?.length == 0 || loading" (click)="save()">SALVAR</button>
    </safety-dialog-actions>
  </safety-dialog>
