@import '../../../../scss/components/color.scss';

:host {
    display: flex;
    flex-direction: column;
}

md-card.custom-header {
    padding: 0 !important;

    > *:not(md-toolbar) {
        padding: 24px;
    }
}

md-card {
    flex-grow: 1;
    > md-card-content {
        overflow-y: hidden;
        margin-bottom: 15px;
    }
}

.no-padding {
    padding: 0 !important;
}

.noBoxShadow {
    box-shadow: none !important;
}

.noTopBar {
    padding: 0;
    border-bottom: 1px solid $silver2;
    background-color: #ffffff !important;
}

.mat-toolbar {
    background-color: $pale-gray;
    font-size: 0.8em;
    font-weight: 900;
    line-height: 1.4;
    text-align: left;
    color: $warm-grey-four;
}

.mini-cards{
    width: 33%;
    position: relative;
    float: left;
    border: 1px solid red;
}

.card-epi{
    width: 33%;
    position: relative;
    float: left;
    height: 200px;
    overflow-y: hidden;
    border: 1 solid black;
}

.mat-icon{
    color:  #7d8488;
}

.card-title{
    width: 16px;
    height: 8px;
    font-size: 10px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.5px;
    text-align: left;
    color: #5e5e5e;
    vertical-align: text-top;
}


