<md-card [ngClass]="{'noBoxShadow': topBarDisabled}" fxLayout="column" class="custom-header">

    <md-toolbar class="safety-toolbar" fxFlex="100" *ngIf="!toolbarDisabled">
        <ng-content fxFlex="fill" fxFlexAlign="start center" select="safety-card-header"></ng-content>
        <button md-icon-button fxFlex="initial" fxFlexAlign="end center" *ngIf="!toggleDisabled" (click)="click()">
            <md-icon>{{toggleIcon}}</md-icon>
        </button>
    </md-toolbar>

    <md-card-content _ngcontent-c0 class="body-content" [ngClass]="{ 'no-padding': noPadding }" *ngIf="state === 'active'" @easeInOut>
        <ng-content _ngcontent-c1 select="safety-card-content"></ng-content>
    </md-card-content>
</md-card>