
<safety-dialog  >
    <safety-dialog-header>
        {{ title }}
    </safety-dialog-header>
    <safety-dialog-content>
        <p><b>Deseja remover este registro?</b></p>
        <p>Esta ação irá excluir os agendamentos desta capacitação.</p>
    </safety-dialog-content>
    <safety-dialog-actions>
        <button md-button class="button-default"  (click)="removed(false)" md-dialog-close>Fechar</button>
        <button md-button class="button-red" (click)="removed(true)" md-dialog-close>Excluir</button>
    </safety-dialog-actions>
</safety-dialog>