<div class="body-content">
  <div
    fxLayout
    fxLayoutAlign="space-between center"
    class="top-actionbar"
  >
    <div
      fxLayout
      fxLayoutAlign="start center"
    >

      <search
        [(value)]="query"
        (applyFilter)="doSearch()"
        (onTextChange)="onSearchValueChange($event)"
      ></search>

      <md-chip-list>
        <md-chip
          class="main-chip"
          (click)="toggleActiveFilter(1)"
          [ngClass]="{ active: !filters[1]  }"
          fxLayout
          fxLayoutAlign="start center"
        >
          <span>profissionalizante</span>
        </md-chip>
        <md-chip
          class="main-chip"
          (click)="toggleActiveFilter(2)"
          [ngClass]="{  active: !filters[2]  }"
          fxLayout
          fxLayoutAlign="start center"
        >
          <span>sst</span>
        </md-chip>
        <md-chip
          class="main-chip"
          (click)="toggleActiveFilter(3)"
          [ngClass]="{  active: !filters[3]  }"
          fxLayout
          fxLayoutAlign="start center"
        >
          <span>outros</span>
        </md-chip>
      </md-chip-list>
    </div>
    <div
      fxFlexOrder.lt-md="2"
      fxFlex.gt-sm="nogrow"
      fxFlex
      fxLayoutAlign="end center"
      class="right-actionbar"
    >
      <div
        fxLayout
        fxLayoutAlign="start center"
      >
        <button
          md-icon-button
          (click)="togglePage(page-1)"
        >
          <md-icon>keyboard_arrow_left</md-icon>
        </button>
        <span class="page">{{page}} </span>
        <button
          md-icon-button
          (click)="togglePage(page--1)"
          [disabled]="trainings.length < 30"
        >
          <md-icon>keyboard_arrow_right</md-icon>
        </button>


      </div>
    </div>

  </div>

  <div class="list-wrapper">
    <div
      class="list"
      *ngIf="trainings.length > 0"
    >
      <div *ngFor="let training of trainings">
        <training-line-detail
          fxFlex
          fxLayout
          fxLayoutAlign="space-between center"
          (inactivateTraining)="confirmInactivate($event)"
          [training]="training"
        ></training-line-detail>
      </div>
    </div>
    <div
      class="list"
      *ngIf="trainings.length === 0"
    >
      <div>
        Não há mais resultados para os parâmetros de busca fornecidos.
      </div>
    </div>
  </div>

  <fab-speed-dial
    *ngIf="showFabButton"
    #myFab
    [direction]="direction"
    [animationMode]="animationMode"
    [fixed]="fixed"
    (mouseenter)="myFab.open = true"
    (mouseleave)="myFab.open = false"
  >
    <fab-trigger [spin]="spin">
      <button
        md-fab
        name="btnAddMore"
      >
        <md-icon>add</md-icon>
      </button>
    </fab-trigger>

    <fab-actions>
      <button
        md-mini-fab
        mdTooltip="Adicionar capacitações"
        mdTooltipPosition="before"
        (click)="redirectTo('/training/new')"
        name="btnAddTraining"
      >
        <i class="safety-icn-capacita-svg"></i>
      </button>
    </fab-actions>
  </fab-speed-dial>

</div>
