<div>

  <div *ngIf="isLoadingFile">
    <md-spinner color="warn"></md-spinner>
  </div>

  <checklist-possible-answer (sendAnswerValue)="emitAnswerValue($event)"
    [checklistPossibleAnswers]="checklistPossibleAnswers" [answers]="answers">
  </checklist-possible-answer>

  <div>
    <md-input-container fxFlex="auto">
      <input mdInput placeholder="OBSERVAÇÃO" [disabled]="answers.idAnswerPossible === 0"
        [(ngModel)]="answers.observation" trimText>
    </md-input-container>
  </div>

  <div class="grid-row" *ngIf="answers.idAnswerPossible !== 0">
    <checklist-attachment-files (sendAttachmentValue)="emitAttachmentValue($event)"
      (sendLoadingFile)="emitLoadingFile($event)" [editable]="true" [answers]="answers"></checklist-attachment-files>
  </div>
</div>
