@import '../../../../../../scss/components/color';

md-input-container {
  margin-top: 9px;
}

md-checkbox{
    align-items:right
}

.new-qualification {
    width: 50%;
    height: 46px;
    background-color: #edeff0;
    border: dashed 2px #e0e4e5;
    font-size: 10px;
    font-weight: bold;
    color: $greyish-brown;
    cursor: pointer;
}

.add-icon {
    padding: 0 17px 0 15px;
    width: 15px;
    height: none;
}

.action {
    float: left;
    margin: 28px 0 0 0;
    &.delete {
        margin: unset;
    }
}

.border-red {
    border-style: solid;
    border-color: red;
}


div{
    button{
        md-icon{
            &:hover {
                color: black;
            }
        }
    }
}

md-radio-group {
    p {
        font-size: 7.5pt;

    }

    & .situacao {
        margin-bottom: -7%;
    }
}

.md-spacing {
    margin-bottom: 50px
}

.sm-spacing {
    margin-bottom: 75px;
}

.icons-spacing {
    margin-top: 20px;
}

.header-searchbox {
  border: none;
  outline: none;
  height: 45px;
  width: 100%;
  padding: 5px 15px;
}
