<form [formGroup]="qualificationsForm" novalidate id="form1" name="form1">
    <div formArrayName="skills">
        <div *ngIf="model.qualifications.length > 0">
            <div *ngFor="let qualification of model.qualifications; let i = index">
                <div [formGroupName]="i" [attr.disabled]="true" ngClass.md="md-spacing" ngClass.lt-md="sm-spacing" fxLayoutAlign="none center" style="height: 80px">

                    <div fxFlexOffset="1" fxLayoutAlign="center center">
                        <md-icon *ngIf="!qualification.able" md-tooltip="Erro" class="danger-icon"> error</md-icon>
                        <img src="assets/activities/tasks/ic-time-late.svg" *ngIf="showLateClock(qualification)"
                            mdTooltip="atrasado" alt="Atrasado">
                        <span *ngIf="!showLateClock(qualification) && qualification.able" style="margin-left: 25px;"></span>
                    </div>

                    <div fxLayout.lt-md="column" fxLayoutAlign.lt-md="space-between" fxLayoutAlign="space-between center" fxFlexOffset="1" fxFlex>
                        <div fxLayout.lt-lg="column" fxLayoutAlign.lt-lg="space-between" fxLayoutAlign="space-between center" fxFlex.lt-lg="60" fxFlex.gt-md="82"
                            fxLayoutGap="5px">

                            <!-- HABILITAÇÕES -->
                            <div fxFlex="35.5">
                                <md-select class="managements-list"  placeholder="Habilitação" (ngModelChange)="qualification.qualities = $event" [ngModel]="getQuality(qualification.qualities)" (click)="qualification.searchTerm = ''"
                                    formControlName="quality" [mdTooltip]="qualification.qualities?.name" >
                                    <input name="searchTerm" formControlName="searchTerm" (ngModelChange)="qualification.searchTerm = $event" [ngModel]="qualification.searchTerm" type="search"
                                      (click)="qualification.qualities = null"
                                      class="header-searchbox" placeholder="nome da habilitação" />

                                    <md-option [mdTooltip]="skill.name" matTooltipPosition="right"
                                      *ngFor="let skill of qualities | myQualityfilter:qualification.searchTerm" [value]="skill" [mdTooltip]="skill.name">
                                        {{ skill.name }}
                                    </md-option>
                                </md-select>
                                <md-error *ngIf="getFormGroup(i).controls.quality.hasError('required') && getFormGroup(i).controls.quality.touched">Campo Obrigatório.</md-error>
                                <md-error *ngIf="getFormGroup(i).controls.quality.hasError('invalidQuality')">Habilitação já adicionada.</md-error>
                            </div>

                            <!-- DATA REAL. / PROX. REC. / SIT. / REC. -->
                            <div fxLayoutAlign="space-between center center"  fxFlex="69.5" fxLayoutGap="5px">
                                <div fxFlex.lt-md="54" fxFlex="48" fxFlex.gt-md="44">

                                    <div fxFlex="calc(50% - 5px)" fxFlexOffset="5px">
                                        <md-input-container >
                                            <input dateMask="99/99/9999" mdInput required [mdDatepicker]="realizationDatePicker" placeholder="Data Realização" formControlName="realizationDate"
                                            [disabled]="getFormGroup(i).controls.realizationDate.disabled || qualification.shelved"
                                                [ngModel]="qualification.realizationDate" (ngModelChange)="setRealizationDate(i, $event)" validateOnBlur>
                                            <md-error *ngIf="getFormGroup(i).controls.realizationDate.hasError('invalid')">Data Inválida.</md-error>
                                            <md-error *ngIf="getFormGroup(i).controls.realizationDate.hasError('required') &&
                                                            !getFormGroup(i).controls.realizationDate.hasError('invalid')">Campo Obrigatório.</md-error>
                                            <md-error *ngIf="!getFormGroup(i).controls.realizationDate.hasError('required') &&
                                                            getFormGroup(i).controls.realizationDate.hasError('invalidRecyclingDate')">Menor que última realização</md-error>
                                            <md-error *ngIf="getFormGroup(i).controls.realizationDate.hasError('afterToday')">Data maior que hoje.</md-error>
                                            <button mdSuffix [mdDatepickerToggle]="realizationDatePicker" [disabled]="getFormGroup(i).controls.realizationDate.disabled || qualification.shelved"></button>
                                            <md-datepicker #realizationDatePicker></md-datepicker>
                                        </md-input-container>
                                    </div>

                                    <div fxFlex="calc(50% - 5px)" fxFlexOffset="5px">
                                        <md-input-container>
                                            <input dateMask="99/99/9999" mdInput required [mdDatepicker]="nextDatePicker" placeholder="Próx. Reciclagem" formControlName="nextDate"
                                                [ngModel]="qualification.nextDate" (ngModelChange)="setNextDate(i, $event)" validateOnBlur [disabled]="getFormGroup(i).controls.nextDate.disabled || qualification.shelved">
                                            <md-error *ngIf="getFormGroup(i).controls.nextDate.hasError('invalid')">Data Inválida.</md-error>
                                            <md-error *ngIf="getFormGroup(i).controls.nextDate.hasError('required') &&
                                                            !getFormGroup(i).controls.nextDate.hasError('invalid')">Campo Obrigatório.</md-error>
                                            <md-error *ngIf="!getFormGroup(i).controls.nextDate.hasError('required') &&
                                                            getFormGroup(i).controls.nextDate.hasError('invalidRecyclingDate')">Menor que última realização</md-error>
                                            <md-error *ngIf="getFormGroup(i).controls.nextDate.hasError('invalidRange') &&
                                                            !getFormGroup(i).controls.nextDate.hasError('invalidRecyclingDate')">Menor ou igual que data de realização.</md-error>
                                            <button mdSuffix [mdDatepickerToggle]="nextDatePicker" [disabled]="getFormGroup(i).controls.nextDate.disabled || qualification.shelved"></button>
                                            <md-datepicker #nextDatePicker></md-datepicker>
                                        </md-input-container>
                                    </div>
                                </div>

                                <md-radio-group fxFlex.lt-md="15" fxFlex.md="29" fxFlex.gt-md="28" formControlName="able" [(ngModel)]="qualification.able">
                                    <p ngClass.gt-sm="situacao" [class.suffixDisabled]="getFormGroup(i).controls.able.disabled">SITUAÇÃO</p>
                                    <md-radio-button fxFlex="46" fxFlex.lt-md="calc(50% + 1px)" [value]="true">Apto</md-radio-button>
                                    <md-radio-button fxFlex="50" [value]="false">Inapto</md-radio-button>
                                </md-radio-group>

                                <md-radio-group fxFlex.lt-md="40" fxFlex.md="35" fxFlex.gt-md="35" formControlName="recyclingOrShelved"
                                    (ngModelChange)="setRecyclingOrShelved(i, $event)">
                                    <p></p>
                                    <md-radio-button fxFlex="50" [value]="'shelved'">Arquivar</md-radio-button>
                                    <md-radio-button fxFlex="50" [value]="'recycling'">Reciclagem</md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>

                        <!-- ICONES -->
                        <div fxLayoutAlign="space-between center end" fxFlex fxFlexOffset="5px" ngClass.lt-md="icons-spacing">
                            <div fxFlex>
                                <input-file (onFileSelect)="onFileSelect($event, i)" [accept]="'image/png, image/jpeg, application/pdf'" (clear)="clearFile(qualification)"
                                    (undoClear)="undoClear(qualification, $event)" [fileUrl]="model.qualifications[i].attachmentUrl"
                                    showFileName="true" showClear="true" [fileName]="model.qualifications[i].attachmentFilename"
                                    [downloadable]="model.qualifications[i].attachmentUrl && model.qualifications[i].attachmentFilename && !model.qualifications[i].attachment"
                                    [disabled]="getFormGroup(i).disabled || due(qualification)">
                                </input-file>
                            </div>

                            <button md-icon-button (click)="removeSkill(i)" [disabled]="getFormGroup(i).controls.realizationDate.disabled">
                                <md-icon>delete</md-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div style="padding-top: 20px;">
    <div (click)="addSkill()" class="new-qualification" fxLayout="row" fxLayoutAlign="start center">
        <md-icon class="add-icon">add</md-icon>
        <span>ADICIONE UMA NOVA HABILITAÇÃO</span>
    </div>
</div>

<div class="form-bottom">
    <button md-raised-button class="button-default" (click)="saveQualifications()" [disabled]="isCreating() || qualificationsForm.invalid || (model.qualifications.length === 0 && empty)">Salvar e continuar</button>
</div>
