.alerts-tab {

    display: block;
    position: relative;
    overflow: visible;

    .alert-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 5.5em;
        width: 5.5em;

        background-color:#f2f6f7;
        box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.05);

        font-size: 1em;
        color: #ff4c4c;
        text-align: center;

        cursor: pointer;

        &.active {
            background-color: white;
        }

        .icon {
            background-image: url('/assets/markers/danger-colored.png');
            width: 1.5em;
            height: 1.5em;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        span {
            font-size: 0.9em;
        }
    }

    .alerts-dropdown {
        display: block;
        height: 0;
        overflow: hidden;

        max-height: 280px;
        
        &.active {
            height: auto;
            overflow: scroll;
        }

        position: absolute;
        top: 5.5em;
        right: 0;
        
        width: 30em;

        background-color: white;
        box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.05);
    }
}
