$greyish-brown: #3c3c3c;

:host {
    display: block;
}

li {
    display: flex;
    align-items: center;

    padding: 0.5em 1em 0.5em 1em;

    border-bottom: 1px solid #e8e8e8;

    &.none img {
        display: none;
    }

    &.right img {
        order: 2;
        right: 0;
    }
}

img { 
    width: 15.6px;
    height: 17.3px;
    object-fit: contain;
    margin-right: 1em;
}

span {
    width: calc(100% - 45px);
    height: auto;
    margin-right: 15px;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.15;
    color: $greyish-brown;
}

.link {
    cursor: pointer;
}
