:host {
    height: 650vh;
}


.sub-title {
    font-size: 15px;
    font-weight: bold;
    color: rgba(129, 128, 127, 0.788);
}


.text-step{
    font-weight: bold;
    font-size: 10px;
    color: rgba(129, 128, 127, 0.788)
}

.step-selected {
    color: #FF4C4C;
    font-weight: bold;
    md-icon{
        font-size: 20px;
        width: 10px;
        height: 10px;
    }

}

md-chip{
    margin: 0 0px 0px 0;
}

.row-group{    
    border: 0px;
    width: 100%;
}

.grid-row {
    margin-top: 5%;
}

.teste.md-chip {
    background-color:  #00BD87;
}


.title-form-group {
    padding-top: 0.6%;
    padding-inline-end: 0%;
}


h6 {
    margin-bottom: 2%;
    font-size: 12px;
    font-weight: 900;
    color: black;
}

md-button-toggle {
    border: 1px solid #494949;
    font-size: 10.5px;
    font-weight: bolder;
    color: #494949;
}

md-divider {
    padding-top: 0%; 
}

