<form [formGroup]="oneStepFormGroup" [disabled]="disabled" novalidate>

  <div class="title-form-group " fxlayout="row">
    <h6 fxFlex>tipo da ocorrência</h6>
  </div>
  <md-button-toggle-group required class="row-group" fxLayout="row" fxLayoutAlign="start center" formControlName="typeOcurrence" [(ngModel)]="occurrenceTypeSelected">
    <md-button-toggle value="{{ type.id }}" *ngFor="let type of types"> {{type.description}}</md-button-toggle>
  </md-button-toggle-group>

  <div class="grid-row" fxlayout="row" *ngIf="occurrenceTypeHasSubTypes()">
    <md-select placeholder="Irregularidades" formControlName="subTypeOcurrence" [required]="occurrenceTypeHasSubTypes()" [(ngModel)]="occurrenceSubTypeSelected" trimText>
        <md-option *ngFor="let occurrenceSubType of getOccurrenceSubTypes(occurrence.occurrenceType)" [value]="occurrenceSubType.id">
            {{ occurrenceSubType.description }}
        </md-option>
    </md-select>
  </div>

  <div class="grid-row" fxLayout="row">
    <md-input-container fxFlex>
      <textarea rows="4" mdInput placeholder="descrição da ocorrência" formControlName="descOcurrence" [(ngModel)]="occurrence.title" 
                required [maxlength]="descOccurrenceMaxLength"></textarea>
      <md-hint align="end">{{ occurrence.title ? occurrence.title.length : 0 }} / {{ descOccurrenceMaxLength }}</md-hint>
    </md-input-container>
  </div>
  <div class="title-form-group" fxLayout="row">
    <h6 fxFlex>onde</h6>
  </div>
  <md-divider></md-divider>
  <div fxlayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayout.sm="column">
    <md-input-container fxFlex="50%">
      <input required mdInput placeholder="setor" formControlName="sector" [(ngModel)]="occurrence.sectorStr" trimText>
    </md-input-container>
    <md-input-container fxFlex="50%">
      <input required mdInput placeholder="Local" formControlName="locale" [(ngModel)]="occurrence.eventDestination" trimText>
    </md-input-container>
  </div>

  <div class="title-form-group" fxLayout="row">
    <h6 fxFlex>quando</h6>
  </div>
  <md-divider></md-divider>

  <div fxlayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayout.sm="column">

    <md-input-container fxFlex="50%">
      <input required mdInput dateMask="99/99/9999" [max]="limitMaxDate" formControlName="dateOcurrence" [mdDatepicker]="datePicker" placeholder="data ocorrência"
        [(ngModel)]="occurrence.scheduleTo" validateOnBlur>
      <button mdSuffix [mdDatepickerToggle]="datePicker" [disabled]="onEdit"></button>
      <!-- <md-error *ngIf="hasErrorForm('endAt', 'isbeforeEnd')">data inferior a data atual ou á data inicial.</md-error> -->
      <md-datepicker #datePicker></md-datepicker>
    </md-input-container>

  </div>
</form>