// @import '../../../../../../../scss/components/color.scss';


.grid-column {
    padding: 0 10px;
    max-width: 560px;
    margin-bottom: 0px !important;
}

.icon-margin {
    margin: 10px 10px;
}

span {
    font-size: 14px;
}

.completed {
    color: #00BD87;
}

.scheduled {
    color: #A1ABB0;
}

.progress {
    color: #FFC315;
}

.delayed {
    color: #FF4C4C;
}

.pending {
    color: #3C3C3C;
}