<div class="worker-card">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">

            <div class="front">
                <md-icon *ngIf="worker.contractType === 'Terceiro'" class="mat-icon-card">title</md-icon>

                <div md-card-avatar class="image-wrapper" *ngIf="worker.photoUrl">
                    <img [src]="worker.photoUrl + '?t=' + worker.photoFilename | backendPath" alt="">
                </div>

                <div md-card-avatar class="image-wrapper" *ngIf="!worker.photoUrl" 
                    [ngStyle]="{'background-image': 'url(' + (worker.gender ? 'assets/avatar_m.png' : 'assets/avatar_f.png') + ');'}"></div>

                <md-card-content *ngIf="worker.contractType === 'Próprio'">
                    <br>
                    <p>
                        <b>{{ worker.name | Limit:22 }}</b>
                    </p>
                    <p>{{ worker.cpf | cpfMask }}</p>
                    <p> 
                        <md-chip *ngIf="!worker.status" class="chip worker-status">
                            <span>INATIVO</span>
                        </md-chip> 
                    </p>
                </md-card-content>

                <md-card-content class="terceiro" *ngIf="worker.contractType === 'Terceiro'">
                    <br>
                    <p>
                        <b>{{ worker.name | Limit:22 }}</b>
                    </p>
                    <p>{{ worker.cpf | cpfMask }}</p>
                    <p [hidden]="worker.company === null">{{ worker.company | Limit:15 }}</p>
                    <p> 
                        <md-chip *ngIf="!worker.status" class="chip worker-status">
                            <span>INATIVO</span>
                        </md-chip> 
                    </p>
                </md-card-content>

            </div>

            <div class="back">
                <md-card-content>
                    <div class="tools">
                        <md-icon class="editRight" (click)="toEditWorker.emit(worker)">edit</md-icon>
                    </div>
                    <a href="javascript:void(0)" (click)="openDialog(worker)" style="text-decoration:none;">
                        <div class="backContent">
                            <p class="top">
                                <b>{{ worker.name }}</b>
                            </p>
                            <p>{{ worker.birthDate | date: 'dd/MM/yyyy' }}</p>
                            <p *ngIf="worker.cbos?.title.length > 0">{{ worker.cbos.title }}</p>
                        </div>
                    </a>

                    <div class="tools" *ngIf="hasPermissionToPrintEpiReport()">
                        <md-icon mdTooltip="FICHA DE EPI" (click)="toPrintEpiReport(worker)" class="safety-icn-epi-svg"></md-icon>
                    </div>

                </md-card-content>
            </div>

        </div>
    </div>
</div>