<md-tab-group *ngIf="constructionService.construction.workers.length > 0" #tabGroup (selectChange)="onSelectChange($event)" disableRipple>
    <md-tab id="tab1" label="Painel Emocional">

        <div fxLayout fxLayoutWrap class="line-spacer">

            <div fxFlex.lt-lg="100" fxFlex.gt-sm="35">
                <div fxFlex class="column-spacer">
                    <day-status></day-status>
                </div>
            </div>
            
            <div fxFlex.lt-lg="100" fxFlex.gt-sm="65">
                <div fxLayout="column" class="column-spacer">
                    <emotions-graph></emotions-graph>
                </div>
            </div>

        </div>

        <div fxLayout fxFlex="100">

            <div fxFlex class="column-spacer">
                <emotions-chart fxFlex class=""></emotions-chart>
            </div>

        </div>

    </md-tab>
</md-tab-group>
<p *ngIf="constructionService.construction.workers.length === 0">Não há trabalhadores cadastrados</p>
