<div>
  <form [formGroup]="actionItemForm" novalidate>
    <div fxlayout="row">
      <md-input-container fxFlex="100%">
        <textarea rows="4" mdInput placeholder="Ação" formControlName="action" [(ngModel)]="actionPlanItem.description" trimText></textarea>
      </md-input-container>
    </div>

    <div fxlayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayout.sm="column">
      <md-input-container fxFlex="20%">
        <input required mdInput dateMask="99/99/9999" formControlName="beginAt" [(ngModel)]="actionPlanItem.beginAt" [mdDatepicker]="pickerBegin"
          placeholder="data início">
        <button [disabled]="isEnabledDate('beginAt')" mdSuffix [mdDatepickerToggle]="pickerBegin"></button>
        <md-error *ngIf="hasErrorForm('beginAt', 'isbefore')">data inferior a data atual.</md-error>
        <md-error *ngIf="hasErrorForm('beginAt', 'invalid')">data inválida.</md-error>
        <md-error *ngIf="hasErrorForm('beginAt', 'required') && !hasErrorForm('beginAt', 'invalid')">campo obrigatório.</md-error>
        <md-datepicker #pickerBegin></md-datepicker>
      </md-input-container>

      <md-input-container fxFlex="20%">
        <input required mdInput dateMask="99/99/9999" formControlName="endAt" [(ngModel)]="actionPlanItem.endAt" [mdDatepicker]="pickerEnd"
          placeholder="data fim" validateOnBlur>
        <button mdSuffix [disabled]="isEnabledDate('endAt')" [mdDatepickerToggle]="pickerEnd"></button>
        <md-error *ngIf="hasErrorForm('endAt', 'isbeforeEnd')">data inferior a data atual ou a data inicial.</md-error>
        <md-error *ngIf="hasErrorForm('endAt', 'invalid')">data inválida.</md-error>
        <md-error *ngIf="hasErrorForm('endAt', 'required') && !hasErrorForm('beginAt', 'invalid')">campo obrigatório.</md-error>
        <md-datepicker #pickerEnd></md-datepicker>
      </md-input-container>

      <md-input-container fxFlex>
        <input required class="inputAutocomplete" [(ngModel)]="actionPlanItem.responsibleUser" value="actionPlanItem.responsibleUser.name" [mdAutocomplete]="auto" 
          mdInput placeholder="responsável pela execução" formControlName="responsibleUser" >
        <md-error *ngIf="hasErrorForm('responsibleUser', 'invalid')">usuário inválido</md-error>
        <md-error *ngIf="hasErrorForm('responsibleUser', 'required') && !hasErrorForm('responsibleUser', 'invalid')">campo obrigatório</md-error>
        <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFilteredUserFunction">
          <md-option *ngFor="let user of filteredUserList | async" [value]="user">
            {{ user.name }}
          </md-option>
        </md-autocomplete>
      </md-input-container>
    </div>

    <div fxlayout="row">
      <div fxFlex="90%">
        <md-input-container fxFlex>
          <textarea rows="4" mdInput placeholder="Nova Observação" formControlName="newObservation" [(ngModel)]="newObservation.observation" trimText></textarea>
        </md-input-container>
      </div>
      <div fxFlex="10%" fxLayoutAlign="end center">
        <button [disabled]="! isAddObservationEnable()" fxFlex fxLayoutAlign="space-around" md-icon-button (click)="addObservation()">
          <md-icon mdTooltip="Adicionar">note_add</md-icon>
        </button>
      </div>
    </div>

    <div fxlayout="column">

      <md-card>
        <md-card-header>
          <md-card-title>Histórico de Observações<span *ngIf="actionPlanItem.observationList?.length > 0"> ({{ actionPlanItem.observationList?.length }})</span></md-card-title>
        </md-card-header>
        <div *ngFor="let observation of actionPlanItem.observationList" class="list-item">
          <div fxlayout="row">
            <safety-card [isHidden]="true">
              <safety-card-header fxFlex="93%">
                    <div class="infos">
                      <span class="data">
                        Em: <a>{{ observation.observationAt | date:'dd/MM/yyyy HH:mm' }}</a>
                      </span>
                      <span> | </span>
                      <span class="data">
                        Usuário: <a>{{ observation.user?.name }}</a>
                      </span>
                      <span> | </span>
                      <span class="data long">
                        <a>{{ observation.observation }}</a>
                      </span>
                    </div>
              </safety-card-header>

              <safety-card-content>
                <h5>Descrição do histórico</h5>
                <textarea [disabled]="true" rows="4" mdInput placeholder="Descrição">{{observation.observation}}</textarea>
              </safety-card-content>
            </safety-card>
          </div>
        </div>
      </md-card>
    </div>

  </form>

</div>