@import '../color.scss';

.big-button {
    display: block;
    padding: 1em 3em;
    background-color: $grapefruit;
    margin: auto;
    color: white;
    text-decoration: none;
    max-width: 200px;
    cursor: pointer;
    &:hover {
        background-color: darken($grapefruit, 5);
    }
}

a.action {
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: $grapefruit;
    text-decoration: underline;
    cursor: pointer;
}

a.disabled {
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    opacity: 0.5;
    text-decoration: none !important;
    cursor: default !important;
}

a.start {
    background-color: $grapefruit;
    padding: 20px 65px;
    font-size: 14px;
    font-weight: bold;
    line-height: 0.71;
    text-align: left;
    color: #ffffff !important;
}

button.button-default {
    width: auto;
    opacity: 1;
    background-color: $cool-grey;
    color: white;
    font-size: 11px;
}

button.button-red {
    width: auto;
    opacity: 1;
    background-color: $grapefruit;
    color: white;
    font-size: 11px;
}
button[disabled] {
    opacity: 0.5;
}

.search {
    margin: 0 20px;
    color:  $warm-grey-four;
}

button.selection-button {
    width: 30px !important;
    height: 30px !important;
    background-color: $cool-grey;
    color: white;
    border: none;
    cursor: pointer;
}

button.selection-button-disabled {
    width: 30px !important;
    height: 30px !important;
    background-color: $cool-grey;
    color: white;
    border: none;
}

.mat-button-toggle-checked {
    background-color: #5E5E5E !important;
    color:            white !important;
}

.mat-button-toggle {
    background-color: inherit;
    color: $greyish-brown;
    border:           1px solid #5E5E5E;

    label {
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
}

.mat-button-toggle-label-content {
    line-height: 30px !important;
}

button.no-overlay:hover {
    div.mat-button-focus-overlay {
        opacity: 0;
    }
}
