md-chip {
    padding: 3px 10px !important;
    margin: 0 5px !important;
    border-radius: 0 !important;
    font-size: 10px !important;
    font-weight: 900 !important;
    line-height: 1.4;
    letter-spacing: 0.5px;
    text-align: left;
    outline: none;
    cursor: pointer;

    md-icon {
        margin-right: 5px;
        font-size: 15px;
        color: white;
    }
}

.chip-success {
    background-color: $green-blue !important;
    color: white !important;
}

.chip-danger {
    background-color: $grapefruit !important;
    color: white !important;
}

.chip-warn {
    background-color: $sunflower !important;
    color: white !important;
}

.chip-none {
    background-color: $light-gray !important;
    color: white !important;
}

.chip-good-habits {
    background-color: $topaz;
    color: white !important;
}

.chip-accidents {
    background-color: $topaz;
    color: white !important;
}

.disabled {
    background-color: #e0e0e0 !important;
}

.success {
    background-color: $green-blue !important;
    border:           2px solid $green-blue !important;
    color:            white !important;
}

.active {
    background-color: #5E5E5E !important;
    color:            white !important;
}

.main-chip {
    background-color: inherit;
    color: $greyish-brown;
    border:           2px solid #5E5E5E;

    md-icon {
        width:            17px !important;
        height:           17px !important;
        margin-right:     5px;
        font-size:        7.7px;
        background-color: $green-blue;
        color:            white;
        margin-right: 0;
    }
}
