@import '../color.scss';

md-error,
md-select,
md-radio-group,
md-input-container,
input,
md-slide-toggle {
    color: $greyish-brown;
    * {
        color: $greyish-brown;
    }
}

md-input-container {
    margin-top: 5px;
}

md-slide-toggle {
    color: $greyish-brown;
    * {
        color: $greyish-brown;
    }
}

md-error {
    position: relative;
    margin-top: 5px;
    padding-left: 0;
    font-size: 7pt;
    font-weight: bold;
}

.mat-input-container {
    font-size: 10pt;
    .mat-input-wrapper {
        margin-bottom: 0;
    }
    .mat-input-underline,
    .mat-select-underline {
        background-color: $greyish-brown;
    }
    .mat-input-element,
    .mat-input-placeholder.mat-empty,
    .mat-focused .mat-input-placeholder .mat-float,
    .mat-input-placeholder.mat-float {
        color: $greyish-brown;
    }
}

input[disabled], textarea[disabled] {
    & ~ .mat-input-placeholder-wrapper{
        .mat-input-placeholder {
            opacity: 0.5;
        }
    }
}

.suffixDisabled {
    opacity: 0.5;
}

md-select {
    width: 100%;
    min-width: 0;
    display: inline-flex;
    .mat-select-trigger .mat-select-placeholder,
    md-select .mat-select-trigger .mat-select-placeholder,
    .mat-select-value-text {
        font-size: 10pt;
        color: $greyish-brown;
    }
    .mat-select-arrow,
    .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow,
    .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
        color: $grapefruit !important;
    }
    .mat-select-underline {
        background-color: $greyish-brown !important;
    }
}

.mat-option.mat-selected.mat-primary,
.mat-primary .mat-option.mat-selected {
    color: $grapefruit !important;
}

.mat-option {
    font-size: 0.8em !important;
    border-bottom: 1px solid #F5F5F5 !important;
}

md-radio-group {
    width: auto;
    min-height: 51px;
    display: inline-block;
    flex-wrap: wrap;
    align-items: flex-start;
    p {
        width: 100%;
        display: inline-block;
        margin-top: 0;
        margin-bottom: 4px;
        color: $greyish-brown;
        font-size: 10pt;
    }
    md-radio-button {
        padding-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
    .mat-radio-label-content {
        align-self: center;
        color: $greyish-brown;
        font-size: 10pt;
        padding-top: 1.5px;
    }
    .mat-radio-inner-circle {
        background-color: $grapefruit;
    }
    .mat-radio-outer-circle {
        border-color: #D0D0D0;
    }
    .mat-radio-checked .mat-radio-outer-circle {
        border-color: $grapefruit;
    }
}
