.leaflet-control-attribution {
    display: none !important;
}

.leaflet-control-zoom {
    border: none !important;
    background-color: #ffffff;
}

.leaflet-control-zoom-in {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    color: #b8b9b9 !important;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.05) !important;
}

.leaflet-popup-content {
    font-size: 14px;
    font-weight: bold;
    h1, p {
        margin: 0 !important;
        font-size: 1em;
    }
    h1 {
        color: #ff4c4c;
    }
    p {
        color: #999999;
    }
}

.leaflet-popup-content-wrapper {
    border-radius: 2px !important;
}