.mat-select {
    .mat-select-placeholder.mat-floating-placeholder{
        top: -14px;
    }

    .mat-select-placeholder {
        color: black;
    }

    .mat-select-underline {
        background-color: black;
    }

    .mat-select-arrow {
        color: $grapefruit;
        flex-basis: 0;
    }
}

md-select.mat-select-disabled {
    opacity: 0.5;
}

.no-underline {
    
    .mat-select-underline {
        display: none !important;
    }        
}

.mapping {

    .mat-select-trigger {
        font-size: 11px;
        font-weight: bold;
        line-height: 1.27;
        color: $greyish-brown;
    }
}

.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow,
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
    color: $grapefruit !important;
}
