@import './../color.scss';

.main-toolbar {
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    line-height: 10vh;

    font-size: 1em;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.05);
    background-color: white !important;

    & .mat-toolbar-layout {
        width: 100%;
    }

    & md-toolbar-row {
        height: 10vh !important;
    }

    h1 {
        font-family: 'Lato' !important;
        font-size: 1.15em !important;
        font-weight: lighter;
        margin-right: 1em;
        color: $warm-grey-four;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            display: inline-block;

            a {
                display: block;
                box-sizing: border-box;
                height: 100%;
                font-size: 0.85em;
                text-decoration: none;
                font-weight: 900;
                color: #999;

                &.active {
                    color: $greyish-brown;
                    position: relative;
                    font-size: 0.75em;
                    text-decoration: none;
                    font-weight: 900;

                    &.active {
                        color: $greyish-brown;
                        position: relative;

                        &:before {
                            content: "";
                            display: block;
                            height: 3px;
                            width: 100%;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            background-color: $greyish-brown;
                        }
                    }
                }
            }
        }

        .navigation-items {
            flex-grow: 1;
        }

        .profile-info {
            flex-grow: 0;
            align-self: flex-end;
        }
    }
}