<div *ngIf="!disabled" fxFlex="100" fxLayout="column" style="margin-top: -20px">
    <md-input-container fxFlex="100" style="margin-top: 11px !important"      >
        <input #keywords mdInput [attr.disabled]="selectedExhibitions!=1 ? '' : null"
        placeholder={{placeHolder}}
        [mdAutocomplete]="auto" 
        [formControl]="stateCtrl" 
        [(ngModel)]="query"           
        (blur)="blurEventHandler()" 
        (focus)="focusEventHandler()" 
        (focusout)="focusOutEventHandler()" >
        
    </md-input-container>

    <md-autocomplete  [attr.disabled]="selectedExhibitions!=1 ? '' : null"  #auto="mdAutocomplete"  >
        
        <md-option  *ngFor="let minister of filteredMinisters| async;let last=last;let index=index  " 
                          [value]="minister.name" 
                          (click)="process(minister,isSelected(minister.name) )">
                  <md-checkbox  *ngIf="minister.id>=0"  [checked]="isSelected(minister.name)" [disabled]=true></md-checkbox>     
                  <span>{{minister.name}}</span>
         </md-option>
        
    </md-autocomplete>
    <md-error *ngIf="selected.length>5">O número máximo de ministrantes que podem ser selecionados é 5</md-error>      
</div>
<div *ngIf="disabled" fxFlex="100" fxLayout="column" style="margin-top: -20px">
    <md-input-container fxFlex="100"     [disabled]="true"     >
        <input  mdInput
        placeholder={{placeHolder}}
        [disabled]="true"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="query"          
     >

    </md-input-container>

</div>
