<safety-dialog>
    <safety-dialog-header>
        {{ title | idWearablePipe}}
    </safety-dialog-header>

    <safety-dialog-content>
        <wearable-form [workerWearableIn]="workerWearable" [edit]="data.update" (save)="save($event)" (formUpdate)="formUpdate($event)"></wearable-form>
    </safety-dialog-content>

    <safety-dialog-actions>
        <button md-button *ngIf="!data.update" class="button-red" (click)="saveWorkerWearable(workerWearable)" [disabled]="invalid">Cadastrar</button>
        <button md-button *ngIf="data.update" class="button-default" (click)="close()" md-dialog-close>fechar</button>
    </safety-dialog-actions>
</safety-dialog>