<md-spinner *ngIf="isLoadingActive()" color="warn"></md-spinner>

<div class="action-plan-container" fxLayout="column">
    <div fxLayout fxFlex="initial" fxLayoutAlign="start">
        <button md-button class="button-default mat-button" (click)="doGoBackToList()">Voltar</button>
    </div>
    <div class="line-info">
        <div fxFlex fxLayout fxLayoutAlign="start center">
            <span class="name" [mdTooltip]="actionPlan?.description"> Plano de Ação: {{ actionPlan?.description | Limit:75 }} </span>
        </div>

        <div fxFlex="initial" fxLayout fxLayoutAlign="end center" class="status-info">
            <span mdTooltip="Pendentes">
                <md-icon class="status-pending">access_time</md-icon> {{ actionPlan.qtdeStatus05 }}
            </span>
            <span mdTooltip="Agendadas">
                <md-icon class="status-scheduled">access_time</md-icon> {{ actionPlan.qtdeStatus02 }}
            </span>
            <span mdTooltip="Em Progresso">
                <md-icon class="status-progress">access_time</md-icon> {{ actionPlan.qtdeStatus03 }}
            </span>
            <span mdTooltip="Atrasadas">
                <md-icon class="status-delayed">access_time</md-icon> {{ actionPlan.qtdeStatus04 }}
            </span>
            <span mdTooltip="Concluídas">
                <md-icon class="status-completed">access_time</md-icon> {{ actionPlan.qtdeStatus01 }}
            </span>
        </div>
    </div>

    <div *ngIf="!isLoadingActive()" class="list-item">
        <div *ngFor="let actionPlanItem of listActions">
            <md-card *ngIf="ispending(actionPlanItem)">
                <action-plan-item-form #actionForm (savedItem)="onSaveItem($event)" [actionPlanItem]="actionPlanItem"></action-plan-item-form>
                <md-card-actions>
                    <div md-button class="but-form">
                        <button [disabled]="actionForm.form.invalid" class="button-red" md-raised-button (click)="onSaveItem(actionPlanItem)">Salvar</button>
                    </div>
                </md-card-actions>
            </md-card>
            <p></p>
        </div>
        <p></p>
        <div *ngFor="let actionPlanItem of listActions">
            <div *ngIf="!ispending(actionPlanItem)">
                <action-list-line-detail (actionFinheshed)="actionFinheshed($event)" (openDialogEvent)="openForm($event)" [actionPlanItem]="actionPlanItem"></action-list-line-detail>
            </div>
        </div>
    </div>
    
    <div fxLayout fxFlex="initial" fxLayoutAlign="end center">
        <button md-button class="button-default button-red" (click)="doGoBackToList()">Voltar</button>
    </div>
</div>

