<safety-dialog>
  <safety-dialog-header>
    {{ title }}
  </safety-dialog-header>
  <safety-dialog-content>
    <form #f="ngForm" [formGroup]="userForm" novalidate enctype="multipart/form-data">
      <div class="form-content grid-container">
        <div class="grid-column">
          <div class="grid-row">
            <md-input-container class="half">
              <input mdInput placeholder="Identificação" maxlength="100"
                formControlName="identificacao" [(ngModel)]="sensor.identification" required [textMask]="{ mask: coneIdMask, guide: true }">
              <md-error *ngIf="userForm.controls.identificacao.hasError('required')">Campo Obrigatório.</md-error>
            </md-input-container>
          </div>
          <div class="grid-row">
            <md-select placeholder="Tipo" [(ngModel)]="sensor.type" [ngModelOptions]="{standalone: true}" required>
              <md-option mdTooltip="Guarda Corpo Inteligente (Remoto)" matTooltipPosition="right" [value]="1">
                Guarda Corpo Inteligente (Remoto)</md-option>
                <md-option mdTooltip="Guarda Corpo Inteligente (Gateway)" matTooltipPosition="right" [value]="2">
                Guarda Corpo Inteligente (Gateway)</md-option>
            </md-select>
          </div>
          
        </div>
      </div>
    </form>
  </safety-dialog-content>
  <safety-dialog-actions>
    <button md-button class="button-red" (click)="saveSensor()" [disabled]="!isValid()">{{mode === 'create' ? 'Cadastrar' : 'Alterar'}}</button>
  </safety-dialog-actions>
</safety-dialog>