@import '../../../../../../../scss/components/color.scss';

.active-cone {
    color: $green-blue;
}

.inactive-cone {
    color: $inactive;
}

.right-info {
    max-width: 100px;
}

.cone-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
    max-width: 14vw;
}

.active-cone, .inactive-cone {
    font-size: 13pt;
    height: 13px;
    margin: 0 0 0 1.5%;
}

.horizontal-divider {
    margin: 0 1% 0 1%;
}

.battery {
    margin: 0 15% 0 0;
}

i.safety-icn-low-batery-svg, i.safety-icn-medium-batery-svg, i.safety-icn-full-batery-svg {
    margin: 0 1% 0 1%;
    padding: 2px 3px 0 3px;
    color: white;
}

i.full {
    background-color: $green-blue; 
}

i.medium {
    background-color: $sunflower; 
}

i.low {
    background-color: $grapefruit; 
}

md-slide-toggle {
    height: 50%;
}

.cone-info {
    min-height: 50px;
}

.toggle-label {
    margin: 0 10% 0 0;
}

.tools {
    padding: 0 10px;

    & > md-icon {
        color: $silver2;
        cursor: pointer;
        font-size: 20px;
        margin: 10px;

        &:hover {
            color: black;
        }
    }

    .pencil {
        margin: 0 5px;
    }

    img {
        width: 12px;
        height: 16px;
    }
}

span {
    font-size: 14px;
}

@media screen and (max-width: 1279px) {
    span {
        font-size: 14px;
    }

    .cone-name {
        max-width: 22vw;
    }
}

@media screen and (max-width: 959px) {
    .cone-name {
        max-width: 30vw;
    }
}