<safety-list-item [bulkEditable]="false" class="cone-line">
    <div fxLayout fxFlex fxLayoutAlign="start center" class="cone-info">
        <div fxLayout fxFlex fxLayoutAlign="start center" (click)="toEditCone(false)">
            <i class="{{ cone?.battery >= 30 ? 'full safety-icn-full-batery-svg ' : ''}} {{ cone?.battery < 30 && cone?.battery >= 10 ? 'medium safety-icn-medium-batery-svg ' : ''}} {{ cone?.battery < 10 ? 'low safety-icn-low-batery-svg ' : ''}}"
                [mdTooltip]="cone?.battery + '%'"></i>

            <span class="cone-name" [mdTooltip]="cone?.title">
                <b>{{ cone?.title }}</b>
            </span>
            <span class="horizontal-divider"> | </span>
            <span class="cone-id" fxHide.xs fxHide.sm>
                {{cone?.identification | coneIdPipe }}
            </span>
            <span class="horizontal-divider" fxHide.xs fxHide.sm> | </span>
            <span class="floor-name">
                {{floor?.name}} 
            </span>
            
            <span class="horizontal-divider" fxHide.xs fxHide.sm *ngIf="cone?.dtLastSync"> | </span>
            <span><i class="material-icons">access_time</i></span>
            <span *ngIf="cone?.dtLastSync"> 
                <b *ngIf="isToday">{{cone?.dtLastSync | date: 'HH:mm'}}</b>
                <b *ngIf="!isToday">{{cone?.dtLastSync | date: 'dd/MM/yyyy HH:mm'}}</b>
            </span>
            <span class="horizontal-divider" fxHide.xs fxHide.sm *ngIf="cone?.dtLastSync"> | </span>
            <span class="{{ cone?.statusConnection ? 'cone-online' : 'cone-offline'}}" fxHide.xs fxHide.sm *ngIf="cone?.dtLastSync">
                <b>{{cone?.statusConnection ? 'online' : 'offline'}}</b>
            </span>
            

        </div>

        <div fxLayout fxFlex fxLayoutAlign="end center" class="right-info">
            <span class="battery" fxHide.xs fxHide.sm *ngIf="cone?.battery">
                <b>{{cone?.battery}}%</b>
            </span>

            <span class="toggle-label" fxHide.xs fxHide.sm>
                {{cone?.active ? 'Ativado' : 'Desativado'}}
            </span>
            <md-slide-toggle [ngModel]="cone?.active" (change)="activeCone()">
            </md-slide-toggle>
        </div>
    </div>
    <div fxLayout fxLayoutAlign="end center" class="tools">
        <md-icon fxLayout fxLayoutAlign="center center" (click)="toEditCone(true)">edit</md-icon>
        <md-icon fxLayout fxLayoutAlign="center center" (click)="deleteCone()">delete</md-icon>
        <md-icon fxLayout fxLayoutAlign="center center" (click)="toResultAlerts(true)" mdTooltip="Alertas do Sensor">assignment_late</md-icon>
    </div>
</safety-list-item>