@import '../../../../../scss/components/color.scss';

.danger {
    color: $grapefruit;
    font-size: 11px !important;
}

.expired {
    color: $grapefruit;
}

.epi-info {
    span {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.21;
        text-align: center;
        color: $greyish-brown;
        margin-left: 10px;
    }
    .image-wrapper {
        height: 50px;
        width: 80px;

        img {
            height: 50px;
            width: 80px;
            margin-left: 5%;
        }
    }
}

.tools {
    padding: 0 10px;

    & > md-icon {
        color: $silver2;
        cursor: pointer;
        font-size: 20px;
        margin: 10px;

        &:hover {
            color: black;
        }

        &.slim {
            width: 21px;
            margin: 5px;
        }
    }

    .bell {
        margin: 0 15px;
        color: $greyish-brown;
    }

    .pencil {
        margin: 0 5px;
    }

    img {
        width: 12px;
        height: 16px;
    }

    .labeled-icon {
        margin: 5px 10px;

        span {
            margin-top: 5px;
            font-size: 12.1px;
            font-weight: 300;
            line-height: 1;
            text-align: center;
            color: $greyish-brown;
        }
    }
}

.epi-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
    max-width: 18vw;
}

.epi-type {
    margin: 0 0 3px 10px;
    span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: auto;
        max-width: 2%;
    }
}

.success    { background-color: $green-blue !important; }
.danger     { background-color: $grapefruit !important; }
.warn       { background-color: $sunflower !important; }

@media screen and (max-width: 759px) {
    .due-date {
        display: none !important;
    }
}
