@import '../../../../../scss/components/color.scss';

.construction-site-info {

    a {
        text-decoration:none;
    }

    .image-wrapper {
        height: 50px;
        width: 135px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    span {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.42;
        text-align: left;
        color: $greyish-brown;
        margin: 0 5px;
    }

    .title {
        font-size: 16px;
        line-height: 1.06;
    }

    .address {
        font-size: 14px;
        line-height: 0.85;
    }

    .sponsor {
        line-height: 0.42;
    }

    .status-icon {
        color: white;
        margin: 0 15px;
        display: block;
        font-size: 1em;
        
    }

    .success {
        border: none !important;
    }
}

.tools {
    padding: 0 10px;

    & > md-icon {
        color: $silver2;
        cursor: pointer;
        font-size: 20px;

        &:hover {
            color: black;
        }
    }

    .bell {
        margin: 0 15px;
        color: $greyish-brown;
    }

    .pencil {
        margin: 0 5px;
    }

    img {
        width: 16px;
        height: 16px;
    }

    .labeled-icon {
        margin: 5px 10px;

        span {
            margin-top: 5px;
            font-size: 12.1px;
            font-weight: 300;
            line-height: 1;
            text-align: center;
            color: $greyish-brown;
        }
    }
}

.success {
    background-color: $green-blue !important;
}

.danger {
    background-color: $grapefruit !important;
}

.warn {
    background-color: $sunflower !important;
}

@media screen and (min-width: 600px) and (max-width: 959px) {
    .construction-site-info {
    
        .image-wrapper {
            width: 90px;
        }
    }
}


