<md-toolbar fxLayout class="main-toolbar">

    <ng-content></ng-content>

    <span fxFlex></span>

    <div fxLayout>

        <ul md-nav-list fxLayout="row" fxLayoutAlign="space-around center" class="no-margin-no-padding">
            <li>
                <button md-icon-button (click)="openChangeCompany()">
                    <md-icon>autorenew</md-icon>
                </button>
            </li>
                    
            <li>
                <button md-icon-button (click)="openDialog()">
                    <md-icon>help</md-icon>
                </button>
            </li>

            <li md-list-item *ngIf="showNotification">
                <button md-icon-button (click)="toggle()">
                    <span *ngIf="numberOfNotReadNotifications > 0" class="numNotifications">{{ numberOfNotReadNotifications }}</span>
                    <md-icon>notifications</md-icon>
                </button>
            </li>

            <li style="margin-left:10px">
                <md-card-header [mdMenuTriggerFor]="profile">
                    <div md-card-avatar>
                        <img [src]="getAvatar()" alt="">
                    </div>
                </md-card-header>
            </li>
        </ul>
    </div>

    <md-menu #profile="mdMenu" yPosition="below" [overlapTrigger]="false">
        <profile-dropdown></profile-dropdown>
    </md-menu>

</md-toolbar>