<safety-dialog actionsDisable>
  <safety-dialog-header>Cadastro do Fornecedor</safety-dialog-header>

  <safety-dialog-content fxLayoutAlign="center center">
    <md-spinner *ngIf="isLoadingActive('getSupplier')" color="warn" class="inner-spinner"></md-spinner>

    <div *ngIf="! isLoadingActive('getSupplier')" fxFlex="100" fxLayout="column" fxLayoutGap="1em" class="card-container">
      <safety-card fxFlex="100" #supplierOverviewData (onOpen)="updateCardsClosed(supplierOverviewData)" [isHidden]="false">
        <safety-card-header>Dados da Empresa Fornecedora</safety-card-header>
        <safety-card-content fxLayout="row" fxLayoutWrap fxLayoutGap="1em">
          <supplier-overview-data fxFlex="fill" [supplier]="supplier"></supplier-overview-data>

          <button md-icon-button mdTooltip="Editar" (click)="redirectToEdit()" fxFlex="initial" fxFlexAlign="end">
              <md-icon>edit</md-icon>
          </button>
        </safety-card-content>
      </safety-card>

      <safety-card fxFlex="100" #supplierOverviewContact (onOpen)="updateCardsClosed(supplierOverviewContact)" [isHidden]="true">
        <safety-card-header>Dados de Contato</safety-card-header>
        <safety-card-content fxLayout="row" fxLayoutWrap fxLayoutGap="1em">
          <supplier-overview-contact fxFlex="fill" [supplier]="supplier"></supplier-overview-contact>

          <button md-icon-button mdTooltip="Editar" (click)="redirectToEdit()" fxFlex="initial" fxFlexAlign="end">
              <md-icon>edit</md-icon>
          </button>
        </safety-card-content>
      </safety-card>

      <safety-card fxFlex="100" #supplierOverviewAdditionalInformation (onOpen)="updateCardsClosed(supplierOverviewAdditionalInformation)" [isHidden]="true">
        <safety-card-header>Informações Adicionais</safety-card-header>
        <safety-card-content fxLayout="row" fxLayoutWrap fxLayoutGap="1em">
          <supplier-overview-additional-information fxFlex="fill" [supplier]="supplier"></supplier-overview-additional-information>

          <button md-icon-button mdTooltip="Editar" (click)="redirectToEdit()" fxFlex="initial" fxFlexAlign="end">
              <md-icon>edit</md-icon>
          </button>
        </safety-card-content>
      </safety-card>

      <safety-card fxFlex="100" #supplierOverviewDocumentation (onOpen)="updateCardsClosed(supplierOverviewDocumentation)" [isHidden]="true">
        <safety-card-header>Controle de Documentos</safety-card-header>
        <safety-card-content fxLayout="row" fxLayoutWrap fxLayoutGap="1em">
          <supplier-overview-documentation fxFlex="fill" [supplier]="supplier"></supplier-overview-documentation>

          <button md-icon-button mdTooltip="Editar" (click)="redirectToEdit()" fxFlex="initial" fxFlexAlign="end">
              <md-icon>edit</md-icon>
          </button>
        </safety-card-content>
      </safety-card>
    </div>
  </safety-dialog-content>
</safety-dialog>