@import '../../../../../scss/components/color.scss';

.search {
    height: 2em;
}

.order {
    min-width: 150px;

    & /deep/ {
        .mat-select-placeholder,
        .mat-select-value {
            color:          $warm-grey-four;
            font-size:      10px;
            font-weight:    900;
            line-height:    1.4;
            letter-spacing: 0.5px;
            text-align:     left;
        }

        .mat-select-underline {
            display: none !important;
        }
    }
}

.individual-equipment-list-item {
    margin: 0 0.9em 1.2em;
}