<md-spinner
  *ngIf="loadingStackService.isLoadingActive('getIndividualEquipmentList')"
  color="warn"
></md-spinner>

<div
  class="body-content"
  fxLayout="column"
  fxLayoutGap="2em"
>
  <div
    fxLaytout="row"
    fxLayoutAlign="start center"
  >
    <div
      fxFlex
      class="search"
    >
      <search
        (applyFilter)="filterIndividualEquipmentList()"
        (onTextChange)="onSearchValueChange($event)"
        [(value)]="searchValue"
      ></search>
    </div>

    <div
      fxFlex="15"
      fxFlexAlign="end"
    >
      <md-select
        [(ngModel)]="individualEquipmentListRequest.orderBy"
        floatPlaceholder="never"
        class="order"
        (change)="orderByChangeHandler($event)"
      >
        <md-option [value]="0">Últimos cadastrados</md-option>
        <md-option [value]="1">Primeiros cadastrados</md-option>
        <md-option [value]="2">Ordem Alfabética</md-option>
      </md-select>
    </div>
  </div>

  <div *ngIf="! loadingStackService.isLoadingActive('getIndividualEquipmentList')">
    <div
      *ngFor="let individualEquipment of individualEquipmentList"
      class="individual-equipment-list-item"
    >
      <individual-equipment-list-item
        [individualEquipment]="individualEquipment"
        (individualEquipmentChange)="individualEquipmentChangeHandler($event)"
        (individualEquipmentDelete)="individualEquipmentDeleteHandler($event)"
      ></individual-equipment-list-item>
    </div>

    <div *ngIf="individualEquipmentList.length === 0">
      <div
        *ngIf="noIndividualEquipmentRegistered"
        fxFlex
        fxLayout="column"
        fxLayoutAlign="space-around center"
      >
        <div
          fxFlex
          class="hello"
        >
          <p>Você não tem equipamentos cadastrados, cadastre um <b>novo equipamento.</b> </p>
        </div>
        <div fxFlex>
          <a
            class="start"
            md-raised-button
            type="button"
            name="button"
            (click)="openIndividualEquipmentDialog()"
          >
            <span>Cadastrar</span>
          </a>
        </div>
      </div>

      <div
        *ngIf="! noIndividualEquipmentRegistered"
        fxFlex
        fxLayout="column"
        fxLayoutAlign="space-around center"
        class="hello"
      >
        <p>Nenhum equipamento encontrado</p>
      </div>
    </div>
  </div>
</div>

<epi-fab-button (updateOnSave)="getIndividualEquipmentList()"></epi-fab-button>
