@import '../../../../../../../../scss/components/color.scss';

span {
    display: block;
    height: 14px;    
    font-size: 18px;
    font-weight: 300;
    line-height: 0.78;
    color: $warm-grey-four;
    display: block;
    margin-bottom: 13px;
}

.mat-select {    
    width: 360px;
    height: 25px;    
    padding: 8px 14px;  
    margin-bottom: 15px;
}

.permission-filters {
    max-height: 70px;
    overflow-y: auto;
}

safety-card {
    margin: 20px 0 0  0px;
}