<div class="body-content">
  <div fxLayout fxLayoutAlign="space-between center">
    <div fxLayout fxLayoutAlign="start center">
      <search
        [(showSearch)]="showSearch"
        (showSearchChange)="showSearchChangeHandler($event)"
        (applyFilter)="filterByText()"
        (onTextChange)="onSearchValueChange($event)"
        [(value)]="searchValue"
      ></search>

      <md-chip-list>
        <md-chip
          class="main-chip"
          [ngClass]="{ active: supplierListFilter.activeStatus }"
          (click)="toggleActiveStatusFilter()"
          mdTooltip="Clique para Filtrar"
          mdTooltipPosition="above"
        >
          <span>Ativos</span>
        </md-chip>
        <md-chip
          class="main-chip"
          [ngClass]="{ active: supplierListFilter.inactiveStatus }"
          (click)="toggleInactiveStatusFilter()"
          mdTooltip="Clique para Filtrar"
          mdTooltipPosition="above"
        >
          <span>Inativos</span>
        </md-chip>
      </md-chip-list>

      <button
        id="clean-button"
        md-raised-button
        class="button-default mat-button"
        (click)="clearstoragedFilter()"
      >
        Limpar
      </button>
    </div>

    <div fxLayout fxLayoutAlign="end center" class="right-actionbar">
      <md-select
        [(ngModel)]="supplierListRequest.orderBy"
        (change)="orderByChangeHandler($event)"
        floatPlaceholder="never"
        class="order"
      >
        <md-option
          *ngFor="let orderStyle of availableOrders"
          [value]="orderStyle.code"
        >
          {{ orderStyle.name }}
        </md-option>
      </md-select>

      <button md-icon-button type="button" name="button">
        <md-icon class="actived">list</md-icon>
      </button>
    </div>
  </div>

  <md-spinner
    *ngIf="isLoadingActive('getSupplierList')"
    color="warn"
  ></md-spinner>

  <div
    fxLayout="column"
    fxLayoutAlign="start center"
    *ngIf="
      !hasSupplierList() &&
      !isLoadingActive('getSupplierList') &&
      !supplierListRequest.isFilterApplied()
    "
  >
    <div class="hello">
      <p>
        Olá, para iniciar cadastre um
        <b>novo fornecedor.</b>
      </p>
    </div>
    <div
      class="register-btn"
      *ngIf="permissionService.hasSomePermission(['COMPANY_SUPPLIERS_CREATE'])"
    >
      <a
        class="start"
        md-raised-button
        type="button"
        name="button"
        [routerLink]="['./new']"
      >
        <span>Cadastrar</span>
      </a>
    </div>
  </div>

  <div
    fxLayoutAlign="end center"
    *ngIf="hasSupplierList()"
    class="list-wrapper"
  >
    <button
      md-icon-button
      (click)="previousPage()"
      [disabled]="previousPageDisabled()"
    >
      <md-icon>keyboard_arrow_left</md-icon>
    </button>
    <span>{{ supplierListRequest.page }}</span>
    <button md-icon-button (click)="nextPage()" [disabled]="nextPageDisabled()">
      <md-icon>keyboard_arrow_right</md-icon>
    </button>
  </div>

  <div
    *ngIf="
      !hasSupplierList() &&
      !isLoadingActive('getSupplierList') &&
      supplierListRequest.isFilterApplied()
    "
    id="message-empty"
  >
    <p>Nenhum fornecedor encontrado.</p>
  </div>

  <div
    class="list-wrapper"
    *ngIf="hasSupplierList() && !isLoadingActive('getSupplierList')"
  >
    <div *ngFor="let supplier of supplierList">
      <line-supplier
        fxFlex
        fxLayout
        fxLayoutAlign="space-between center"
        *ngIf="supplier"
        [supplier]="supplier"
      ></line-supplier>
    </div>
  </div>

  <fab-speed-dial
    #myFab
    *ngIf="permissionService.hasSomePermission(['COMPANY_SUPPLIERS_CREATE'])"
    [direction]="'up'"
    [animationMode]="'fling'"
    [fixed]="false"
    (mouseenter)="myFab.open = true"
    (mouseleave)="myFab.open = false"
  >
    <fab-trigger [spin]="true">
      <button md-fab>
        <md-icon>add</md-icon>
      </button>
    </fab-trigger>

    <fab-actions>
      <button
        md-mini-fab
        *ngIf="
          permissionService.hasSomePermission(['COMPANY_SUPPLIERS_CREATE'])
        "
        mdTooltip="Adicionar fornecedor"
        mdTooltipPosition="before"
        (click)="redirectTo('./new')"
      >
        <i class="safety-icn-gerenciamento-svg"></i>
      </button>
      <button
        md-mini-fab
        mdTooltip="Gerar Relatório"
        mdTooltipPosition="before"
        (click)="openPrintSupplierDocumentationReportDialog()"
      >
        <md-icon>assignment</md-icon>
      </button>
    </fab-actions>
  </fab-speed-dial>
</div>
