<div fxLayout fxLayoutAlign="start center">

    <span class="filters-title" [fxHide.xs]="true" [fxHide.sm]="true">Ferramentas: </span>

    <div fxFlex fxLayout fxLayoutAlign="center center" class="tool-card" [ngClass]="{ active: selectedIcon === icon }" 
        *ngFor="let icon of icons" (click)="select(icon)" [mdTooltip]="icon.title">

        <img src="assets/maps/icons/{{ icon.name }}.png" srcset="assets/maps/icons/{{ icon.name }}@2x.png 2x, assets/maps/icons/{{ icon.name }}@3x.png 3x">
    </div>
</div>
