<div
  fxLayout
  fxLayoutAlign="start center"
>
  <button
    md-icon-button
    type="button"
    fxLayoutAlign="center center"
    (click)="showSearch = !showSearch"
  >
    <md-icon class="search">search</md-icon>
  </button>

  <md-input-container [@searchState]="inputState">
    <input
      #textFilterInput
      mdInput
      floatPlaceholder="never"
      [(ngModel)]="_value"
      (input)="textChange(textFilterInput.value);"
      (keydown.enter)="handlePressEnter();"
    >
  </md-input-container>
</div>
