.button-default {
  background-color: #A1ABB0;
  color: white;
  margin-bottom: 10px;
}

.checkbox-container{
  margin-top: 22px;
  max-width: 116px;
}

.business-tree-container {
  margin-top: 12px;
  max-width: 49.2%;
}

.cnpj-container {
  min-width: 300px;
}
