<div class="body-content">
  <div>
    <a md-raised-button class="button-default mat-button" routerLink="/settings/">Voltar</a>
</div>
  <safety-card toggleDisable>
    <safety-card-header>
      <span>Cadastrar Empresa</span>
    </safety-card-header>
    <safety-card-content>
      <form [formGroup]="companyForm" novalidate>
        <div class="form-content grid-container">
          <div class="grid-column">

            <div class="grid-row">
              <md-input-container class="grid-column-100 cnpj-container">
                <input mdInput placeholder="CNPJ" [textMask]="{ mask: cnpjMask }" formControlName="cnpj"
                  [(ngModel)]="company.cnpj" name="cnpj" required
                  (blur)="onBlurCnpj(companyForm.controls.cnpj.hasError('cnpj'))" (ngModelChange)="onTypeCnpj()">
                <md-error *ngIf="companyForm.controls.cnpj.hasError('required')">Campo Obrigatório.</md-error>
                <md-error
                  *ngIf="!companyForm.controls.cnpj.hasError('required') && companyForm.controls.cnpj.hasError('cnpj')">
                  CNPJ Inválido.</md-error>
              </md-input-container>

              <div class="grid-row">
                <div class="checkbox-container">
                  <md-checkbox disableRipple="true" color="primary" formControlName="integration"
                    [(ngModel)]="company.integration" (ngModelChange)="onIntegrationChange($event)"
                    [disabled]="!hasConnection">
                    <span>Integração</span>
                  </md-checkbox>
                </div>
              </div>
            </div>


            <div class="grid-row">
              <md-input-container>
                <input mdInput placeholder=" RAZÃO SOCIAL" formControlName="corporateName"
                  [(ngModel)]="company.corporateName" name="corporateName" maxlength="255" trimText>
              </md-input-container>
              <md-input-container>
                <input mdInput placeholder="NOME FANTASIA" formControlName="fakeName" [(ngModel)]="company.fakeName"
                  name="fakeName" maxlength="255" trimText required>
                <md-error *ngIf="companyForm.controls.cnpj.hasError('required')">Campo Obrigatório.</md-error>
              </md-input-container>
            </div>
          </div>
        </div>

        <div class="grid-row">
          <div class="business-tree-container">
            <div *ngIf="!showBusinessTree">
              <md-select required formControlName="businessUnitId" placeholder="{{businessTitle}}"
                [(ngModel)]="businessUnitId" (click)="onClickBusinessUnit()">
                <md-option *ngIf="company.businessUnit" [mdTooltip]="company.businessUnit.name"
                  matTooltipPosition="right" [value]="company.businessUnit.id">
                  {{ company.businessUnit.name }} </md-option>
              </md-select>
            </div>
            <div class="treeview">
              <tree-wraper [hidden]="!showBusinessTree" #tree [nodes]="nodes" [options]="options"
                (activate)="onEvent($event)"></tree-wraper>
            </div>
          </div>
        </div>


        <md-spinner style="position: relative;" *ngIf="isLoadingActive('save')" color="warn"></md-spinner>

        <div class="form-bottom">
          <button md-button class="button-red" [disabled]="disableSave()" (click)="save()">salvar</button>
        </div>
      </form>
    </safety-card-content>
  </safety-card>
</div>
