.image-upload {
    background-size: 25%;
    cursor: pointer;
    opacity: 0.8;

    &:focus, &:hover {
        opacity: 1;
    }
}

.mat-input-element {
    &:disabled {
        color: rgba(0,0,0,.5);
    }
}

.url-input-field {
    width: 66% !important;
}

.edit-url-domain-icon {
    vertical-align: middle;
    display: inline-block;
    margin-left: 1em;
}

.grid-row > .half {
    width: 25%;
}

drop-file {
    width: 350px;
    height: 200px;
}
