<safety-dialog actionsDisable>
  <safety-dialog-header>
    Alterar Empresa
  </safety-dialog-header>
  <safety-dialog-content>
    <form [formGroup]="changeCompanyForm" id="formBasicData" name="formBasicData" novalidate class="dialog-content">
      <div>

        <md-select class="managements-list" placeholder="Selecione a Empresa" [(ngModel)]="management"
          formControlName="company" name="company" (click)="cleanSearch()">

          <input name="searchTerm" formControlName="searchTerm" [(ngModel)]="searchTerm" type="search"
            class="header-searchbox" placeholder="nome da empresa" (click)="cleanSelection()" />

          <md-option *ngFor="let m of managementsList | myfilter:searchTerm" [value]="m">
            {{ m.company.fakeName }}
          </md-option>
        </md-select>

        <safety-dialog-actions>
          <button name="selectCompany" md-button class="button-red" (click)="changeCompany()"
            name="btnSubmitCompany">Alterar</button>
        </safety-dialog-actions>
      </div>
    </form>
  </safety-dialog-content>

</safety-dialog>
