<safety-dialog actionsDisable>
    <safety-dialog-header>
        perfil do trabalhador
    </safety-dialog-header>

    <safety-dialog-content>
        <safety-card #personalDetailsCard style="padding-bottom: 20px">
            <safety-card-header>dados pessoais</safety-card-header>
            <safety-card-content>
                <worker-personal-details [worker]="worker"></worker-personal-details>
            </safety-card-content>
        </safety-card>

        <safety-card #qualificationsDetailsCard style="padding-bottom: 20px" isHidden="true">
            <safety-card-header>HABILITAÇÕES</safety-card-header>
            <safety-card-content>
                <worker-qualifications-details [worker]="worker"></worker-qualifications-details>
            </safety-card-content>
        </safety-card>

        <safety-card #securityDetailsCard style="padding-bottom: 20px" isHidden="true">
            <safety-card-header>DADOS DE SEGURANÇA</safety-card-header>
            <safety-card-content>
                <worker-security-details [worker]="worker"></worker-security-details>
            </safety-card-content>
        </safety-card>

        <safety-card #asoDetailsCard isHidden="true">
            <safety-card-header>DADOS DE SAÚDE</safety-card-header>
            <safety-card-content>
                <worker-aso-details [worker]="worker"></worker-aso-details>
            </safety-card-content>
        </safety-card>
    </safety-dialog-content>
</safety-dialog>