<div fxLayout="column" class="container">
  <div *ngIf="episData.return?.length > 0 || episData.returnIndividualEquipmentList?.length > 0">
    <div class="header">
      <span>EPI a serem devolvidos</span>
      <div class="separator"></div>
    </div>
    <div class="epi-data-container">
      <div *ngFor="let epi of episData.return" fxLayoutGap="0.5em" class="epi-data">
        <div fxFlex>
          CA{{epi.ca.ca}} - {{epi.epiId.description}}
        </div>
        <div fxFlex="initial" fxFlexAlign="end">
          Quantidade {{ episData.availableReturnEpi.get(epi.id).amount }}
        </div>
      </div>
      <div *ngFor="let individualEquipment of episData.returnIndividualEquipmentList" class="epi-data">
        <div fxFlex>
          {{individualEquipment.description}}
        </div>
        <div fxFlex="initial" fxFlexAlign="end">
          Quantidade {{ episData.availableReturnIndividualEquipment.get(individualEquipment.id).amount }}
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="episData.deliver?.length > 0 || episData.deliveryIndividualEquipmentList?.length > 0">
    <div class="header">
      <span>EPI a serem entregues</span>
      <div class="separator"></div>
    </div>
    <div class="epi-data-container">
      <div *ngFor="let epi of episData.deliver" class="epi-data">
        <div fxFlex>
          CA{{epi.ca.ca}} - {{epi.epiId.description}}
        </div>
        <div fxFlex="initial" fxFlexAlign="end">
          Quantidade {{ episData.availableDeliverEpi.get(epi.id).amount }}
        </div>
      </div>
      <div *ngFor="let individualEquipment of episData.deliveryIndividualEquipmentList" class="epi-data">
        <div fxFlex>
          {{individualEquipment.description}}
        </div>
        <div fxFlex="initial" fxFlexAlign="end">
          Quantidade {{ episData.availableDeliveryIndividualEquipment.get(individualEquipment.id).amount }}
        </div>
      </div>
    </div>
  </div>

  <div class="header">
    <span>Informações da senha do trabalhador</span>
    <div class="separator"></div>
  </div>
  <div fxLayout="row">
    <div fxFlex="60">
      <p [innerHTML]="workerPasswordConfirmationInfoLabel" class="worker-password-confirmation-info-label"></p>
    </div>

    <div *ngIf="! onChangePassword" fxLayout="column" fxFlex="40" [formGroup]="workerPasswordConfirmationForm">
      <md-input-container>
          <input type="password" #password mdInput placeholder="Digite sua senha" name="password" formControlName="password">
          <md-error *ngIf="workerPasswordConfirmationForm.controls.password.hasError('required')">campo obrigatório.</md-error>
      </md-input-container>
      <a class="password-recovery-link" (click)="doChangePassword()">Recriar a senha</a>
    </div>

    <div *ngIf="onChangePassword" fxLayout="column" fxFlex="40" [formGroup]="workerPasswordChangeForm">
      <md-input-container>
          <input type="password" #newPassword mdInput placeholder="Digite sua nova senha" name="newPassword" formControlName="newPassword" trimText>
          <md-error *ngIf="workerPasswordChangeForm.controls.newPassword.hasError('required')">campo obrigatório.</md-error>
          <md-error *ngIf="workerPasswordChangeForm.controls.newPassword.hasError('minlength') || workerPasswordChangeForm.controls.newPassword.hasError('maxlength')">a senha deve conter entre {{ passwordMinLength }} e {{ passwordMaxLength }} caracteres.</md-error>
          <md-error *ngIf="workerPasswordChangeForm.controls.newPassword.hasError('invalid') && !workerPasswordChangeForm.controls.newPassword.hasError('required')">Senha inválida.</md-error>
      </md-input-container>
      <md-input-container>
          <input type="password" #newPasswordConfirm mdInput placeholder="Confirme sua nova senha" name="newPasswordConfirm" formControlName="newPasswordConfirm" trimText>
          <md-error *ngIf="workerPasswordChangeForm.controls.newPasswordConfirm.hasError('mismatch')">Senhas diferentes.</md-error>
          <md-error *ngIf="workerPasswordChangeForm.controls.newPasswordConfirm.hasError('required')">campo obrigatório.</md-error>
          <md-error *ngIf="workerPasswordChangeForm.controls.newPasswordConfirm.hasError('invalid') && !workerPasswordChangeForm.controls.newPasswordConfirm.hasError('required')">Senha inválida.</md-error>
      </md-input-container>
      <md-input-container>
          <input type="text" #birthDateConfirm mdInput placeholder="Digite o {{ dateFieldToValidate.text }} da sua data de nascimento" maxLength="2" name="birthDateConfirm" formControlName="birthDateConfirm" trimText>
          <md-error *ngIf="workerPasswordChangeForm.controls.birthDateConfirm.hasError('required')">campo obrigatório.</md-error>
          <md-error *ngIf="workerPasswordChangeForm.controls.birthDateConfirm.hasError('pattern')">digite apenas números.</md-error>
          <md-error *ngIf="workerPasswordChangeForm.controls.birthDateConfirm.hasError('invalid') && !workerPasswordChangeForm.controls.birthDateConfirm.hasError('required')">{{ dateFieldToValidate.text }} inválido.</md-error>
      </md-input-container>
      <a *ngIf="this.worker.hasPassword" class="password-recovery-link" (click)="doCancelChangePassword()">Voltar</a>
    </div>
  </div>
</div>