<safety-dialog class="dialog">
    <safety-dialog-header fxLayoutAlign="left" >
        {{chartTitle}} 
    </safety-dialog-header>
    <safety-dialog-content class="dialog" >
        <div fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-between center" >
            <div class="dialog">
                <div class="filters">
                    <div fxFlex="100">
                        <button md-icon-button type="button" (click)="previousItem()" *ngIf="listChecklistChartFilter.length > limitItems" disabled="{{posiItems == 0}}" >
                            <md-icon>keyboard_arrow_left</md-icon>
                        </button>
                        <md-chip-list fxFlexOrder.lt-md="1" fxFlex="100">
                            <md-chip fxFlex="30" *ngFor="let item of listChecklistChartFilterLimit" class="main-chip chip {{ item.selected ? 'active' : ''}} non-compliance" (click)="toggleActiveFilter(item)" md-tooltip="{{item.description}}" >
                                <span fxLayoutAlign="center">{{item.description | Limit: 35}}</span>
                            </md-chip>
                        </md-chip-list>
                        <button md-icon-button type="button" (click)="nextItem()" *ngIf="listChecklistChartFilter.length > limitItems" disabled="{{ (posiItems + limitItems) >= listChecklistChartFilter.length}}" >
                            <md-icon>keyboard_arrow_right</md-icon>
                        </button>
                    </div>
                </div>
                <div class="grid-container" class="dialog">
                    <div class="grid-column">
                        <div echarts [options]="chartOption" class="demo-chart" style="background-color: white;"></div>
                    </div>
                </div>
            </div>
        </div>
    </safety-dialog-content>
    <safety-dialog-actions>
        <button md-button class="button-default" md-dialog-close>Fechar</button>
    </safety-dialog-actions>
</safety-dialog>