<div
  #bodyContent
  class="listTemplate body-content"
  fxFlex
  [ngSwitch]='status'
>

  <div *ngSwitchCase="'loading'">
    <md-spinner color="warn"></md-spinner>
  </div>

  <div *ngSwitchCase="'active'">

    <div class="list-content">

      <div class="list-wrapper">

        <div
          fxLayout
          fxLayoutAlign="space-between center"
          class="divtop filters"
          *ngIf="sensorsCompany.length > 0"
        >
          <search
            [(value)]="searchValue"
            (applyFilter)="filterByText()"
            (onTextChange)="onSearchValueChange($event)"
          ></search>
        </div>

        <div
          class="list"
          *ngIf="sensorsCompany.length > 0 && !waiting"
        >
          <virtual-scroll
            [parentScroll]="getParentScroll()"
            [bufferAmount]="4"
            [childHeight]="100"
            [items]="sensorsCompanyFiltered"
            (update)="scrollManagements = $event"
          >
            <div
              class="user-item"
              *ngFor="let sensor of sensorsCompanyFiltered"
            >
              <sensor-line-detail
                (saved)="reloadList($event)"
                [sensor]="sensor"
              ></sensor-line-detail>
            </div>
          </virtual-scroll>
        </div>

      </div>

      <div *ngIf="sensorsCompany.length == 0">
        <div class="body-content">
          <div
            fxFlex
            fxLayout="column"
            fxLayoutAlign="space-around center"
          >
            <div
              fxFlex
              class="hello"
            >
              <p>Não existem sensores cadastrados.
              </p>
            </div>
            <div fxFlex>
              <a
                class="start"
                md-raised-button
                type="button"
                name="button"
                (click)="openDialogCadastro()"
              >
                <span>Cadastrar</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <fab-speed-dial
    *ngIf="showFabButton"
    #myFab
    [direction]="direction"
    [animationMode]="animationMode"
    [fixed]="fixed"
    (mouseenter)="myFab.open = true"
    (mouseleave)="myFab.open = false"
  >
    <fab-trigger [spin]="spin">
      <button md-fab>
        <md-icon>add</md-icon>
      </button>
    </fab-trigger>

    <fab-actions>
      <button
        md-mini-fab
        mdTooltip="Adicionar Sensor"
        mdTooltipPosition="before"
        (click)="openDialogCadastro()"
      >
        <md-icon>add</md-icon>
      </button>
    </fab-actions>
  </fab-speed-dial>


</div>
