<ul class="no-margin-no-padding no-disc">
  <li class="{{actionPlanItem.status}}">
    <div fxLayout="row">
      <div fxFlex="87%" fxLayoutAlign="start center" class="infos">
        <md-icon [mdTooltip]="getStatusName()" class="{{actionPlanItem.status}}">access_time</md-icon>
        <span class="date"> {{actionPlanItem.beginAt | date: 'dd/MM/yyyy'}}</span> 
        <span class="text"> a </span>
        <span class="date"> {{actionPlanItem.endAt | date: 'dd/MM/yyyy'}}</span>
        <span class="horizontal-divider"> |</span>
        <span class="text">{{actionPlanItem.priority}}</span>
        <span class="horizontal-divider"> |</span>
        <span class="text long"> {{actionPlanItem.description}}</span>
      </div>

      <div fxFlex fxLayoutAlign="end center" class="buttons">
        <button md-icon-button (click)="openForm(actionPlanItem)">
          <md-icon mdTooltip="Visualizar">view_list</md-icon>
        </button>

        <a *ngIf="isFinished()" mdTooltip="Finalizar" href="javascript:void(0)" (click)="finishedAction(actionPlanItem)">
          <img class="bigger" src="assets/activities/tasks/check-tool.png" alt="concluir">
        </a>
      </div>
    </div>

  </li>

</ul>