:host {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.with-action {
  width: calc(100% - 28px);
}

md-icon {
  cursor: pointer;
  flex-basis: 0;
}

md-spinner {
  position: relative !important;
  top: 0;
  left: 0;
  display: block;
  width: 24px !important;
  height: 24px;
  flex-basis: 24px;
}

button {
  flex-basis: unset;
}