<md-input-container class="with-action">
  <input mdInput placeholder="CEP" name="CEP" [(ngModel)]="cepModel" [textMask]="{ mask: cepMask }"
    [formControl]="control" [required]="required" (blur)="onBlur()" [disabled]="isDisabled" />
  <md-error *ngIf="control.hasError('required')">Campo Obrigatório.</md-error>
  <md-error *ngIf="!control.hasError('required') && control.hasError('invalid')">Cep Inválido</md-error>
</md-input-container>
<md-spinner *ngIf="loadingCep" color="warn"></md-spinner>
<button *ngIf="!isDisabled" md-icon-button name="searchCEP" type="button"
  (click)="isDisabled || control.invalid ? '' : searchCep()"
  [disabled]="isDisabled || control.invalid || !control.value">
  <md-icon *ngIf="!loadingCep">
    search
  </md-icon>
</button>
