<topnavbar-component fxLayout="row" fxLayoutWrap>
    <md-icon [mdMenuTriggerFor]="workerMenu" class="menu-icon">menu</md-icon>

    <h1>trabalhadores</h1>

    <nav md-tab-nav-bar fxLayout="row" fxLayoutAlign="space-around center">
        <a md-tab-link *ngFor="let routeLink of routeLinks; let i = index" [routerLink]="['/' + routeLink.link]" [active]="activeLinkIndex === i"
            (click)="activeLinkIndex = i">
            <span>{{ routeLink.label }}</span>
        </a>
    </nav>
</topnavbar-component>

<notification-sidenav-container fxFlex>
    <router-outlet></router-outlet>
</notification-sidenav-container>

<md-menu #workerMenu="mdMenu" yPosition="below" [overlapTrigger]="false">
    <button md-menu-item *ngFor="let routeLink of routeLinks" (click)="redirectTo('/' + routeLink.link)">
        {{ routeLink.label }}
    </button>
</md-menu>