@import '../../../../../../../../scss/components/color.scss';

.sensor-identification-title {
    display: block;    
    height: 14px;    
    font-weight: 300;
    line-height: 0.78;
    margin-bottom: 5px;
    color: $warm-grey-four;    
}
