<div class="dashboard-container upper-container">

  <div fxLayout="row" fxLayoutWrap>

    <div fxFlex="66" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
     <!-- <construction-counter-widget [filter]="dashboardFilter"></construction-counter-widget>-->
    </div>

    <div fxlayout="column" fxFlex="33" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" style="position: relative; top: 15px;">

      <div fxLayout fxLayout.lt-md="column" fxLayoutAlign="center center">

        <form [formGroup]="dashboardFilterForm" novalidate>
          <span>&nbsp;&nbsp;&nbsp;</span>
          <md-input-container fxFlex="30">
            <input mdInput md-datepicker dateMask="99/99/9999" formControlName="beginAt" [max]="maxBeginDate()" [mdDatepicker]="pickerBegin" placeholder="data início"
              validateOnBlur>
            <button mdSuffix [mdDatepickerToggle]="pickerBegin"></button>
            <md-error *ngIf="hasErrorForm('beginAt', 'invalid')">data inválida.</md-error>
            <md-error *ngIf="!hasErrorForm('beginAt', 'invalid') && hasErrorForm('beginAt', 'required')">data início não preenchida.</md-error>
            <md-error *ngIf="hasErrorForm('beginAt', 'isTodayOrAfter')">data deve ser anterior ao dia atual.</md-error>
            <md-error *ngIf="hasErrorForm('beginAt', 'isEndBeforeBegin')">data superior a data fim.</md-error>
            <md-datepicker #pickerBegin></md-datepicker>
          </md-input-container>

          <span>&nbsp;&nbsp;&nbsp;</span>

          <md-input-container fxFlex="30">
            <input mdInput dateMask="99/99/9999" formControlName="endAt" [max]="maxEndDate()" [mdDatepicker]="pickerEnd" placeholder="data fim" validateOnBlur>
            <button mdSuffix [mdDatepickerToggle]="pickerEnd"></button>
            <md-error *ngIf="hasErrorForm('endAt', 'invalid')">data inválida.</md-error>
            <md-error *ngIf="!hasErrorForm('endAt', 'invalid') && hasErrorForm('endAt', 'required')">data fim não preenchida.</md-error>
            <md-error *ngIf="hasErrorForm('endAt', 'isTodayOrAfter')">data deve ser anterior ao dia atual.</md-error>
            <md-error *ngIf="hasErrorForm('endAt', 'isEndBeforeBegin')">data inferior a data início.</md-error>
            <md-datepicker #pickerEnd></md-datepicker>
          </md-input-container>

          <span>&nbsp;&nbsp;&nbsp;</span>
            
          <md-select style="margin-top: 13px;" fxFlex="30" formControlName="constructionIds" multiple placeholder="Todas as Obras"
          [(ngModel)]="selectedConstruction" class="order">
            <md-option *ngFor="let construction of constructionsList" [value]="construction.id">
              {{ construction.name }}
            </md-option>
          </md-select>
        </form>

        <button md-raised-button class="button-red mat-button" [disabled]="dashboardFilterForm.invalid" (click)="applyFilter()" style="bottom: 3px">Filtrar</button>

      </div>

    </div>

  </div>

</div>

<div class="dashboard-container" fxLayout="row" fxLayoutAlign="space-between" fxLayoutWrap>

  <div fxFlex="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" style="padding: 3px" *ngIf="permissionService.hasSomePermission(['COMPANY_DASHBOARD_SHOW_ASO'])">
    <worker-aso-chart [filter]="dashboardFilter"></worker-aso-chart>
  </div>
  
  <div fxFlex="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" style="padding: 3px" *ngIf="permissionService.hasSomePermission(['COMPANY_DASHBOARD_SHOW_QUALIFICATION'])">
    <worker-qualification-chart [filter]="dashboardFilter"></worker-qualification-chart>
  </div>

  <div fxFlex="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" style="padding: 3px" *ngIf="permissionService.hasSomePermission(['COMPANY_DASHBOARD_SHOW_EPI'])" >
    <epi-delivery-chart [filter]="dashboardFilter"></epi-delivery-chart>
  </div> 

  <div fxFlex="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" style="padding: 3px" *ngIf="permissionService.hasSomePermission(['COMPANY_DASHBOARD_SHOW_TRAINING_SCHEDULE'])" >
    <training-schedule-chart [filter]="dashboardFilter"></training-schedule-chart>
  </div> 

</div>
