@import "../../../../../../../scss/components/color";


section {
  width: 100%;
  p {
    margin: auto;
    width: 100%;
  }

  md-input-container {
    width: 100%;
  }

  table {
    width: 100%;
    height: auto;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.27;
    color: $greyish-brown;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 21px;

    tr {

      th {
          width: 100%;
      }

      td {
        padding: 5px 0 5px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 24px;
      }

      .cbo {
        width: 30%;
      }

      .cpf {
        width: 20%
      }

      md-checkbox{
        padding: 5px 10px;

        td {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &:first-of-type {
        &.selected, &:hover {
          background: transparent;
        }
      }

      &.selected, &:hover {
        background-color: $pale-gray2;
      }

      &.bordered {
        border-bottom: 1px solid #dde2e3;

        &.selected, &:hover {
            background: transparent;
        }
      }
    }
  }
}

h2 {
  font-size: 1em;
}

.button-group {
  margin: auto;

  button {
    padding: 0;
    background-color: $cool-grey;
    color: white;
    margin: 10px 20px 10px 20px;
  }
}

thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}

thead {
  width: calc( 100% - 1em );
  overflow: hidden;
}
table {
  width:auto;
}

.button-group {
  md-icon {
      color: white;
  }
}

virtual-scroll {
  height: 200px;
}
