:host {
    height: 950vh;

}



.sub-title {
    font-size: 20px;
    font-weight: 300;
    color: rgba(129, 128, 127, 0.788);
}


.text-step{
    font-weight: bold;
    font-size: 10px;
    color: rgba(129, 128, 127, 0.788)
}

.step-selected {
    color: #FF4C4C;
    font-weight: bold;
    md-icon{
        font-size: 20px;
        width: 10px;
        height: 10px;
    }

}
