<div class="filter">
  <search
    (applyFilter)="filterByText()"
    (onTextChange)="onSearchValueChange($event)"
    [(value)]="searchValue"
  ></search>
</div>

<md-spinner
  *ngIf="isLoadingActive()"
  color="warn"
></md-spinner>

<div
  class="list-container"
  *ngIf="!isLoadingActive()"
>
  <div
    class="body-content"
    *ngIf="!actionPlansFiltered || actionPlansFiltered.length === 0"
  >
    <div
      fxFlex
      fxLayout="column"
      fxLayoutAlign="space-around center"
    >
      <div
        fxFlex
        class="hello"
      >
        <p>Não há planos de ação à serem listados</p>
      </div>
    </div>
  </div>

  <div
    *ngFor="let actionPlan of actionPlansFiltered"
    class="list-item"
  >
    <action-plan-list-line-detail
      id="teste"
      #viewLine
      [actionPlan]="actionPlan"
      (inactivateActionPlanEvent)="inactivateActionPlan($event)"
      (openActionPlan)="doOpenActionPlan(actionPlan)"
    ></action-plan-list-line-detail>
  </div>
</div>
