<div class="body-content">
    <div>
        <a md-raised-button class="button-default mat-button" routerLink="/constructions/">Voltar</a>
    </div>
    
    <md-tab-group disableRipple>
        <md-tab label="dados da obra">
            <construction-form></construction-form>
        </md-tab>
        <!-- <md-tab label="cronograma da obra"> -->
            <!-- <construction-site-schedule></construction-site-schedule>  -->
        <!-- </md-tab> -->
        <!-- <md-tab label="cadastro SST"> -->
            <!-- <safety-in-work-data></safety-in-work-data>  -->
        <!-- </md-tab> -->
    </md-tab-group>
</div>