<safety-dialog>
    <safety-dialog-header>
        {{ title }}
    </safety-dialog-header>
    <safety-dialog-content>
        <form [formGroup]="taskForm">
            <div class="md-dialog-content">
              <div class="grid-container" [formGroup]="taskForm">
                <div class="grid-column">
                  <div class="grid-row">
                    <md-input-container>
                      <textarea mdInput formControlName="checkedObservation" [maxlength]="taskObservationMaxLength" placeholder="observação da tarefa" name="taskObservation" [(ngModel)]="task.checkedObservation"
                        rows="4" trimText></textarea>
                      <md-hint align="end">{{ task.checkedObservation ? task.checkedObservation.length : 0 }} / {{ taskObservationMaxLength }}</md-hint>
                    </md-input-container>
                  </div>
                  <div class="grid-row">
                    <tasks-attachment-files [editable]="!isSaving" [task]="task"></tasks-attachment-files>
                  </div>
                </div>
              </div>
            </div>
        </form>
    </safety-dialog-content>

    <safety-dialog-actions>
        <md-spinner class="in-component" *ngIf="isSaving" color="warn"></md-spinner>
        <button md-button class="button-red" (click)="completeTask()">Concluir</button>
    </safety-dialog-actions>
</safety-dialog>