@import '../../../../../../../../../scss/components/color.scss';

p {
    margin: 0.25em 0;
}

.info-row {
    margin-bottom: 0.5em;
}

.bolder {
    font-weight: bold;
}

.attendance-list {
    height: 10em;
    overflow: auto;
    border: 1px solid $silver2;

    .attendance-list-item {
        p {
            margin: 0 0.5em;
        }
    }

}